<div class="comments">
  <% if defined?(birdie) and birdie %>
    <div class="birdie"></div>
  <% end %>
  <div class="count"><%= t('.title', :count => @comments_count) %></div>
  <ul>
    <% @comments.reject{|c| c.new_record?}.each do |comment| %>
      <li class="clearfix <%= 'not_moderated' unless comment.moderated %>">
      <%= avatar comment.author %>
      <div class="comment">
        <blockquote><span class="bqstart">&#8220;</span><span class="quote"><%= comment.body %><span class="bqend">&#8221;</span></span></blockquote>
        <div class="footer when">
          <% if comment.moderated -%>
            <%= link_to comment.author.fullname, user_path(comment.author), :class => :author %> <%= t('.time', :time => distance_of_time_in_words_to_now(comment.published_at)) %>
          <% else -%>
            <span class="published_at">
              <%= raw t('.not_moderated.author', :author_url => user_path(comment.author), :time => distance_of_time_in_words_to_now(comment.published_at)) %>
            </span>
            &middot;
            <span class="moderation_pending">
              <%= t('.not_moderated.moderation_pending') %>
            </span>
          <% end -%>
        </div>
      </div>
      </li>
    <% end %>

    <li class="comment <%= 'first' if @comments.blank? %>">
    <%= form_for @comment, :remote => true, :html => {:'data-type' => 'html', :class => :add_comment }  do |form| %>
      <%= form.hidden_field :content_id %>
      <%= avatar current_user %>
      <div class="textarea-comment placeholder">

        <%= form.fields_for :comment_data do |comment_data| %>
          <%= comment_data.text_area :body, :id => :comment %>
          <span class="holder"><%= raw t(".answer_this.#{@content.class.to_s.downcase}") %></span>
        <% end %>

      </div>
      <button type="submit" class="<%= class_for_modal_login %> white_button blue right"><span><%= t('.new.submit') %></span></button>
      <span id="comment_spinner" class="spinner"></span>
    <% end -%>
    </li>

  </ul>
</div>
