<div class="comments">
  <% if defined?(birdie) %>
    <div class="birdie"></div>
  <% end %>

  <div class="count"><%= t('.title', :count => @content.comments.count) %></div>
  <ul>
    <% if @comments.count.zero? %>
      <li></li>
    <% end %>
    <% @comments.reject{|c| c.new_record?}.each do |comment| %>
      <li>
      <%= avatar comment.user %>
      <div class="comment">
        <blockquote><%= simple_format comment.body %></blockquote>
        <div class="footer when">
          <%= link_to comment.user.fullname, user_path(comment.user), :class => :author %> <%= t('.time', :time => distance_of_time_in_words_to_now(comment.published_at)) %>
        </div>
      </div>
      </li>
    <% end %>

    <% if current_user %>
      <li class="comment">
      <%= form_for @comment, :remote => true, :html => {:'data-type' => 'html'}  do |form| %>
        <%= form.hidden_field :content_id %>
        <%= form.hidden_field :user_id %>
        <%= avatar current_user %>
        <div class="textarea-comment placeholder">

          <%= form.fields_for :comment_data do |comment_data| %>
            <%= comment_data.text_area :body, :id => :comment %>
            <span class="holder"><%= t(".answer_this.#{@content.class.to_s.downcase}") %></span>
          <% end %>

        </div>
        <button type="submit" class="white_button blue right"><span><%= t('.new.submit') %></span></button>
      <% end -%>
      </li>
    <% end -%>
  </ul>
</div>
