<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <p class="info">
    <span class="date"><%= l @content.published_at.to_date, :format => :long %></span>
    &middot;
    <%= raw @content.areas.map{|a| link_to a.name, area_path(a)}.join(', ') %>
    &middot;
    <%= link_to t('.date_area_and_comments.comments', :count => @content.comments_count), "#", :class => :goto_comments  %>
    </p>

    <h1><%= @content.title %></h1>
    <p><strong><%= @content.subtitle %></strong></p>

    <%= simple_format @content.body %>
    <%= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing" %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/location" %>
      <%= render "shared/sidebar/related_events" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to t('.back_to_the_agenda'), "#", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>

<!--
<div id="event">
  <div class="title">
    <span><%= t('.title.time', :day => l(@content.event_date.to_date, :format => :long), :hour => l(@content.event_date.to_time, :format => '%H')) %></span>
    &middot;
    <%= link_to t('.title.comments', :count => @content.comments_count), '/in_development' %>
  </div>
  <div class="content">
    <h1><%= @content.title %></h1>
    <h4><%= @content.subtitle %></h4>
    <%= simple_format @content.body %>
  </div>
  <div class="sidebar">
    <ul class="sharing_links">
      <li><%= link_to t('.sidebar.sharing_links.mail'), '/in_development' %></li>
      <li><%= link_to t('.sidebar.sharing_links.twitter'), '/in_development' %></li>
      <li><%= link_to t('.sidebar.sharing_links.facebook'), '/in_development' %></li>
    </ul>
    <div class="tags">
      <h3><%= t('.sidebar.tags.title') %></h3>
      <ul>
        <% @content.tags.split(',').each do |tag| %>
        <li><%= tag.strip %></li>
        <% end if @content.tags.present? %>
      </ul>
    </div>
    <div class="location">
      <h3><%= t('.sidebar.location.title') %></h3>
      <div id="map">
      </div>
      <span class="place"></span>
    </div>
    <div class="related_politicians">
      <h3><%= t('.sidebar.related_politicians.title') %></h3>
      <ul>
        <% (@content.users || []).each do |user| %>
        <li>
          <%= link_to user.fullname, path_for_user(user) %>
          <span><%= get_politician_title(user) %></span>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="related_events">
      <h3><%= t('.sidebar.related_events.title') %></h3>
      <ul>
        <% @last_contents.each do |event| %>
        <li>
          <p><%= link_to event.title, event_path(event) %></p>
          <span class="when"><%= t('.sidebar.related_questions.time', :time => distance_of_time_in_words_to_now(event.published_at)) %></span>
          <%= link_to t('.sidebar.related_questions.comments', :count => event.comments_count), '/in_development' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
-->
