<% content_for :facebook_meta do -%>
  <meta property="og:title" content="Irekia - <%= @content.title %>" />
  <meta property="og:description" content="<%= @content.body.truncate(128) %>" />
<meta property="og:image" content="<%= @content.news_data.image.content_url %>" />
<% end -%>
<article class="activity with_footer">
<div class="inner">
  <div class="left">
    <p class="info">
    <span class="date"><%= l @content.published_at.to_date, :format => :long %></span>
    &middot;
    <%= raw @content.areas.map{|a| link_to (raw "#{a.name} &middot;"), area_path(a)}.join(', ') %>
    <%= link_to t('.date_area_and_comments.comments', :count => @comments_count), '#', :class => :goto_comments %>
    </p>

    <h1><%= @content.title %></h1>
    <p><strong><%= @content.subtitle %></strong></p>
    <%= image_tag @content.news_data.image.content_url %>
    <%= simple_format @content.body %>
    <p><%= link_to 'Leer noticia completa', '#', :class => :more %></p>

    <%= render "participations/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing", :facebook_url => news_url(@content) %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/politicians" %>
      <%= render "shared/sidebar/related_content" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to t(".back"), "/in_development", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
