
<article class="photos with_footer">
<div class="inner">
  <div class="left">

    <p class="info">
    <span><%= l @content.published_at.to_date, :format => :long %></span>
    &middot;
    <%= link_to "#{@content.title} &middot;", photo_path(@content) %>
    <%= link_to t('.title.comments', :count => @comments_count), '#', :class => :goto_comments %>
    </p>
    <h1><%= @content.title %></h1>

    <%= image_tag @content.content_url %>
    <div class="caption"><%= simple_format @content.description %></div>

    <%= render "participations/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing" %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/location" %>
      <%= render "shared/sidebar/related_politicians" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.back'), "/in_development", :class => :left_arrow %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
