<% content_for :facebook_meta do -%>
  <meta property="og:title" content="Irekia - <%= @content.title %>" />
  <meta property="og:description" content="<%= @content.description.strip.truncate(128) %>" />
  <meta property="og:image" content="<%= image_url @content.content_url %>" />
<% end -%>
<article class="photos with_footer">
<div class="inner">
  <div class="left">

    <p class="info">
    <span><%= l @content.published_at.to_date, :format => :long %></span>
    &middot;
    <% if !@content.title.blank? %>
      <%= link_to @content.title, photo_path(@content) %>
      &middot;
    <% end %>
    <%= link_to t('.title.comments', :count => @comments_count), '#', :class => :goto_comments %>
    </p>
    <h1><%= @content.title %></h1>

    <%= image_tag @content.content_url %>
    <div class="caption"><%= simple_format @content.description %></div>

    <%= render "participations/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing", :facebook_url => photo_url(@content) %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/location" %>
      <%= render "shared/sidebar/related_politicians" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.back'), "/in_development", :class => :left_arrow %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
