<article class="proposal with_footer">
<div class="inner">
  <div class="left">
    <h1><%= @content.title %></h1>
    <p class="info extra-margin-bottom">
    <%= link_to @content.author.try(:fullname), path_for_user(@content.author)  %>
    <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
    &middot;
    <%= link_to t('.title_author_and_comments.comments', :count => @content.comments_count), { :anchor => :comments }, :class => :goto_comments %>
    </p>

    <div class="my_opinion <%= @content.percent_in_favor >= 50 ? "in_favor" : "against" %>">
      <div class="result">
        <% if @content.percent_in_favor >= 50 %>
          <%= content_tag :span, t(".in_favor", :percentage => @content.percent_in_favor, :count => @content.participation), :class => :in_favor %>
        <% else %>
          <%= content_tag :span, t(".against", :percentage => @content.percent_against, :count => @content.participation), :class => :against %>
        <% end %>
      </div>

        <% if @vote -%>
          <div class="footer">
            <%= form_for @vote, :remote => true do |form| %>
              <%= form.hidden_field :id %>
              <%= form.hidden_field :content_id %>
              <%= form.hidden_field :user_id %>
              <div class="input_text">
                <%= form.fields_for :vote_data do |vote_data_form| %>
                  <%= vote_data_form.hidden_field :id, :value => '' %>
                  <%= vote_data_form.hidden_field :in_favor, :value => false %>
                <% end -%>
                <%= button_with_login 'Estoy en contra', :class => "white_button against#{' selected' unless @vote.new_record? || @vote.in_favor }" %>
              </div>
            <% end -%>
          </div>
        <% end -%>
        <% if @vote -%>
          <div class="footer">
            <%= form_for @vote, :remote => true do |form| %>
              <%= form.hidden_field :id %>
              <%= form.hidden_field :content_id %>
              <%= form.hidden_field :user_id %>
              <div class="input_text">
                <%= form.fields_for :vote_data do |vote_data_form| %>
                  <%= vote_data_form.hidden_field :id, :value => '' %>
                  <%= vote_data_form.hidden_field :in_favor, :value => true %>
                <% end -%>
                <%= button_with_login 'Estoy a favor', :class => "white_button in_favor#{' selected' unless @vote.new_record? || @vote.against }" %>
              </div>
            <% end -%>
          </div>
        <% end -%>
    </div>

    <%= simple_format @content.body %>
    <%= render "arguments" %>
    <%= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing" %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/related_proposals" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.see_all_proposals'), proposals_area_path(@content.target_area, :anchor => :proposals), :class => :left_arrow %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
