<article class="proposal with_footer">
<div class="inner">
  <div class="left">
    <h1><%= @content.title %></h1>
    <p class="info extra-margin-bottom">
    <%= link_to @content.author.try(:fullname), user_path(@content.author)  %>
    <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
    &middot;
    <%= link_to t('.title_author_and_comments.comments', :count => @content.comments_count), '#', :class => :goto_comments %>
    </p>

    <div class="my_opinion">
      <div class="result">
        <% if @content.percent_in_favor >= 50 %>
          <%= content_tag :span, t(".in_favor", :percentage => @content.percent_in_favor, :count => @content.participation), :class => :agree %>
        <% else %>
          <%= content_tag :span, t(".against", :percentage => @content.percent_against, :count => @content.participation), :class => :disagree %>
        <% end %>
      </div>

        <% if @new_against -%>
          <div class="footer">
            <%= form_for @new_against, :remote => true do |form| %>
              <%= form.hidden_field :id %>
              <%= form.hidden_field :content_id %>
              <%= form.hidden_field :user_id %>
              <div class="input_text">
                <%= form.fields_for :argument_data do |argument_data_form| %>
                  <%= argument_data_form.hidden_field :id, :value => '' %>
                  <%= argument_data_form.hidden_field :reason, :value => '' %>
                  <%= argument_data_form.hidden_field :in_favor, :value => false %>
                <% end -%>
<<<<<<< HEAD
                <%= form.submit 'Estoy en contra', :class => 'white_button disagree floating-login' %>
=======
                <%= form.submit_with_login 'Estoy en contra', :class => 'white_button disagree' %>
>>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8
              </div>
            <% end -%>
          </div>
        <% end -%>
        <% if @new_in_favor -%>
          <div class="footer">
            <%= form_for @new_in_favor, :remote => true do |form| %>
              <%= form.hidden_field :id %>
              <%= form.hidden_field :content_id %>
              <%= form.hidden_field :user_id %>
              <div class="input_text">
                <%= form.fields_for :argument_data do |argument_data_form| %>
                  <%= argument_data_form.hidden_field :id, :value => '' %>
                  <%= argument_data_form.hidden_field :reason, :value => '' %>
                  <%= argument_data_form.hidden_field :in_favor, :value => true %>
                <% end -%>
<<<<<<< HEAD
                <%= form.submit 'Estoy a favor', :class => 'white_button agree floating-login' %>
=======
                <%= form.submit_with_login 'Estoy a favor', :class => 'white_button agree' %>
>>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8
              </div>
            <% end -%>
          </div>
        <% end -%>
    </div>

    <%= simple_format @content.body %>
    <%= render "arguments" %>
    <%= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/demo/sharing" %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/related_proposals" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.back'), @content.author, :class => :left_arrow %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
