<% content_for :facebook_meta do -%>
  <meta property="og:title" content="Irekia - Pregunta para <%= @content.target_user ? @content.target_user.fullname : @content.target_area.name %>" />
  <meta property="og:description" content="<%= @content.question_text.strip %>" />
<% end -%>
<article class="questions with_footer">
<%= link_to "", "/in_develop", :class => :editable if current_user && current_user.politician? %>

<div class="inner">
  <div class="left">

    <div class="context">
      <h3><%= t(@content.content_type) %></h3>
       <% if @content.content_area %> &middot; <%= link_to @content.content_area.name, @content.content_area %> <% end %>
    </div>

    <h2><%= @content.question_text %></h2>

    <div class="meta">
      <%= link_to @content.author.try(:fullname), path_for_user(@content.author) %>
      <%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
      <% if @answer.blank? %>
        &middot;
        <span class="requests positive"><%= @content.answer_requests_count %></span>
      <% end -%>
      &middot;
      <span class="comments"><%= link_to @comments_count, '#', :class => :goto_comments %></span>
      &middot;
      <% if @answer.blank? %>
        <span class="not_answered"><%= t('.question_content.author_and_comments.not_answered', :count => @content.answer_requests_count) %></span>
      <% else %>
        <span class="<%= @answer ? 'answered' : 'not_answered' %>"><%= t('.question_content.author_and_comments.answered', :time => distance_of_time_in_words_to_now(@answer.published_at)) %></span>
      <% end %>
    </div>

    <% if @answer %>
      <div class="answer">
        <%= simple_format @answer.answer_text %>
      </div>
    <% else %>
      <% if current_user && current_user.politician? -%>
        <div class="answering clearfix">
          <span class="peak"></span>
          <%= form_for @new_answer, :remote => true, :html => {:'data-type' => :html} do |form| %>
            <%= form.hidden_field :related_content_id %>
            <%= form.fields_for :answer_data, @new_answer.answer_data do |answer_data| -%>

              <h3>Contesta a esta pregunta</h3>
              <div id="123" class="input-counter">
                <%= answer_data.text_area :answer_text, :class => :grow %>
              </div>

              <h3>Añade un video si quieres</h3>
              <div class="input_field placeholder">
                <%= answer_data.text_field :answer_text %>
                <span class="holder">Dirección de YouTube o Vimeo</span>
              </div>

            <% end -%>

            <div class="footer clearfix">
              <div class="left">
                <div class="checkbox_button facebook"><a href="#" class="checkbox"><div class="icon"></div> </a></div>
                <div class="checkbox_button twitter"><a href="#" class="checkbox"><div class="icon"></div> </a></div>
              </div>
              <div class="right"><%= form.submit 'Publicar respuesta', :id => "submit-123", :class => 'white_button pink disabled', :disabled => :disabled %></div>
            </div>

          <% end -%>
        </div>
      <% else -%>
        <div class="answer_placeholder">
          <p><strong><%= t('.not_answered_yet') %></strong></p>
          <p class="has_requested_answer">
          <% if @user_has_requested_answer %>
            <% if @content.answer_requests_count <= 2 -%>
              <%= t('.you_and_other', :count => @content.answer_requests_count) -%>
            <% else -%>
              <%= t('.you_and_thousands', :count => @content.answer_requests_count - 1) -%>
            <% end -%>
          <% else %>
            <%= t('.people_demanding_answer', :count => @content.answer_requests_count) -%>
          <% end -%>

          <% if @new_request -%>
            &nbsp;
            <%= form_for @new_request, :remote => true, :html => {:'data-type' => :html} do |f| -%>
              <%= f.hidden_field :content_id -%>
              <%= f.submit_with_login t('.join_them', :count => @content.answer_requests_count) -%>
            <% end -%>
          <% end -%>
          </p>
        </div>
      <% end -%>
    <% end %>
    <%= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">
      <%= sharing_partial(question_url(@content), @content.question_text) %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/answered_by" if @answer %>
      <%= render "shared/sidebar/related_questions" %>
    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <% if @content.target_user -%>
      <%= link_to t('.footer.all_questions_to_user', :name => @content.target_user.fullname), questions_politician_path(@content.target_user, :anchor => :questions), :class => :left_arrow %>
    <% else -%>
      <%= link_to t('.footer.all_questions_to_area', :name => @content.target_area.name), questions_area_path(@content.target_area, :anchor => :questions), :class => :left_arrow %>
    <% end -%>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
