<article class="questions with_footer">
<div class="inner">
  <div class="left">

    <h2><%= @content.question_text %></h2>
    <p class="info">
    <%= link_to @content.author.try(:fullname), path_for_user(@content.author) %>
    <%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
    <% if @answer.blank? %>
    &middot;
    <span class="positive">+<%= @content.answer_requests_count %></span>
    <% end -%>
    &middot;
    <%= link_to t('.question_content.author_and_comments.comments', :count => @comments_count), '#', :class => :goto_comments %>
    &middot;
    <% if @answer.blank? %>
      <span><%= t('.question_content.author_and_comments.not_answered', :count => @content.answer_requests_count) %></span>
    <% else %>
      <span class="<%= @answer ? 'answered' : 'not_answered' %>"><%= t('.question_content.author_and_comments.answered', :time => distance_of_time_in_words_to_now(@answer.published_at)) %></span>
    <% end %>
    </p>

    <% if @answer %>
      <div class="answer">
        <%= simple_format @answer.answer_text %>
      </div>
    <% else %>
      <div class="answer_placeholder">
        <p><strong><%= t('.not_answered_yet') %></strong></p>
        <p>
          <% if @user_has_requested_answer %>
            <% if @content.answer_requests_count <= 2 -%>
              <%= t('.you_and_other', :count => @content.answer_requests_count) -%>
            <% else -%>
              <%= t('.you_and_thousands', :count => @content.answer_requests_count - 1) -%>
            <% end -%>
          <% else %>
          <%= t('.people_demanding_answer', :count => @content.answer_requests_count) -%>
          <% end -%>
          <% if @new_request -%>
            <%= form_for @new_request do |f| -%>
              <%= f.hidden_field :content_id -%>
              ,<%= f.submit_with_login t('.join_them', :count => @content.answer_requests_count) -%>
            <% end -%>
          <% end -%>
        </p>
      </div>
    <% end %>
    <%= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">
      <%= render "shared/sharing" %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/answered_by" if @answer %>
      <%= render "shared/sidebar/related_questions" %>
    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <% if @content.target_user -%>
      <%= link_to t('.footer.all_questions_to_user', :name => @content.target_user.fullname), questions_politician_path(@content.target_user, :anchor => :questions), :class => :left_arrow %>
    <% else -%>
      <%= link_to t('.footer.all_questions_to_area', :name => @content.target_area.name), questions_area_path(@content.target_area, :anchor => :questions), :class => :left_arrow %>
    <% end -%>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
