<div class="proposals clearfix">

  <div class="proposal in_favor">
    <h3><%= t(".in_favor") %> <sup>(<%= @arguments_in_favor.count %>)</sup></h3>
    <ul>
      <% @arguments_in_favor.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <div class="footer">
      <%= form_for @argument_in_favor, :remote => true do |form| %>
        <%= form.hidden_field :id %>
        <%= form.hidden_field :content_id %>
        <%= form.hidden_field :user_id %>
        <div class="input_text">
          <%= form.fields_for :argument_data do |argument_data_form| %>
            <%= argument_data_form.hidden_field :id, :value => '' %>
            <%= argument_data_form.text_field :reason, :value => '' %>
            <%= argument_data_form.hidden_field :in_favor, :value => true %>
          <% end -%>
          <%= form.submit_with_login t('.add') %>
          <span id="spinner_in_favor" class="spinner"></span>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="proposal against">
    <h3><%= t(".against") %> <sup>(<%= @arguments_against.count %>)</sup></h3>
    <ul>
      <% @arguments_against.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <div class="footer">
      <%= form_for @argument_against, :remote => true do |form| %>
        <%= form.hidden_field :id %>
        <%= form.hidden_field :content_id %>
        <%= form.hidden_field :user_id %>
        <div class="input_text">
          <%= form.fields_for :argument_data do |argument_data_form| %>
            <%= argument_data_form.hidden_field :id, :value => '' %>
            <%= argument_data_form.text_field :reason, :value => '' %>
            <%= argument_data_form.hidden_field :in_favor, :value => false %>
          <% end -%>
          <%= form.submit_with_login t('.add') %>
          <span id="spinner_against" class="spinner"></span>
        </div>
      <% end -%>
    </div>
  </div>

  <article id="notice_in_favor" class="notice">
  <div class="inner">
    <div class="content">
      <p>
      <strong>Comentario enviado.</strong>
      Te avisaremos en cuanto sea aprobado.
      </p>
    </div>
    <div class="t"></div><div class="f"></div>
  </div>
  </article>


  <article id="notice_against" class="notice">
  <div class="inner">
    <div class="content">
      <p>
      <strong>Error técnico.</strong>
      Lo sentimos, no se ha podido guardar :-(
      </p>
    </div>
    <div class="t"></div><div class="f"></div>
  </div>
  </article>
</div>
