<div class="proposals">
  <div class="proposal agree">
    <h3><%= t(".in_favor") %> <sup>(<%= @in_favor_count %>)</sup></h3>
    <ul>
      <% @in_favor.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <% if current_user and @new_in_favor -%>
      <div class="footer">
        <%= form_for @new_in_favor, :remote => true do |form| %>
          <%= form.hidden_field :id %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :argument_data do |argument_data_form| %>
              <%= argument_data_form.hidden_field :id, :value => '' %>
              <%= argument_data_form.text_field :reason, :value => '' %>
              <%= argument_data_form.hidden_field :in_favor, :value => true %>
            <% end -%>
<<<<<<< HEAD
            <%= form.submit t('.add') %>
=======
            <%= form.submit_with_login t('.add') %>
>>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="proposal against">
    <h3><%= t(".against") %> <sup>(<%= @against_count %>)</sup></h3>
    <ul>
      <% @against.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <% if current_user  and @new_against -%>
      <div class="footer">
        <%= form_for @new_against, :remote => true do |form| %>
          <%= form.hidden_field :id %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :argument_data do |argument_data_form| %>
              <%= argument_data_form.hidden_field :id, :value => '' %>
              <%= argument_data_form.text_field :reason, :value => '' %>
              <%= argument_data_form.hidden_field :in_favor, :value => false %>
            <% end -%>
<<<<<<< HEAD
            <%= form.submit t('.add') %>
=======
            <%= form.submit_with_login t('.add') %>
>>>>>>> a6dd0958aff9198879f0fa149e7860b92e2042a8
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
