<div class="proposals">
  <div class="proposal agree">
    <h3>A favor <sup>(<%= @content.arguments.with_reason.in_favor.count %>)</sup></h3>
    <ul>
      <% @content.arguments.with_reason.in_favor.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <% if @new_in_favor -%>
      <div class="footer">
        <%= form_for @new_in_favor, :remote => true do |form| %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :argument_data do |argument_data_form| %>
              <%= argument_data_form.text_field :reason %>
              <%= argument_data_form.hidden_field :in_favor %>
            <% end -%>
            <%= form.submit 'Añadir' %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="proposal against">
    <h3>En contra <sup>(<%= @content.arguments.with_reason.against.count %>)</sup></h3>
    <ul>
      <% @content.arguments.with_reason.against.each do |argument| %>
        <li><%= argument.reason %></li>
      <% end %>
    </ul>
    <% if @new_against -%>
      <div class="footer">
        <%= form_for @new_against, :remote => true do |form| %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :argument_data do |argument_data_form| %>
              <%= argument_data_form.text_field :reason %>
              <%= argument_data_form.hidden_field :in_favor %>
            <% end -%>
            <%= form.submit 'Añadir' %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
