<div class="comments">
  <div class="count"><%= t('.title', :count => @content.comments.count) %></div>
  <ul>
    <% @content.comments.reject{|c| c.new_record?}.each do |comment| %>
      <li>
      <%= avatar comment.user %>
      <div class="comment">
        <blockquote><%= simple_format comment.body %></blockquote>
        <div class="footer when">
          <%= link_to comment.user.fullname, user_path(comment.user), :class => :author %> <%= t('.time', :time => distance_of_time_in_words_to_now(comment.published_at)) %>
        </div>
      </div>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <li class="comment">
      <%= form_for @content do |form| %>
        <%= form.fields_for :comments, @comment do |comments| %>
          <%= comments.hidden_field :user_id %>

          <%= avatar current_user %>

          <div class="textarea-comment placeholder">

            <%= comments.fields_for :comment_data do |comment_data| %>
              <%= comment_data.text_area :body %>
              <span class="holder">¿Algo que decir?... comenta este tweet</span>
            <% end %>

          </div>
        <% end %>
        <button type="submit" class="white_button blue right"><span><%= t('.new.submit') %></span></button>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>
