<!-- <div id="proposal" class="content">
  <div class="title_author_and_comments">
    <blockquote>
      <h1><%= @content.title %></h1>
    </blockquote>
    <span>
      <%= link_to @content.author.try(:fullname), user_path(@content.author)  %>
      <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
    </span>
    &middot;
    <%= link_to t('.title_author_and_comments.comments', :count => @content.comments.count), '/in_development' %>
    &middot;
    <span class="arguments"><%= t('.title_author_and_comments.total_in_favor', :percent => @content.percent_in_favor, :total => @content.arguments.count ) %></span>
  </div>
  <div class="content">
    <%= simple_format @content.body %>
    <div class="in_favor">
      <h4><%= t('.content.in_favor') %></h4>
      <ul>
        <% @content.arguments.in_favor.with_reason.first(5).each do |argument| %>
          <li><%= argument.reason %></li>
        <% end %>
      </ul>
      <%= link_to t('.content.add') %>
    </div>
    <div class="against">
      <h4><%= t('.content.against') %></h4>
      <ul>
        <% @content.arguments.against.with_reason.first(5).each do |argument| %>
          <li><%= argument.reason %></li>
        <% end %>
      </ul>
      <%= link_to t('.content.add') %>
    </div>
    <div id="your_opinion">
      <h3><%= t('.content.your_opinion.title') %></h3>
      <p><%= t('.content.your_opinion.subtitle') %></p>
      <% if user_signed_in? && current_user.has_not_give_his_opinion(@content) %>
        <%= form_for @content do |f| %>
          <%= f.fields_for :arguments, @new_in_favor do |paf| %>
            <%= paf.hidden_field :user_id %>
            <%= paf.fields_for :argument_data do |paadf| %>
              <%= paadf.hidden_field :in_favor %>
            <% end %>
          <% end %>
          <%= f.submit t('.content.your_opinion.vote_in_favor') %>
        <% end %>

        <%= form_for @content do |f| %>
          <%= f.fields_for :arguments, @new_against do |paf| %>
            <%= paf.hidden_field :user_id %>
            <%= paf.fields_for :argument_data do |paadf| %>
              <%= paadf.hidden_field :in_favor %>
            <% end %>
          <% end %>
          <%= f.submit t('.content.your_opinion.vote_against') %>
        <% end %>
      <% end %>
    </div>
    <%= render 'participations/comments' %>
  </div>
  <div class="sidebar">
    <ul class="sharing_links">
      <li><%= link_to t('.sidebar.sharing_links.mail'), '/in_development' %></li>
      <li><%= link_to t('.sidebar.sharing_links.twitter'), '/in_development' %></li>
      <li><%= link_to t('.sidebar.sharing_links.facebook'), '/in_development' %></li>
    </ul>
    <div class="tags">
      <h3><%= t('.sidebar.tags.title') %></h3>
      <ul>
        <% @content.tags.split(',').each do |tag| %>
          <li><%= tag.strip %></li>
          <% end if @content.tags.present? %>
        </ul>
      </div>
      <div class="related_politics">
        <h3><%= t('.sidebar.related_politics.title') %></h3>
        <ul>
          <% @content.users.each do |user| %>
            <li>
            <%= link_to user.fullname, politician_path(user) %>
            <span><%= get_politician_title(user) %></span>
            </li>
            <% end if @content.users.present? %>
          </ul>
        </div>
      </div>
    </div>
    -->

    <article class="proposal with_footer">
    <div class="inner">
      <div class="left">
        <h1><%= @content.title %></h1>
        <p class="info">
        <%= link_to @content.author.try(:fullname), user_path(@content.author)  %>
        <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
        &middot;
        <%= link_to t('.title_author_and_comments.comments', :count => @content.comments.count), '/in_development' %>
        </p>

        <%= simple_format @content.body %>

        <div class="proposals">
          <div class="proposal agree">
            <h3>A favor</h3>
            <ul>
              <li>No estará presente en los presupuestos generales del estado.</li>
              <li>Es mejor para la juventud.</li>
              <li>La juventud es el futuro.</li>
              <li class="add"><%= link_to "Añadir", '/in_development' %></li>
            </ul>
            <div class="footer">

              <%= link_to (raw "<span>A favor</span>"), '/in_development', :class => "white_button blue" %>

              <div class="sparkline positive">
                <div class="graph" values="1,1,1,1,1,1,1,4,2,3,1,1,1,2,2,3,1,1,1,2,1,3,1,1,1,2,1,3,1,1,1,1"></div>
                <span class="legend"><div class="count">33</div> a favor</span>
              </div>
            </div>
          </div>

          <div class="proposal against">
            <h3>En contra</h3>
            <ul>
              <li>Estamos en crisis, y eso afecta.</li>
              <li class="add"><%= link_to "Añadir", '/in_development' %></li>
            </ul>
            <div class="footer">
              <%= link_to (raw "<span>En contra</span>"), '/in_development', :class => "white_button blue" %>
              <div class="sparkline negative">
                <div class="graph" values="1,1,3,2,1,4,1"></div>
                <span class="legend"><div class="count">5</div> en contra</span>
              </div>
            </div>
          </div>
        </div>

        <%= render "participations/comments" %>
      </div>
      <div class="right">
        <div class="content left-border">

          <%= render "shared/demo/sharing" %>
          <%= render "shared/sidebar/tags" %>
          <%= render "shared/sidebar/related_content" %>

        </div>
      </div>
    </div>

    <footer>
    <div class="separator"></div>
    <div class="inner">
      <div class="left">
        <%= link_to "ver todas las preguntas", '/in_development', :class => :left_arrow %>
        <span class="question">Hola Virginia, ¿qué pasa con Mary...?</span>
      </div>

      <div class="right">
        <%= link_to "siguiente pregunta", '/in_development', :class => :right_arrow %>
        <span class="question">Hola Virginia, ¿qué pasa con Mary...?</span>
      </div>
    </div>
    </footer>
    <div class="t"></div><div class="f"></div>
    </article>
