<div id="question" class="content">
  <div class="question_content">
    <h1><%= @content.question_text %></h1>
    <div class="author_and_comments">
      <span>
        <%= link_to @content.users.try(:first).try(:name), user_path(@content.users.first)  %>
        <%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
      </span>
      &middot;
      <% if @content.answer.blank? %>
        <span><%= t('.question_content.author_and_comments.not_answered') %></span>
      <% else %>
        <span><%= t('.question_content.author_and_comments.answered', :time => distance_of_time_in_words_to_now(@content.answer.published_at)) %></span>
      <% end %>
      &middot;
      <%= link_to t('.question_content.author_and_comments.comments', :count => @content.comments.count), '#' %>
    </div>
    <% if @content.answer.blank? %>
      <div class="answer_requests">
        <p>
          <%= t('.question_content.answer_requests.count', :count => @content.answer_requests.count) %>
        </p>
        <% if @new_request %>
          <%= form_for @content do |f| %>
            <%= f.fields_for :answer_requests, @new_request do |answer_requests_form| %>
              <%= answer_requests_form.hidden_field :user_id %>
            <% end %>
          <%= f.submit t('.question_content.answer_requests.do_request') %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="answer">
        <div class="author">
          <%= image_tag(@content.answer.author.try(:profile_image_thumb_url)) if @content.answer.author.try(:profile_pictures).present? %>
          <div>
            <%= t('.question_content.answer.has_answered', :name => @content.answer.author.name) %>
          </div>
          <span class="title"><%= get_politic_title(@content.answer.author) %></span>
        </div>
        <div class="text">
          <%= simple_format @content.answer.answer_text %>
        </div>
        <p>
          <%= t('.question_content.answer_opinion') %>
          <% if @answer_opinion %>
            <%= form_for @content do |f| %>
              <%= f.fields_for :answer do |af| %>
                <%= af.fields_for :answer_opinions, @answer_opinion do |apf| %>
                  <%= apf.hidden_field :user_id %>
                  <%= apf.fields_for :answer_opinion_data, @answer_opinion_data_satisfactory do |apdf| %>
                    <%= apdf.hidden_field :satisfactory %>
                  <% end %>
                <% end %>
              <% end %>
              <%= f.submit t('.question_content.answer_satisfactory' %>
              <span>&nbsp;(<%= @content.answer.answer_opinions.satisfactory.count) %>)</span>
            <% end %>
            <%= form_for @content do |f| %>
              <%= f.fields_for :answer do |af| %>
                <%= af.fields_for :answer_opinions, @answer_opinion do |apf| %>
                  <%= apf.hidden_field :user_id %>
                  <%= apf.fields_for :answer_opinion_data, @answer_opinion_data_not_satisfactory do |apdf| %>
                    <%= apdf.hidden_field :satisfactory %>
                  <% end %>
                <% end %>
              <% end %>
              <%= f.submit t('.question_content.answer_not_satisfactory' %>
              <span>&nbsp;(<%= @content.answer.answer_opinions.not_satisfactory.count) %>)</span>
            <% end %>
          <% else %>
              <span><%= t('.question_content.answer_satisfactory') %></span><span class="count">&nbsp;(<%= @content.answer.answer_opinions.satisfactory.count %>)</span>
              <span><%= t('.question_content.answer_not_satisfactory') %></span><span class="count">&nbsp;(<%= @content.answer.answer_opinions.not_satisfactory.count %>)</span>
          <% end %>
        </p>
      </div>
    <% end %>
    <%= render 'comments' %>
  </div>
  <div class="sidebar">
    <ul class="sharing_links">
      <li><%= link_to t('.sidebar.sharing_links.mail'), '#' %></li>
      <li><%= link_to t('.sidebar.sharing_links.twitter'), '#' %></li>
      <li><%= link_to t('.sidebar.sharing_links.facebook'), '#' %></li>
    </ul>
    <div class="related_questions">
      <h3><%= t('.sidebar.related_questions.title') %></h3>
      <ul>
        <% @last_contents.each do |question| %>
        <li>
          <p><%= link_to question.question_text, question_path(question) %></p>
          <span class="when"><%= t('.sidebar.related_questions.time', :time => distance_of_time_in_words_to_now(question.published_at)) %></span>
          <%= link_to t('.sidebar.related_questions.comments', :count => question.comments.count), '#' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>