<div id="tweet">
  <h1><%= @content.message %></h1>
  <span class="author">
    <%= raw t('.author', :name => link_to(@content.author.fullname, user_path(@content.author)), :time => distance_of_time_in_words_to_now(@content.published_at)) %>
  </span>
  <%= render 'comments' %>
  <div class="sidebar">
    <ul class="sharing_links">
      <li><%= link_to t('.sidebar.sharing_links.mail'), '#' %></li>
      <li><%= link_to t('.sidebar.sharing_links.twitter'), '#' %></li>
      <li><%= link_to t('.sidebar.sharing_links.facebook'), '#' %></li>
    </ul>
    <div class="last_tweets">
      <h3><%= t('.sidebar.last_tweets.title', :name => @content.author.name) %></h3>
      <ul>
        <% @last_contents.each do |tweet| %>
        <li>
          <p class="tweet"><%= link_to tweet.message, tweet_path(tweet) %></p>
          <span class="when"><%= t('.sidebar.last_tweets.time', :time => distance_of_time_in_words_to_now(tweet.published_at)) %></span>
        </li>
        <% end %>
      </ul>
      <%= link_to "@#{@content.username}", '#' %>
    </div>
  </div>
</div>