<%= link_to "", question_path(data.content.id), :class => "icon plus" %>

<div class="content">
  <p>
  <%= raw t(".title", :question => content_tag('strong', (link_to %Q{"#{data.question_text}"}, question_path(data.content.id)))) %>
  </p>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
      &middot;
    </span>

    <span class="requests positive"><%= data.answer_requests_count %></span>

    <% unless show_last_comments?(data) -%>
      &middot;
      <span class="comments"><%= link_to data.comments_count, question_path(data.content.id, :anchor => :comments), :class => "comment-count" %></span>
    <% end -%>
    &middot;
    <%#= render "/shared/inline_sharing" %>
    <%= link_to "Compartir", "/in_development" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
