<%= avatar data.author %>
<div class="content">
  <p><%= raw t('.title', :question => content_tag(:strong, data.question_text)) %></p>

  <p class="excerpt">

  <%= %Q{"#{data.answer_text}"} %>

  <%= link_to "Leer más", '/in_development' %></p>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, user_path(data.author.id)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '/in_development', :class => "comment-count" %>
    &middot;
      <%= render "/shared/inline_sharing" %>
  </div>
</div>
