<%= avatar data.author %>

<div class="content">
  <p><%= link_to(raw(t('.title', :question => content_tag(:strong, data.question_text))), question_path(data.question_id)) %></p>

  <p class="excerpt">

  <%= link_to %Q{"#{data.answer_text}"}, question_path(data.question_id) %>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    <% unless show_last_comments?(data) -%>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '/in_development', :class => "comment-count" %>
    <% end -%>
    &middot;
    <%= render "/shared/inline_sharing" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
