<%= avatar data.author %>
<div class="content">
  <p class="title"><%= data.title %></p>
  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), event_path(data.id, :anchor => :comments), :class => "comment-count" %>
    &middot;
    <%= render "/shared/inline_sharing" %>
    <%= render 'shared/lists_elements/last_comments', :data => data %>
  </div>
</div>
