<%= avatar data.author %>
<div class="content">
  <p><strong><%= link_to data.title, news_path(data.id) %></strong></p>
  <p class="excerpt"><%= truncate(data.body, :length => 66) %></p>
  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '/in_development', :class => "comment-count" %>
    &middot;
      <%= render "/shared/inline_sharing" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
