<%
  position = data.percent_in_favor >= data.percent_against ? "in_favor" : "against"
%>

<%= link_to raw("<strong>#{data.percentage}<span class='percentage'>%</span></strong><span>#{t("." + position )}</span>"), proposal_path(data.id), :class => "icon #{ position }" %>
<div class="content">

  <p><strong><%= link_to data.title, proposal_path(data.id) %></strong></p>

  <div class="footer">
    <span class="author">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), proposal_path(data.id, :anchor => :comments), :class => "participants-count" %>
    &middot;
    <%= t('.votes', :count => data.participation) %>
    &middot;
    <%= render "/shared/inline_sharing" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
