<% position = data.percent_in_favor >= data.percent_against ? "in_favor" : "against" %>

<%= link_to raw("<strong>#{data.percentage}<span class='percentage'>%</span></strong><span>#{t("." + position )}</span>"), proposal_path(data.id), :class => "icon #{ position }" %>
<div class="content">

  <p>
    <%= t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :name => data.author.name) %>
    <%= content_tag 'strong', (link_to %Q{"#{data.title}"}, proposal_path(data.id)) %>
  </p>

  <div class="footer">
    <span class="author">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    <% unless show_last_comments?(data) -%>
    &middot;
    <span class="comments"><%= link_to data.comments_count, proposal_path(data.id, :anchor => :comments), :class => "participants-count" %></span>
    <% end -%>
    &middot;
    <%= link_to t('.votes', :count => data.participation), proposal_path(data.id) %>
    <%#= inline_sharing_partial(data, 'proposal', proposal_url(data.id), data.title) %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
