<%= avatar data.author %>
<div class="content">
  <%= content_tag 'p', t(".title", :receiver => data.target_area.name) if data.target_area %>
  <%= content_tag 'p', t(".title", :receiver => data.target_user.fullname) if data.target_user %>

  <% if data.target_user %>
    <p class="excerpt"><%= link_to %Q{"#{data.question_text}"}, question_path(data.id) %></p>
  <% else %>
    <p class="excerpt"><%= link_to %Q{"#{data.question_text}"}, question_path(data.id) %></p>
  <% end %>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
      &middot;
    </span>


    <% if data.is_a?(Question) %>
      <% if data.answered_at.present? %>
        <span class="answered"><%= t('.answered', :time => distance_of_time_in_words_to_now(data.answered_at)) %></span>
      <% else %>
        <span class="not_answered"><%= t('.not_answered') %></span>
      <% end %>

        &middot;

      <span class="requests positive"><%= data.answer_requests_count %></span>

      <% unless show_last_comments?(data) -%>
        &middot;
        <span class="comments"><%= link_to data.comments_count, question_path(data.id, :anchor => :comments), :class => "comment-count" %></span>
      <% end -%>

    <% else %>

      <span class="requests positive"><%= data.answer_requests_count %></span>

      <% unless show_last_comments?(data) -%>
        &middot;
        <span class="comments"><%= link_to data.comments_count, question_path(data.id, :anchor => :comments), :class => "comment-count" %></span>
      <% end -%>
    <% end %>

    &middot;
    <%= render "/shared/inline_sharing" %>

  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
