<%= avatar data.author %>


<div class="content">
  <%= content_tag 'p', t(".title", :receiver => t('.area')) if data.target_is_a_user? %>

  <p class="excerpt">
  <%= %Q{"#{data.question_text}"} %>
  <%= link_to t(".read_more"), question_path(data.id)%>
  </p>

  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :author => link_to(data.author.fullname, user_path(data.author.id)), :time => distance_of_time_in_words_to_now(data.published_at)) %> &middot;

      <% if data.is_a?(Question) %>
        <% if data.answered_at.present? %>
          <span class="answered"><%= t('.answered', :time => distance_of_time_in_words_to_now(data.answered_at)) %></span>
        <% else %>
          <span class="not_answered"><%= t('.not_answered') %></span>
        <% end %>
      </span>

      &middot;

      <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), question_path(data.id, :anchor => :comments), :class => "comment-count" %>
    <% else %>
      <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), question_path(data.id, :anchor => :comments), :class => "comment-count" %>
      &middot;
      <%= render "/shared/inline_sharing" %>
    <% end %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
