<%= avatar data.author %>
<div class="content">
  <p class="excerpt"><%= link_to data.message, status_message_path(data.id) %></p>
  <div class="footer">
    <span class="published_at">
      <%= raw t('.author', :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    <% unless show_last_comments?(data) -%>
    &middot;
    <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '/in_development', :class => "comment-count" %>
    <% end -%>
    &middot;
    <%= render "/shared/inline_sharing" %>
  </div>
  <%= render 'shared/lists_elements/last_comments', :data => data %>
</div>
