<%= avatar data.author %>
<div class="content">

  <p>
  <% if data.in_favor %>
    <%= raw t('.title.in_favor', :proposal => (content_tag 'strong', (link_to data.title, proposal_path(data.content_id)))) %>
  <% else %>
    <%= raw t('.title.against',  :proposal => (content_tag 'strong', (link_to data.title, proposal_path(data.content_id)))) %>
  <% end %>
  </p>

  <div class="footer">
    <span class="published_at">
    <%= raw t('.author', :author => link_to(data.author.fullname, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
    </span>
    &middot;
    <span class="comments"><%= link_to data.comments_count, proposal_path(data.content_id, :anchor => :comments), :class => "comment-count" %></span>
    &middot;
      <%= render "/shared/inline_sharing" %>
  </div>
</div>
