<div class="answer">
  <p class="title">
    <%= raw t('.title', :question => content_tag(:span, data.question_text)) %>
  </p>
  <p class="answer">
    <%= %Q{"#{data.answer_text}"} %>
  </p>
  <%= image_tag data.author.profile_image if data.author.profile_image.present? %>
  <span class="author">
    <%= raw t('.author', :author => link_to(data.author.name, path_for_user(data.author)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
  </span>
  &middot;
  <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '#' %>
  &middot;
  <%= link_to t('shared.lists_elements.share'), '#' %>
</div>
