<ul class="results">
  <% if has_politicians? %>
    <li class="politicians">
    <div class="summary"><h3><%= t('.politicians.summary.title') %></h3><%= link_to t('.politicians.summary.count', :count => @politicians.count), search_path(:search => {:query => @search.query, :type => 'politicians'}) %></div>
    <ul>
      <% @politicians.first(2).each do |politician| %>
        <li>
        <%= link_to (content_tag 'div', (image_tag(politician.profile_image)), :class => "avatar medium"), politician_path(politician) if politician.profile_image %>
        <%= link_to politician.fullname, politician_path(politician), :class => :name %>
        <% if title = get_politician_title(politician) %>
          <span class="position"><%= t('.politicians.title_area', :title => title, :area => politician.areas.map(&:name).join(', ')) %></span>
        <% end %>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if has_areas? %>
    <li class="areas<%= ' no-border' unless has_politicians? %>">
    <div class="summary"><h3><%= t('.areas.summary.title') %></h3></div>
    <ul>
      <% @areas.first(2).each do |area| %>
        <li>
        <a href="#" class="avatar medium"><img src="/images/icons/news_avatar_medium.png" /></a>
        <%= link_to area.name, area_path(area), :class => :name %>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if has_citizens? %>
    <li class="users<%= ' no-border' unless has_areas? && has_politicians? %>">
    <div class="summary"><h3><%= t('.users.summary.title') %></h3><%= link_to t('.users.summary.count', :count => @citizens.count), search_path(:search => {:query => @search.query, :type => 'users'}) %></div>
    <ul>
      <% @citizens.first(2).each do |user| %>
        <li>
        <%= link_to (content_tag 'div', (image_tag(user.profile_image)), :class => "avatar medium"), user_path(user) if user.profile_image %>
        <%= link_to user.fullname, user_path(user), :class => :name %>
        <span class="position"><%= "#{user.city}, #{user.province}" %></span>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if has_contents? %>
    <li class="contents<%= ' no-border' unless has_citizens? && has_areas? && has_politicians? %>">
    <div class="summary"><h3><%= t('.contents.summary.title') %></h3></div>
    <%= link_to t('.contents.count', :count => @contents.count), search_path(:search => {:query => @search.query, :type => 'contents'}) %>
    </li>
  <% end %>
</ul>
