<article>
<div class="inner">
  <div class="content">
    <h2><%= t('.your_search_results') %></h2>
    <%= form_for :search, :url => search_path, :html => {:method => :get, :id => :search} do |f| %>

      <div class="search_box">
        <%= f.text_field :query %>
        <%= f.submit 'Search' %>
      </div>

    <% end %>
  </div>
</div>
<div class="t"></div><div class="f"></div>
</article>

<%= menu([
         { :link => (link_to t('.tabs.summary'), search_path(:search => {:q => params[:search][:q]})), :class => current_type?},
         { :link => (link_to t('.tabs.contents', :count => @contents.count), search_path(:search => {:query => params[:search][:query], :type => 'contents'})), :class => current_type?("contents") },
         { :link => (link_to t('.tabs.politicians', :count => @politicians.count), search_path(:search => {:query => params[:search][:query], :type => 'politicians'})), :class => current_type?("politicians") },
         { :link => (link_to t('.tabs.users', :count => @citizens.count), search_path(:search => {:query => params[:search][:query], :type => 'users'})), :class => "#{current_type?("users")} last"},
]) %>

<%= render "contents" if show_contents? %>
<%= render "politicians" if show_politicians? %>
<%= render "users" if show_users? %>
