<article>
<div class="inner">
  <div class="content">
    <h2><%= t('.your_search_results') %></h2>
    <%= form_for :search, :url => search_path, :html => {:method => :get, :id => :search} do |f| %>
      <%= f.text_field :query %>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
</div>
<div class="t"></div><div class="f"></div>
</article>

<%= menu([
         { :link => (link_to t('.tabs.summary'), search_path(:search => {:q => params[:search][:q]})), :class => current_type?},
         { :link => (link_to t('.tabs.contents', :count => @contents.count), search_path(:search => {:query => params[:search][:query], :type => 'contents'})), :class => current_type?("contents") },
         { :link => (link_to t('.tabs.politicians', :count => @politicians.count), search_path(:search => {:query => params[:search][:query], :type => 'politicians'})), :class => current_type?("politicians") },
         { :link => (link_to t('.tabs.users', :count => @citizens.count), search_path(:search => {:query => params[:search][:query], :type => 'users'})), :class => "#{current_type?("users")} last"},
]) %>


<% if show_contents? %>

  <article class="activity contents_results with_footer">
  <div class="inner">
    <header>
    <div class="left">
      <h2><%= t('.contents_results.title', :count => @contents.count) %></h2>
    </div>
    <div class="right">

      <ul class="switch">
        <li class="selected"><%= link_to t('.contents_results.main_filters.more_recent'), '#', :class => 'more_recent selected' %></li>
        <li><%= link_to t('.contents_results.main_filters.more_polemic'), '#', :class => 'more_polemic' %></li>
      </ul>

    </div>
    </header>
    <div class="left">

      <% if @contents %>
        <ul>
          <% @contents.first(how_many_contents_to_show?).each do |content| %>
            <li class="<%= content.event_type %>">
            <%= render "shared/lists_elements/#{content.event_type}", :data => content.item %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
    <div class="right">
      <ul class="selector no-margin">
        <li><%= link_to t('.contents_results.content_type_filters.all'), '#', :class => 'selected' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.news'), '#' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.politicians_activity'), '#' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.questions'), '#' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.proposals'), '#' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.images'), '#' %></li>
        <li><%= link_to t('.contents_results.content_type_filters.videos'), '#' %></li>
      </ul>
    </div>
  </div>
  <footer>
  <div class="separator"></div>
  <div class="inner">

    <div class="left">
      <% if params[:search][:type].blank? %>
        <% if @contents.count > 5 %>
          <%= link_to t('.contents_results.all', :count => @contents.count), '#', :class => :right_arrow %>
        <% end %>
      <% else %>
        <%= link_to t('.contents_results.more'), '#', :class => :right_arrow %>
      <% end %>
    <% end %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>




<% if show_politicians? %>

  <article class="politicians_results with_footer">
  <div class="inner">
    <header>
    <h2><%= t('.politicians_results.title', :count => @politicians.count) %></h2>
    </header>
    <div class="content">
           <ul class="suggestions">
      <% @politicians.first(how_many_users_to_show?).each do |politician| %>
        <li>
        <%= avatar politician %>
          <div class="content">
            <%= link_to politician.fullname, politician_path(politician), :class => :name %>
            <p><%= t('.politicians_results.title_area', :title => get_politician_title(politician), :area => politician.areas.map(&:name).join(', ')) %></p>
            <%= link_to t('.politicians_results.follow'), '#' %>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
  <footer>
  <div class="separator"></div>
  <div class="inner">
    <div class="left">

      <% if params[:search][:type].blank? %>
        <% if @politicians.count > how_many_users_to_show? %>
          <%= link_to t('.politicians_results.all', :count => @politicians.count), '#', :right_arrow %>
        <% end %>
      <% else %>
        <% if @politicians.count > how_many_users_to_show? %>
          <%= link_to t('.politicians_results.more'), '#', :class => :right_arrow %>
        <% end %>
      <% end %>

    </div>
  </div>
  </footer>
  <div class="t"></div><div class="f"></div>
  </article>
  <% end %>

  <% if show_users? %>

    <article class="users_results with_footer">
    <div class="inner">
      <header>
      <h2><%= t('.users_results.title', :count => @citizens.count) %></h2>
      </header>
      <div class="content">

        <ul class="suggestions">
        <% @citizens.first(how_many_users_to_show?).each do |user| %>
          <li>
          <%= avatar user %>
            <div class="content">
              <%= link_to user.fullname, user_path(user), :class => :name %>
              <p><%= "#{user.city}, #{user.province}" %></p>
              <%= link_to t('.users_results.follow'), '#' %>
            </div>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
    <footer>
    <div class="separator"></div>
    <div class="inner">
      <div class="left">

        <% if params[:search][:type].blank? %>
          <% if @citizens.count > how_many_users_to_show? %>
            <%= link_to t('.users_results.all', :count => @citizens.count), '#', :class => :right_arrow %>
          <% end %>
        <% else %>
          <% if @politicians.count > how_many_users_to_show? %>
            <%= link_to t('.users_results.more'), '#', :class => :right_arrow %>
          <% end %>
        <% end %>

      </div>
    </div>
    </footer>
    <div class="t"></div><div class="f"></div>
    </article>

  <% end %>
