<% if @content.location || @editable %>
  <h4><%= t(".title") %></h4>

  <ul class="location no-bullets<%= ' editable' if @editable -%>">
    <li>
    <div class="map" id="map_<%= @content.id %>"></div>
    <%= form_for @content, :remote => true, :html => { :'data-type' => :html, :id => 'wadus' } do |f| %>
      <%= f.hidden_field :location,  :id => :location %>
      <%= f.hidden_field :latitude,  :id => :latitude %>
      <%= f.hidden_field :longitude, :id => :longitude %>
    <% end -%>

    <div class="footer">
      <% if @content.location %>
        <%= @content.location %>
      <% else %>
        <span class="where">Añade un lugar</span>
      <% end %>
    </div>

    <%= content_for :js_data do %>
      <script type="text/javascript" charset="utf-8">
        var
        miniLat = <%= @content.latitude %>,
        miniLng = <%= @content.longitude %>;

        startMiniMap("map_<%= @content.id %>", <%= @content.latitude %>, <%= @content.longitude %>, false);
        </script>
        <% end if @content.location %>

        </li>
      </ul>
    <% end %>
