<h4><%= t(".title") %></h4>

<ul class="locations no-bullets">
  <li>
  <div class="map" id="map_<%= @content.id %>"></div>
  <div class="footer"><%= @content.location %></div>


<%= content_for :js_data do %>
  <script type="text/javascript" charset="utf-8">
    startMiniMap("map_<%= @content.id %>", <%= @content.latitude %>, <%= @content.longitude %>);
  </script>
<% end %>

  </li>
</ul>
