<% if audios.present? || videos.present? || files.present? -%>
<h3>Descargas</h3>
<% active_classes = ['first active'] -%>
<ul class="tabs">
  <% if audios.present? -%>
  <li class="<%= active_classes.pop %>"><a href="#home">Audio</a></li>
  <% end -%>
  <% if videos.present? -%>
  <li class="<%= active_classes.pop %>"><a href="#profile">Video</a></li>
  <% end -%>
  <% if files.present? -%>
  <li><a href="#messages">Documentos</a></li>
  <% end -%>
</ul>

<% active_classes = ['active'] -%>
<div class="pill-content">
<% if audios.present? -%>
  <div class="<%= active_classes.pop %>" id="home">
    <ul class="playlist">
      <% audios.each do |audio| -%>
        <li class="clearfix">
          <div class="icon"></div>
          <a href="<%= audio.url %>" alt="<%= audio.name %>"><%= truncate(audio.name, :length => 30) %></a>
          <span class="footer"><%= audio.size %></span>
        </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
<% if videos.present? -%>
  <div id="profile" class="<%= active_classes.pop %>">
    <ul>
      <% videos.each do |video| -%>
        <li class="clearfix">
          <div class="icon"></div>
          <a href="<%= video.url %>" alt="<%= video.name %>"><%= truncate(video.name, :length => 30) %></a>
          <span class="footer"><%= video.size %></span>
        </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
<% if files.present? -%>
  <div id="messages" class="<%= active_classes.pop %>">
    <ul>
      <% files.each do |file| -%>
        <li class="clearfix">
          <div class="icon"></div>
          <a href="<%= file.url %>" alt="file.name"><%= truncate(file.name, :length => 30) %></a>
          <span class="footer"><%= [file.file_type, file.size].compact.join(', ') %></span>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
<% end -%>

<%#<h3>Cobertura por Irekia</h3>%>
<%#<p>Imagen, video, audio, streaming</p>%>

<%#<h3>Acceso al evento</h3>%>
<%#<p>Permitido para medios gráficos</p>%>
<% end -%>
