<% if audios.present? || videos.present? || files.present? -%>
<h3>Descargas</h3>

<ul class="tabs">
  <li class="first active"><a href="#tab-audio">Audio</a></li>
  <li><a href="#tab-video">Video</a></li>
  <li class="last"><a href="#tab-documents">Documentos</a></li>
</ul>

<div class="pill-content">
<% if audios.present? -%>
  <div class="active" id="home">
    <ul class="playlist">
      <% audios.each do |audio| -%>
        <li class="clearfix">
          <div class="icon"></div>
          <a href="<%= audio.url %>" alt="<%= audio.name %>"><%= truncate(audio.name, :length => 30) %></a>
          <span class="footer"><%= audio.size %></span>
        </li>
      <% end -%>
    </ul>
  </div>
<% else -%>
  <div class="active" id="home">No hay audios disponible</div>
<% end -%>

<% if videos.present? -%>
  <div id="profile">
    <ul>
      <% videos.each do |video| -%>
        <li class="clearfix">
          <div class="icon"></div>
          <a href="<%= video.url %>" alt="<%= video.name %>"><%= truncate(video.name, :length => 30) %></a>
          <span class="footer"><%= video.size %></span>
        </li>
      <% end -%>
    </ul>

  </div>
<% else -%>
  <div id="profile">No hay videos disponibles</div>
<% end -%>

<% if files.present? -%>
  <div id="messages">
    <ul>
      <% files.each do |file| -%>
        <li class="clearfix">
          <div class="icon pdf"></div>
          <a href="<%= file.url %>" alt="file.name"><%= truncate(file.name, :length => 30) %></a>
          <span class="footer"><%= [file.file_type, file.size].compact.join(', ') %></span>
        </li>
      <% end -%>
    </ul>
  </div>
<% else -%>
  <div id="messages">No hay documentos disponibles</div>
<% end -%>
</div>

<%#<h3>Cobertura por Irekia</h3>%>
<%#<p>Imagen, video, audio, streaming</p>%>

<%#<h3>Acceso al evento</h3>%>
<%#<p>Permitido para medios gráficos</p>%>
<% end -%>
