
<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px"  background="<%= "http://#{url_options[:host]}" + path_to_image('mail/info.jpg') %>" style="background-repeat:no-repeat;">
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><h1 style="margin: 0; font-weight:bold; font-size: 24px; color:#465766"><%= @title %></h1></td>
  </tr>
  <tr>
    <td width="635px" height="20px" valign="top"></td>
  </tr>
  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;"><%= @text %></span></td>
  </tr>
  <tr> <td width="635px" height="20px" valign="top"></td> </tr>
  <tr>
    <td width="635px" valign="top"><h2 style="margin:0"><a href="<%= @profile_url %>" target="_blank" style="font-size:17px; color:#1D79B0"><%= @see_profile %></a></h2></td>
  </tr>
</table>
