<table cellpadding="0" cellspacing="0" border="0" align="center" width="635px"  background="<%= "http://#{url_options[:host]}" + path_to_image('mail/info.jpg') %>" style="background-repeat:no-repeat;">
  <tr><td width="635px" height="20px" valign="top"></td></tr>

  <tr>
    <td width="635px" valign="top"><h1 style="margin: 0; font-weight:bold; font-size: 24px; color:#465766"><%= @title %></h1></td>
  </tr>

  <tr><td width="635px" height="20px" valign="top"></td></tr>

  <tr>
    <td width="635px" valign="top"><span style="color: #5E5E5E;"><%= @text %></span></td>
  </tr>

  <tr><td width="635px" height="20px" valign="top"></td></tr>


  <tr><td width="635px" valign="top"><h2 style="margin:0"><%= @step_1 %></h2></td></tr>
  <tr><td width="635px" valign="top">
      <p style="margin: 5px 0 0 0; color: #5E5E5E;"><%= raw @step_1_detail %></p>
  </td></tr>
  <tr><td width="635px" height="20px" valign="top"></td></tr>

  <tr><td width="635px" valign="top"><h2 style="margin:0"><%= @step_2 %></h2></td></tr>
  <tr><td width="635px" valign="top">
      <p style="margin: 5px 0 0 0; color: #5E5E5E;"><%= raw @step_2_detail %></p>
  </td></tr>
  <tr><td width="635px" height="20px" valign="top"></td></tr>

  <tr><td width="635px" valign="top"><h2 style="margin:0"><%= @step_3 %></h2></td></tr>
  <tr><td width="635px" valign="top">
      <p style="margin: 5px 0 0 0; color: #5E5E5E;"><%= @step_3_detail %></p>
  </td></tr>
  <tr><td width="635px" height="20px" valign="top"></td></tr>

  <tr><td width="635px" valign="top"><h2 style="margin:0"><a href="#" target="_blank" style="font-size:17px; color:#1D79B0"><%= @access_irekia %></a></h2></td></tr>

</table>
