<article class="activity with_footer">
<div class="inner">
  <header>
  <div class="left">
    <h2><%= "#{pluralize(@questions.size, "preguntas")} a #{@politician.fullname}" %></h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li><%= link_to t('.main_filters.more_recent'), '/in_development', :class => 'more_recent' %></li>
      <li class="selected"><%= link_to t('.main_filters.more_polemic'), '/in_development', :class => 'more_polemic' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <% if @questions %>
      <ul>
        <% @questions.first(4).each do |question| %>
          <li>
          <%= render 'shared/lists_elements/question', :data => question %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="right">

    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.news'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.politicians_activity'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.questions'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.proposals'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.images'), '/in_development' %></li>
      <li><%= link_to t('.content_type_filters.videos'), '/in_development' %></li>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.more'), link_for_actions, :class => "down_arrow" %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
