<article class="profile with_footer">
<div class="inner">
  <header>
  <h1><%= @politician.fullname %></h1>
  <p class="position">Consejera de <%= link_to "Educación, Universidades e Investigación", '/in_development' %></p>
  </header>

  <div class="left">
    <div class="description two_columns">
      <h3>Quién es y qué hace</h3>
      <%= simple_format(@politician.description) %>
      <%= link_to "Leer más", '/in_development' %></p>
      <p><%=link_to raw( "<span class='add'></span>") +"Seguir a #{@politician.name} (24)", '/in_development', :class => "white_button add_person" %></p>
    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner with_avatar with_question">
  <h3>Pregunta a <%= @politician.name %></h3>
  <%= image_tag 'temp/avatar_big.png', :class => :xlAvatar %>

  <%= form_for current_user do |form| %>
    <%= form.fields_for :questions, @question do |questions| %>

      <div id="counter-124" class="input-counter placeholder">
        <span class="counter">140</span>
        <%= questions.fields_for :question_data, @question_data do |question_data| %>
          <%= question_data.hidden_field :user_id %>
          <%= question_data.text_field :question_text, :class => :xlInput %>
        <% end %>

        <span class="holder large">Haz una pregunta a <%= @politician.name %>...</span>
      </div>

      <input type="submit" value="Preguntar" id="submit-counter-124" class="disabled white_button" disabled="disabled" />
    <% end %>
  <% end %>

</div>
</footer>
<%= link_to "", '/in_development', {:class => :ribbon} %>
<div class="t"></div><div class="f"></div>
</article>
