<% content_for :header do %>
  <header class="clearfix">
  <%= link_to t(".back"), root_path(:datalogger => true), :class => :white_button %>
  <h2><%= t(".title") %></h2>
  <div class="shadow"></div>
  </header>
<% end %>

<%= form_for @new_content, :remote => true, :html => {:'data-type' => :html, :'data-success' => t(".success_message")} do |form| %>
  <%= form.hidden_field :type, :value => 'Event' %>
  <%= form.hidden_field :latitude, :id => :latitude %>
  <%= form.hidden_field :longitude, :id => :longitude %>
  <%= form.hidden_field :location, :id => :location_name %>
  <%= hidden_field_tag :share_in_twitter, '1' %>
  <%= hidden_field_tag :share_in_facebook, '1' %>
  <%= hidden_field_tag :share_in_facebook, '1' %>

  <%= form.fields_for :event_data, @new_content.build_event_data do |event_data_form| -%>
    <div id="map_canvas"></div>
    <fieldset>
      <div class="location clearfix">
        <%= avatar(current_user) %>
        <div class="info">
          <div class="place"></div>
          <div class="help">
            <%= t(".move_the_marker") %>
          </div>
        </div>
      </div>
      <%= event_data_form.hidden_field :title, :id => :location_title %>
      <%= event_data_form.text_area :body, :placeholder => t('.add_comment') %>
      <%= event_data_form.hidden_field :event_date, :value => Time.now %>
    </fieldset>
  <% end -%>
   <div class="submit clearfix">
     <%= form.submit t('.check_in_here'), :class => "white_button publish center" %>
   </div>

  <div class="spinner"><%= image_tag "datalogger/spinner.gif" %></div>
<% end -%>

<% content_for :js_data do %>
  <script>
function success(position) {
  
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'map_canvas';
    
  
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      draggable:true
  });
  google.maps.event.addListener(marker, 'dragend', function(position) {
    gelocatePosition(position);
  });
}



function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
}

function gelocatePosition(position) {

  var latLng = position.latLng; 
  var coder  = new google.maps.Geocoder();

  coder.geocode({ 'latLng': latLng }, function(e) {
    var locationName = e[0].formatted_address;
    $(".location .place").html(locationName);
    $("#location_name").val(locationName);
    $("#location_title").val(locationName);
    $("#latitude").val(latLng.lat());
    $("#longitude").val(latLng.lng());
  });

}

function gelocate() {
  navigator.geolocation.getCurrentPosition(function(position) {

    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

    var latLng = new google.maps.LatLng(lat, lng);
    var coder  = new google.maps.Geocoder();

    coder.geocode({ 'latLng': latLng }, function(e) {
      var locationName = e[0].formatted_address;
      $(".location .place").html(locationName);
      $("#location_name").val(locationName);
      $("#location_title").val(locationName);
      $("#latitude").val(lat);
      $("#longitude").val(lng);
    });

    }, function(error) {
  });
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
  gelocate();
  } else {
  error('not supported');
}

</script>
<% end %>
