<li data-id="<%= @content.areas_contents.last.area_id %>" class="editable">
  <%= link_to @content.areas_contents.last.area.name, area_path(@content.areas_contents.last.area) %>

  <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :remove} do |form| %>
    <%= form.fields_for :areas_contents, @content.areas_contents.last do |areas_contents| %>
      <%= areas_contents.hidden_field :_destroy, :value => true %>
    <% end -%>
    <%= form.submit 'x', :class => 'remove' %>
  <% end -%>
</li>

