<%= render 'moderation_info' if @show_moderation_info %>
<% @items.each do |item| -%>
<li class="content">
  <div class="left">
    <%= render "admin/moderation/lists_elements/#{item.type.downcase}", :data => item %>
    <% if item.author.present? -%>
      <p class="time">Hace <%= distance_of_time_in_words_to_now(item.created_at) %> &middot; <%= link_to item.author.fullname, path_for_user(item.author)%></p>
    <% end -%>
  </div>
  <div class="right">
    <div class="moderation">
      <span class="move"></span>
      <span class="buttons">
        <%= form_for [:admin, item], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
          <%= form.hidden_field :rejected, :value => true %>
          <%= button t('.rejected'), :class => :ko %>
        <% end %>
        <%= form_for [:admin, item], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
          <%= form.hidden_field :rejected, :value => false %>
          <%= form.hidden_field :moderated, :value => false %>
          <%= button '', :class => :null %>
        <% end %>
        <%= form_for [:admin, item], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
          <%= form.hidden_field :moderated, :value => true %>
          <%= button t('.validate'), :class => :ok %>
        <% end %>
      </span>
    </div>
  </div>
</li>
<% end -%>
