<article>
<div class="inner">
  <div class="content">
    <header>
    <h1>Moderación de contenidos</h1>
    </header>
    <div class="left">
      <% if @contents[:not_moderated].size > 0 %>
      <div class="contents">
        <h3><%= t('.contents') %></h3>
        <div class="clearfix"><%= button_to t('.validate_all'), admin_moderate_all_path(:type => 'contents'), :class => :white_button %></div>

        <ul>
          <% @contents[:not_moderated].each do |content| %>
            <li class="content">
            <%= render "shared/lists_elements/#{content.class.name.downcase}", :data => content, :admin => true %>

            <div class="clearfix">
              <%= form_for [:admin, content] do |form| %>
                <%= form.hidden_field :moderated, :value => true %>
                <%= button t('.validate', :type => content.class.model_name.human.downcase), :class => :white_button %>
              <% end %>

              <%= form_for [:admin, content] do |form| %>
                <%= form.hidden_field :rejected, :value => true %>
                <%= button t('.delete', :type => content.class.model_name.human.downcase), :class => :white_button %>
              <% end %>
            </div>

            <hr />
            </li>
          <% end %>
        </ul>
        <%= paginate @contents[:not_moderated] %>
      </div>
    <% end %>

    <% if @participations[:not_moderated].size > 0 %>
      <div class="participations">
        <h3><%= t('.participations') %></h3>
        <div class="clearfix"><%= button_to t('.validate_all'), admin_moderate_all_path(:type => 'participations'), :class => :white_button %></div>

        <ul>

          <% @participations[:not_moderated].each do |participation| %>
            <li class="participation">
            <%= render "shared/lists_elements/#{participation.class.name.downcase}", :data => participation, :admin => true %>

            <div class="clearfix">
              <%= form_for [:admin, participation] do |form| %>
                <%= form.hidden_field :moderated, :value => true %>
                <%= button t('.validate', :type => participation.class.model_name.human.downcase), :class => :white_button %>
              <% end %>

              <%= form_for [:admin, participation] do |form| %>
                <%= form.hidden_field :rejected, :value => true %>
                <%= button t('.delete', :type => participation.class.model_name.human.downcase), :class => :white_button %>
              <% end %>
            </div>

            <hr />
            </li>
          <% end %>
        </ul>
        <%= paginate @participations[:not_moderated] %>
      </div>
    <% end %>


  </div>
  <div class="right"> </div>
</div>
</div>
<div class="t"></div><div class="f"></div>
</article>
