<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <p class="info">28 de Junio de 2011 &middot; <%= link_to 'Presentación del Gobierno Vasco 2010', "#" %> &middot; <%= link_to "2 comentarios", "#" %></p>
    <h1>Presentación del Gobierno Vasco 2010</h1>
    <p><strong>Un jurado internacional ha decidido que San Sebastián - Donostia sea designada como Capital Europea de la Cultura 2016</strong></p>

    <%= image_tag '/images/temp/government.png' %>
    <p>Presentación del nuevo Gobierno Vasco, formado tras las elecciones de 2010.</p>

    <p>San Sebastián-Donostia se ha impuesto a Zaragoza, Córdoba, Burgos, Segovia y Las Palmas y en 2016 compartirá capitalidad cultural con la ciudad polaca de Woclaw. El Lehendakari, Patxi López, ha querido felicitar, poco después de que se conociese el fallo del jurado, a “todos los donostiarras” y  a “toda la sociedad vasca” porque asegura que este es “un logro de todos”.</p>
    <p>El Lehendakari, Patxi López, ha reconocido la labor de los responsables técnicos del proyecto porque han sido <a href="#">muchos meses de trabajo</a> hasta elaborar un “proyecto excelente, atrayente e imaginativo” que ha recibido hoy la “recompensa merecida”.</p>
    <p>En su felicitación el Lehendakari no se ha olvidado de Odón Elorza porque considera que ha sido “el principal motor y valedor de esta candidatura”, López ha asegurado que Elorza ha trabajado por una “iniciativa en la que creyó desde el primer minuto” una vez dejada la alcaldía.</p>
    <p>“Después de años en los que las únicas noticias que salían de Euskadi eran negativas”, “hoy proyectamos una imagen de país abierto, innovador y hospitalario”, ha asegurado Patxi López, Euskadi “superando sus fracturas y avanza con paso decidido hacia la modernidad”, ha concluido.</p>
    <p><%= link_to 'Leer noticia completa', '#', :class => :more %></p>

    <div class="comments">
      <div class="count">2 comentarios</div>
      <ul>
        <li>
        <a href="#"><div class="avatar"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
        <blockquote>¿A quién me tengo que dirigir para obtener mas información sobre las ayudas para estudiantes universitarios?</blockquote>
        <div class="footer when"><a href="#">Virginia Uriarte</a> hace 2 horas</div>
        </li>
        <li>
        <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
        <blockquote>¿Alguien sabe si habrá streaming del evento?</blockquote>
        <div class="footer when"><a href="#">Alberto Ortiz</a> hace 21 días</div>
        </li>
        <li class="comment">
        <form action="" method="get" accept-charset="utf-8">
          <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
          <div class="textarea-comment placeholder">
            <textarea></textarea>
            <span class="holder">¿Algo que decir?... comenta este tweet</span>
          </div>

          <input type="submit" value="Comentar" class="white_button blue right">
        </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/demo/sharing" %>
      <%= render "shared/demo/tags" %>
      <%= render "shared/demo/politicians" %>
      <%= render "shared/demo/related_events" %>
      <%= render "shared/demo/previously" %>
      <%= render "shared/demo/similar_proposals" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to "volver", "#", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
