<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <h2>Hola Virginia, ¿Cuando tenéis pensado publicar el nuevo plan de estudios de la Universidad de Deusto?</h2>
    <p class="info"><%= link_to "Adrián López", "#" %> hace 2 horas &middot; <span class="positive">+4</span> &middot; <%= link_to '1 comentario', "#" %> &middot; <span class="not_answered">No contestada</span></p>

    <div class="answer">
      <p>Hola Adrián,</p>
      <p>Por desgracia aún no sabemos cuando vamos a poder liberar el plan de estudios para el próximo curso, puesto que en las organizaciones competentes están trabajando actualmente en ello.
      De todos modos, te invitaría a que la próxima vez, directamente contactes con ellos directamente (Universidad de Deusto: info@uni.deu.edu) para obtener información de primera mano.</p>
      <p>Muchas gracias por tu pregunta y un saludo.</p>
    </div>

      <%= render "shared/demo/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/sharing" %>
      <%= render "shared/demo/tags" %>
      <%= render "shared/demo/politicians" %>
      <%= render "shared/demo/related_events" %>
      <%= render "shared/demo/previously" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to "ver todas las preguntas", "#", :class => :left_arrow %>
    <span class="question">Hola Virginia, ¿qué pasa con Mary...?</span>
  </div>

  <div class="right">
    <%= link_to "siguiente pregunta", "#", :class => :right_arrow %>
    <span class="question">Hola Virginia, ¿qué pasa con Mary...?</span>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
