<div class="article activity with_footer">
<div class="inner">
  <div class="left">

    <p class="info">28 de Junio de 2011 &middot; <%= link_to 'Presentación del Gobierno Vasco 2010', "#" %> &middot; <%= link_to "2 comentarios", "#" %></p>
    <h1>Presentación del Gobierno Vasco 2010</h1>
    <p><strong>Un jurado internacional ha decidido que San Sebastián - Donostia sea designada como Capital Europea de la Cultura 2016</strong></p>

    <%= image_tag '/images/temp/government.png' %>
    <p>Presentación del nuevo Gobierno Vasco, formado tras las elecciones de 2010.</p>

    <p>San Sebastián-Donostia se ha impuesto a Zaragoza, Córdoba, Burgos, Segovia y Las Palmas y en 2016 compartirá capitalidad cultural con la ciudad polaca de Woclaw. El Lehendakari, Patxi López, ha querido felicitar, poco después de que se conociese el fallo del jurado, a “todos los donostiarras” y  a “toda la sociedad vasca” porque asegura que este es “un logro de todos”.</p>
    <p>El Lehendakari, Patxi López, ha reconocido la labor de los responsables técnicos del proyecto porque han sido <a href="#">muchos meses de trabajo</a> hasta elaborar un “proyecto excelente, atrayente e imaginativo” que ha recibido hoy la “recompensa merecida”.</p>
    <p>En su felicitación el Lehendakari no se ha olvidado de Odón Elorza porque considera que ha sido “el principal motor y valedor de esta candidatura”, López ha asegurado que Elorza ha trabajado por una “iniciativa en la que creyó desde el primer minuto” una vez dejada la alcaldía.</p>
    <p>“Después de años en los que las únicas noticias que salían de Euskadi eran negativas”, “hoy proyectamos una imagen de país abierto, innovador y hospitalario”, ha asegurado Patxi López, Euskadi “superando sus fracturas y avanza con paso decidido hacia la modernidad”, ha concluido.</p>
    <p><%= link_to 'Leer noticia completa', '#', :class => :more %></p>

    <%= render "shared/demo/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= render "shared/demo/sharing" %>
      <%= render "shared/demo/tags" %>
      <%= render "shared/demo/location" %>
      <%= render "shared/demo/politicians" %>
      <%= render "shared/demo/related_events" %>
      <%= render "shared/demo/previously" %>
      <%= render "shared/demo/similar_proposals" %>

    </div>
  </div>
</div>

<div class="bfooter">
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to "volver", "#", :class => :left_arrow %>
  </div>

</div>
</div>
<div class="t"></div><div class="f"></div>
</div>
