<!-- Menu -->
<ul class="menu">
  <li class="active"><%= link_to t('.dashboard'), "#"  %></li>
  <li><%= link_to t('.your_questions'), "#"  %><span class="count">1</span></li>
  <li><%= link_to t('.your_proposals'), "#"  %><span class="count">21</span></li>
  <li><%= link_to t('.your_activity'), "#"  %><span class="count">99</span></li>
  <li><%= link_to t('.what_to_follow'), "#"  %></li>
  <li class="publish last"><%= link_to t('.publicar'), "#", :class => :white_button  %></li>
</ul>
<!-- /Menu -->
