<article class="activity with_footer">
<div class="inner">
  <div class="left">

    <p class="info">28 de Junio de 2011 &middot; <%= link_to 'Presentación del Gobierno Vasco 2010', "#" %> &middot; <%= link_to "2 comentarios", "#" %></p>
    <h1>Presentación del Gobierno Vasco 2010</h1>
    <%= image_tag '/images/temp/government.png' %>
    <p>Presentación del nuevo Gobierno Vasco, formado tras las elecciones de 2010.</p>

    <div class="comments">
      <div class="count">2 comentarios</div>
      <ul>
        <li>
        <a href="#"><div class="avatar"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
        <blockquote>¿A quién me tengo que dirigir para obtener mas información sobre las ayudas para estudiantes universitarios?</blockquote>
        <div class="footer when"><a href="#">Virginia Uriarte</a> hace 2 horas</div>
        </li>
        <li>
        <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
        <blockquote>¿Alguien sabe si habrá streaming del evento?</blockquote>
        <div class="footer when"><a href="#">Alberto Ortiz</a> hace 21 días</div>
        </li>
        <li class="comment">
        <form action="" method="get" accept-charset="utf-8">
          <a href="#"><div class="avatar"><img src="/images/temp/avatar_004.png" /></div></a>
          <div class="textarea-comment placeholder">
            <textarea></textarea>
            <span class="holder">¿Algo que decir?... comenta este tweet</span>
          </div>

          <input type="submit" value="Comentar" class="white_button blue right">
        </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="content prueba">

      <ul class="sharing">
        <li><div class="email"></div></li>
        <li><div class="twitter"></div></li>
        <li><div class="facebook"></div></li>
        <li><div class="more"></div></li>
      </ul>

      <h4>Tags</h4>
      <ul class="tags">
        <li><a href="#">Comisión</a></li>
        <li><a href="#">Transporte</a></li>
        <li><a href="#">Gobierno Vasco</a></li>
        <li><a href="#">Transporte</a></li>
        </ul>

      <h4>Políticos etiquetados en la imagen</h4>
      <ul class="people no-border no-padding extra-margin-bottom">
        <li>
        <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_002.png" /></div></a>
        <a href="#" class="name">Virginia Uriarte Rodriguez</a>
        <span class="position">Consejera</span>
        </li>
        <li>
        <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_003.png" /></div></a>
        <a href="#" class="name">Virginia Uriarte Rodriguez</a>
        <span class="position">Consejera</span>
        </li>
        <li>
        <a href="#"><div class="avatar medium"><img alt="Avatar_002" src="/images/temp/avatar_004.png" /></div></a>
        <a href="#" class="name">Virginia Uriarte Rodriguez</a>
        <span class="position">Consejera</span>
        </li>
      </ul>

      <h4>Eventos relacionados</h4>
      <ul class="previously no-bullets">
        <li><%= link_to "Presentación del Gobierno Vasco 2010 en Deusto", "#" %>
        <div class="footer">Hace 2 días &middot; <%= link_to '2 comentarios', '#' %></div>
        </li>
      </ul>

      <h4>Anteriormente Nagore...</h4>
      <ul class="previously">
        <li><%= link_to "Preparando lo de mañana en el Euskal Encounter.", "#" %><div class="footer">Hace 2 días</div></li>
        <li><%= link_to "Vuelta de vacaciones. Grr.", "#" %><div class="footer">Hace 2 días</div></li>
        <li><%= link_to "#dearlazyweb, ¿un restaurante en Puerto de Santa María?", "#" %><div class="footer">Hace 2 días</div></li>
      </ul>
    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to "volver", "#", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
