<div class="article with_footer">
<div class="inner">
  <header>
  <h2>¿Quieres más? Te sugerimos...</h2>
  </header>
  <div class="content">
    <ul class="suggestions">
      <li>
      <%= link_to (image_tag 'temp/avatar_005.png'), "#", :title => "Virginia Uriarte Rodriguez", :class => :avatar %>
      <div class="content">
        <%= link_to "Virginia Uriarte Rodriguez", "#", :title => "Virginia Uriarte Rodriguez", :class => :name %>
        <p>Viceconsejero de Economía</p>
        <%= link_to "Seguir", "#" %>
      </div>
      </li>

      <li class="selected">
      <%= link_to (image_tag 'icons/faceless_avatar_medium.png'), "#", :title => "Unax Ugalde Cano", :class => :avatar %>
      <div class="content">
        <%= link_to "Unax Ugalde Cano", "#", :title => "Unax Ugalde Cano", :class => :name %>
        <p>Viceconsejero de Economía</p>
        <%= link_to "Dejar de seguir", "#" %>
      </div>
      </li>

      <li>
      <%= link_to (image_tag 'temp/avatar_007.png'), "#", :title => "Fernando Blat Peris", :class => :avatar %>
      <div class="content">
        <%= link_to "Fernando Blat Peris", "#", :title => "Fernando Blat Peris", :class => :name %>
        <p>Consejero de Industria</p>
        <%= link_to "Seguir", "#" %>
      </div>
      </li>

      <li class="selected">
      <%= link_to (image_tag 'temp/avatar_005.png'), "#", :title => "Virginia Uriarte Rodriguez", :class => :avatar %>
      <div class="content">
        <%= link_to "Virginia Uriarte Rodriguez", "#", :title => "Virginia Uriarte Rodriguez", :class => :name %>
        <p>Viceconsejero de Economía</p>
        <%= link_to "Seguir", "#" %>
      </div>
      </li>

      <li>
      <%= link_to (image_tag 'temp/avatar_006.png'), "#", :title => "Unax Ugalde Cano", :class => :avatar %>
      <div class="content">
        <%= link_to "Unax Ugalde Cano", "#", :title => "Unax Ugalde Cano", :class => :name %>
        <p>Viceconsejero de Economía</p>
        <%= link_to "Seguir", "#" %>
      </div>
      </li>

      <li class="selected">
      <%= link_to (image_tag 'temp/avatar_007.png'), "#", :title => "Fernando Blat Peris", :class => :avatar %>
      <div class="content">
        <%= link_to "Fernando Blat Peris", "#", :title => "Fernando Blat Peris", :class => :name %>
        <p>Consejero de Industria</p>
        <%= link_to "Seguir", "#" %>
      </div>
      </li>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to "Más sugerencias", "#", :class => "right_arrow" %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>
