<div class="article questions broken-bottom">
<div class="inner">
  <header>
  <div class="left">
    <h2>1 nueva pregunta contestada</h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li><a href="#">más reciente</a></li>
      <li class="selected"><a href="#">más polémica</a></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <ul>

    <li>
      <%=link_to (content_tag 'div', (image_tag 'temp/avatar_002.png'), :class => "avatar"), "#" %>
      <div class="content">
        <p><strong>Hola, últimamente he tenido algún problema para poder completar el formulario de entrega de documentación para la beca de estudios. ¿Quién podría ayudarme con esto?</strong></p>
        <p class="excerpt">"Hola Virginia, llevo algún tiempo queriendo saber por qué no se pueden llevar perros, gatos u otros animales domésticos a los actos públicos..." <%=link_to "Leer más", "#" %></p>
        <div class="footer"><%= link_to "Virginia Uriarte", "#" %> contestó hace 2 horas &middot; <%= link_to "3 comentarios", "#" %> &middot; <%=link_to "Compartir", "#" %></div>
      </div>
    </li>

  </ul>

  </div>
  <div class="right">

  </div>
</div>
<div class="t"></div><div class="f"></div>
</div>


<div class="article questions broken-top">
<div class="inner">
  <header>
  <div class="left">
    <h2>Todas las preguntas hechas por ti</h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li><a href="#">más reciente</a></li>
      <li class="selected"><a href="#">más polémica</a></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <ul>

    <li>
      <%=link_to (content_tag 'div', (image_tag 'temp/avatar_002.png'), :class => "avatar"), "#" %>
      <div class="content">
        <p><strong>Hola, últimamente he tenido algún problema para poder completar el formulario de entrega de documentación para la beca de estudios. ¿Quién podría ayudarme con esto?</strong></p>
        <p class="excerpt">"Hola Virginia, llevo algún tiempo queriendo saber por qué no se pueden llevar perros, gatos u otros animales domésticos a los actos públicos..." <%=link_to "Leer más", "#" %></p>
        <div class="footer"><%= link_to "Virginia Uriarte", "#" %> contestó hace 2 horas &middot; <%= link_to "3 comentarios", "#" %> &middot; <%=link_to "Compartir", "#" %></div>
      </div>
    </li>

  </ul>

  </div>
  <div class="right">

  </div>
</div>
<div class="t"></div><div class="f"></div>
</div>
