<!-- Welcome article -->
<div class="article welcome">
<div class="inner">
  <div class="avatar">
    <%= image_tag 'temp/avatar_008.png' %>
  </div>
  <div class="content">
    <h1>Hola de nuevo Mikel,</h1>
    <p>Actualmente sigues a <%= link_to "34 políticos", "#" %> y <%= link_to "2 áreas", "#" %>.<%= link_to t('.configure_your_account'), "#", :class => :config %></p>
  </div>
</div>

<div class="t"></div><div class="f"></div>
</div>



<!-- Welcome article -->
<div class="article welcome">
<div class="inner">
  <div class="avatar">
    <%= image_tag 'temp/avatar_008.png' %>
  </div>
  <div class="content">
    <h1>Hola Mikel, ¿Por dónde empezar?</h1>
    <p>Actualmente sigues a <%= link_to "10 políticos", "#" %> y <%= link_to "2 áreas", "#" %></p>
  </div>

  <ul class="actions">
    <li class="follow">
    <h3>Sigue lo que te interese</h3>
    <p>Busca los perfíles o áreas que mas te interesen y síguelos. </p>
    <p>De esta manera estarás informado de todo lo que pase con el mínimo esfuerzo.</p>
    <%= link_to (raw "<span>Ir a un Área cualquiera</span>"), "#", :class => "white_button blue" %>
    </li>

    <li class="collaborate">
    <h3>Participa y aprende</h3>
    <p>Haz preguntas a los responsables del Gobierno Vasco, <a href="#">lanza tus propuestas a los ciudadanos</a>, o participa en las propuestas de otros.</p>
    <p>Todo con un simple click.</p>
    <%= link_to (raw "<span>Crear una pregunta</span>"), "#", :class => "white_button blue" %>
    </li>

    <li class="configure last">
    <h3>Configura tu cuenta</h3>
    <p>Sube tu avatar o modifica tus datos. </p>
    <p>También puedes conectar tus cuentas de facebook y twitter para integrar tu actividad en las redes sociales con el nuevo irekia.</p>
    <%= link_to (raw "<span>Configura tu cuenta</span>"), "#", :class => "white_button blue" %>
    </li>
  </ul>

</div>

<div class="t"></div><div class="f"></div>
</div>

<div class="article">
<div class="inner">
  <div class="content">
    <h2>Notificaciones</h2>

    <ul class="notifications">
      <li>
      <a href="#" class="letter minimun"></a>
      <div class="content">
        <strong>Mínimas</strong>
        <p>Recibirás los emails estrictamente necesarios para la gestión de tu cuenta.</p>
      </div>
      </li>

      <li class="selected">
      <a href="#" class="letter basics"></a>
      <div class="content">
        <strong>Básicas</strong>
        <p>Recibirás los resultados finales de las propuestas y preguntas en las que has participado.</p>
      </div>
      </li>

      <li class="last">
      <a href="#" class="letter all"></a>
      <div class="content">
        <strong>Todas</strong>
        <p>Te avisaremos también cuando haya novedades en un hilo en el que has participado.</p>
      </div>
      </li>
    </ul>

  </div>
</div>

<div class="t"></div><div class="f"></div>
</div>
