<%= render "users/#{@viewing_access}/welcome" %>
<%= render "users/#{@viewing_access}/navigation_menu" %>

<% unless @actions.present? -%>
  <div class="article help">
  <div class="inner">
    <div class="content centered clearfix">
      <div class="info icon"></div>
      <div class="message">
        <% if @viewing_access == "public" %>
          <h2><%= t('.no_activity.other_title',:user => @user.name) %></h2>
        <% else %>
          <h2><%= t('.no_activity.title') %></h2>
        <% end %>
        <p><%= t('.no_activity.description') %></p>
        <% if @viewing_access != "public" %>
          <%= link_to (content_tag :span, t('.no_activity.homepage')), '/', :class => "white_button pink" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
  </div>

  <%= render "/shared/question_form" %>

<% else -%>
  <%= render "shared/actions", :title => t(viewing_dashboard?? 'show.activity.title' : 'actions.title', :scope => "users.#{@viewing_access}") if @actions.present? %>
<% end -%>

<%= render "shared/#{current_user.politician? ? 'politician' : 'user' }_publish" if private_profile? or politician_profile? %>
