<article class="thin with_footer with_remark signup">
<div class="inner">
  <div class="content">

    <h1><%= t('.connect') %></h1>
    <p><%= t('.works_better') %></p>

    <div class="social-links">
      <div class="facebook <%='disabled' if @user.connected_with_facebook? %>">
        <%= link_to raw(t('.signin', :name => "Facebook")), user_omniauth_authorize_path(:facebook), :id => :facebook %>
      </div>

      <div class="twitter <%='disabled' if @user.connected_with_twitter? %>">
        <%= link_to raw(t('.signin', :name => "Twitter")), user_omniauth_authorize_path(:twitter), :id => :twitter %>
      </div>
    </div>

  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">
  <div class="center">
    <%= link_to t('.continue'), path_for_user(@user), :class => "white_button pink center"  %>
  </div>
</div>
</footer>

<div class="remark">
  <%= link_to t('.discover'), '/in_development' %>
</div>
<div class="t"></div><div class="f"></div>
</article>

