<div class="cycle extra <%= 'extra-margin' if @user.invalid? && @user.errors[:email].present? %>">
  <div class="inner-cycle">
    <div class="article thin with_footer with_remark with_form signup step2">
      <%= form_for @user, :remote => true, :html => { :novalidate => :novalidate, "data-type" => :html } do |f| %>
      <div class="inner clearfix">
        <div class="content">

          <h1><%= t('.tell_us_more_about_you') %></h1>
          <p><%= t('.we_want_to_know_you_better') %></p>

          <fieldset>

            <div class="field name">
              <%= f.label :name %>
              <div class="input_field">
                <%= f.text_field :name, :placeholder => "", :autocomplete => :off %>
              </div>
              <span class="mandatory"><%= t(".mandatory") %></span>
            </div>

            <div class="field lastname">
              <%= f.label :lastname %>
              <div class="input_field">
                <%= f.text_field :lastname, :placeholder => "",:autocomplete => :off %>
              </div>
              <span class="mandatory"><%= t(".mandatory") %></span>
            </div>

            <% if @user.invalid? && @user.errors[:email].present? %>
              <div class="field email">
                <%= f.label :email %>
                <div class="input_field">
                  <%= f.text_field :email, :value => nil, :placeholder => "", :autocomplete => :off %>
                </div>
                <span class="mandatory"><%= t(".mandatory") %></span>
              </div>
            <% end -%>

            <div class="field postal_code">
              <%= f.label :postal_code %>
              <div class="input_field">
                <%= f.text_field :postal_code, :placeholder => "", :autocomplete => :off %>
              </div>
            </div>

            <div class="field born_at">
              <%= f.label :birthday %>
              <div class="input_field">
                <%= f.date_select :birthday, :start_year => 1900, :include_blank => true %>
              </div>
            </div>

          </fieldset>

        </div>
      </div>

      <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <div class="center">
          <span class="spinner" id="register_spinner"></span>
          <%= button t('.continue'), :class => "white_button pink center advance" %>
        </div>
      </div>
      </div>
      <div class="remark">
        <%= link_to t('.with_this_data'), privacy_police_path, :target => "_blank" %></div>
      <div class="t"></div><div class="f"></div>
    <% end %>
  </div>
</div>
