<%= content_for :js_data do %>
  <% if flash[:error] == "password" %>
    <script>
      setTimeout(function(){
        goTo($('#settings_<%= flash[:error] %>'));
      }, 200);
    </script>
  <% end %>
<% end %>

<div id="remove_account_popover" class="article popover thin remove_account with_footer">
  <span class="close"></span>
  <div class="inner">
    <div class="content centered">
      <h2><%= raw t(".can_we_change_your_mind") %></h2>
      <p><%= raw t(".if_you_had_a_bad_experience") %> <a href="#"><%= t(".get_in_touch_with_us") %></a> <%= t(".and_well_fix_it") %>.</p>
    </div>
  </div>
  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="center clearfix">
        <%= button_to t(".remove_profile"), user_path(current_user), :method => :delete, :class => "white_button remove" %>
        <%= button t(".cancel"), :class => "white_button close pink" %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<div class="article settings with_form with_footer">
  <%= form_for current_user, :html => {:novalidate => 'novalidate'} do |form| %>
    <div class="inner">
      <header class="clearfix">
      <div class="left">
        <h2><%= t(".your_profile") %></h2>
        <h4><%= t(".remember_this_information_is_public") %></h4>
      </div>
      <div class="right"></div>
      </header>
      <div class="left">
        <fieldset>
          <div class="field clearfix">
            <label for=""><%= t(".gender") %></label>

            <div class="radios">
              <a href="#" class="radio gender male<%= ' selected' if !current_user.is_woman %>">Hombre
                <%= form.radio_button :is_woman, false, :checked => !current_user.is_woman %>
              </a>

              <a href="#" class="radio gender female<%= ' selected' if current_user.is_woman %>">Mujer
                <%= form.radio_button :is_woman, true, :checked => current_user.is_woman %>
              </a>
            </div>

          </div>

          <div class="field clearfix name pull-left<%= ' error' if current_user.errors[:name].present? %>">
            <%= form.label :name, t('.name') %>
            <div class="input_field">
              <%= form.text_field :name %>
            </div>

            <% if current_user.errors[:name].present? || current_user.errors[:lastname].present? %>
              <ul class="errors">
                <% if current_user.errors[:name].present? %> <li><%= current_user.errors[:name].first %></li> <% end %>
                <% if current_user.errors[:lastname].present? %> <li><%= current_user.errors[:lastname].first %></li> <% end %>
              </ul>
            <% end %>

          </div>


          <div class="field clearfix lastname pull-right<%= ' error' if current_user.errors[:lastname].present? %>">
            <%= form.label :lastname, t('.lastname') %>
            <div class="input_field">
              <%= form.text_field :lastname %>
            </div>
          </div>

          <div class="field clearfix territory pull-left">
            <%= form.label :province, t('.province') %>
            <div class="input_field">
              <%= form.select :province, [['Álava', 1], ['Guipúzcoa', 2], ['Vizcaya', 3]], { :include_blank => true}, :class => 'dropkick default' %>
            </div>
          </div>

          <div class="field clearfix municipality pull-right">
            <%= form.label :city_id, t('.city') %>
            <div class="input_field select">
              <%= form.select :city_id, [['Alegría-Dulantzi', 10014], ['Amurrio', 10029], ['Aramaio', 10035], ['Artziniega', 10040], ['Armiñón', 10066], ['Arrazua-Ubarrundia', 10088], ['Asparrena', 10091], ['Ayala/Aiara', 10105], ['Baños de Ebro/Mañueta', 10112], ['Barrundia', 10133], ['Berantevilla', 10148], ['Bernedo', 10164], ['Campezo/Kanpezu', 10170], ['Zigoitia', 10186], ['Kripan', 10199], ['Kuartango', 10203], ['Elburgo/Burgelu', 10210], ['Elciego', 10225], ['Elvillar/Bilar', 10231], ['Iruraiz-Gauna', 10278], ['Labastida/Bastida', 10284], ['Lagrán', 10301], ['Laguardia', 10318], ['Lanciego/Lantziego', 10323], ['Lapuebla de Labarca', 10339], ['Leza', 10344], ['Laudio/Llodio', 10360], ['Arraia-Maeztu', 10376], ['Moreda de Álava', 10395], ['Navaridas', 10416], ['Okondo', 10421], ['Oyón-Oion', 10437], ['Peñacerrada-Urizaharra', 10442], ['Erriberagoitia/Ribera Alta', 10468], ['Ribera Baja/Erribera Beitia', 10474], ['Añana', 10493], ['Salvatierra/Agurain', 10513], ['Samaniego', 10528], ['San Millán/Donemiliaga', 10534], ['Urkabustaiz', 10549], ['Valdegovía/Gaubea', 10552], ['Harana/Valle de Arana', 10565], ['Villabuena de Álava/Eskuernaga', 10571], ['Legutiano', 10587], ['Vitoria-Gasteiz', 10590], ['Yécora/Iekora', 10604], ['Zalduondo', 10611], ['Zambrana', 10626], ['Zuia', 10632], ['Iruña Oka/Iruña de Oca', 19015], ['Lantarón', 19020], ['Abaltzisketa', 200013], ['Aduna', 200028], ['Aizarnazabal', 200034], ['Albiztur', 200049], ['Alegia', 200052], ['Alkiza', 200065], ['Altzo', 200071], ['Amezketa', 200087], ['Andoain', 200090], ['Anoeta', 200104], ['Antzuola', 200111], ['Arama', 200126], ['Aretxabaleta', 200132], ['Asteasu', 200147], ['Ataun', 200150], ['Aia', 200163], ['Azkoitia', 200179], ['Azpeitia', 200185], ['Beasain', 200198], ['Beizama', 200202], ['Belauntza', 200219], ['Berastegi', 200224], ['Berrobi', 200230], ['Bidegoian', 200245], ['Zegama', 200258], ['Zerain', 200261], ['Zestoa', 200277], ['Zizurkil', 200283], ['Deba', 200296], ['Eibar', 200300], ['Elduain', 200317], ['Elgoibar', 200322], ['Elgeta', 200338], ['Eskoriatza', 200343], ['Ezkio-Itsaso', 200356], ['Hondarribia', 200369], ['Gaintza', 200375], ['Gabiria', 200381], ['Getaria', 200394], ['Hernani', 200408], ['Hernialde', 200415], ['Ibarra', 200420], ['Idiazabal', 200436], ['Ikaztegieta', 200441], ['Irun', 200454], ['Irura', 200467], ['Itsasondo', 200473], ['Larraul', 200489], ['Lazkao', 200492], ['Leaburu', 200505], ['Legazpi', 200512], ['Legorreta', 200527], ['Lezo', 200533], ['Lizartza', 200548], ['Arrasate/Mondragón', 200551], ['Mutriku', 200564], ['Mutiloa', 200570], ['Olaberria', 200586], ['Oñati', 200599], ['Orexa', 200603], ['Orio', 200610], ['Ormaiztegi', 200625], ['Oiartzun', 200631], ['Pasaia', 200646], ['Soraluze/Placencia de las Armas', 200659], ['Errezil', 200662], ['Errenteria', 200678], ['Leintz-Gatzaga', 200684], ['Donostia-San Sebastián', 200697], ['Segura', 200701], ['Tolosa', 200718], ['Urnieta', 200723], ['Usurbil', 200739], ['Bergara', 200744], ['Villabona', 200757], ['Ordizia', 200760], ['Urretxu', 200776], ['Zaldibia', 200782], ['Zarautz', 200795], ['Zumarraga', 200809], ['Zumaia', 200816], ['Mendaro', 209014], ['Lasarte-Oria', 209029], ['Astigarraga', 209035], ['Baliarrain', 209040], ['Orendain', 209053], ['Altzaga', 209066], ['Gaztelu', 209072], ['Abadiño', 480010], ['Abanto y Ciérvana-Abanto Zierbena', 480025], ['Amorebieta-Etxano', 480031], ['Amoroto', 480046], ['Arakaldo', 480059], ['Arantzazu', 480062], ['Munitibar-Arbatzegi Gerrikaitz', 480078], ['Artzentales', 480084], ['Arrankudiaga', 480097], ['Arrieta', 480101], ['Arrigorriaga', 480118], ['Bakio', 480123], ['Barakaldo', 480139], ['Barrika', 480144], ['Basauri', 480157], ['Berango', 480160], ['Bermeo', 480176], ['Berriatua', 480182], ['Berriz', 480195], ['Bilbao', 480209], ['Busturia', 480216], ['Karrantza Harana/Valle de Carranza', 480221], ['Artea', 480237], ['Zeanuri', 480242], ['Zeberio', 480255], ['Dima', 480268], ['Durango', 480274], ['Ea', 480280], ['Etxebarri', 480293], ['Etxebarria', 480307], ['Elantxobe', 480314], ['Elorrio', 480329], ['Ereño', 480335], ['Ermua', 480340], ['Fruiz', 480353], ['Galdakao', 480366], ['Galdames', 480372], ['Gamiz-Fika', 480388], ['Garai', 480391], ['Gatika', 480405], ['Gautegiz Arteaga', 480412], ['Gordexola', 480427], ['Gorliz', 480433], ['Getxo', 480448], ['Güeñes', 480451], ['Gernika-Lumo', 480464], ['Gizaburuaga', 480470], ['Ibarrangelu', 480486], ['Ispaster', 480499], ['Izurtza', 480502], ['Lanestosa', 480519], ['Larrabetzu', 480524], ['Laukiz', 480530], ['Leioa', 480545], ['Lemoa', 480558], ['Lemoiz', 480561], ['Lekeitio', 480577], ['Mallabia', 480583], ['Mañaria', 480596], ['Markina-Xemein', 480600], ['Maruri-Jatabe', 480617], ['Mendata', 480622], ['Mendexa', 480638], ['Meñaka', 480643], ['Ugao-Miraballes', 480656], ['Morga', 480669], ['Muxika', 480675], ['Mundaka', 480681], ['Mungia', 480694], ['Aulesti', 480708], ['Muskiz', 480715], ['Otxandio', 480720], ['Ondarroa', 480736], ['Urduña/Orduña', 480741], ['Orozko', 480754], ['Sukarrieta', 480767], ['Plentzia', 480773], ['Portugalete', 480789], ['Errigoiti', 480792], ['Valle de Trápaga-Trapagaran', 480806], ['Lezama', 480813], ['Santurtzi', 480828], ['Ortuella', 480834], ['Sestao', 480849], ['Sopelana', 480852], ['Sopuerta', 480865], ['Trucios-Turtzioz', 480871], ['Ubide', 480887], ['Urduliz', 480890], ['Balmaseda', 480904], ['Atxondo', 480911], ['Bedia', 480926], ['Areatza', 480932], ['Igorre', 480947], ['Zaldibar', 480950], ['Zalla', 480963], ['Zaratamo', 480979], ['Derio', 489011], ['Erandio', 489026], ['Loiu', 489032], ['Sondika', 489047], ['Zamudio', 489050], ['Forua', 489063], ['Kortezubi', 489079], ['Murueta', 489085], ['Nabarniz', 489098], ['Iurreta', 489102], ['Ajangiz', 489119], ['Alonsotegi', 489124], ['Zierbena', 489130], ['Arratzu', 489145], ['Ziortza-Bolibar', 489158]], {:include_blank => true}, :class => 'dropkick default large' %> </div>
          </div>

          <div class="field clearfix born_at">
            <%= form.label :birthday, t('.birthday') %>
            <%= form.date_select :birthday, :start_year => 1900, :include_blank => true %>
          </div>

          <div class="field clearfix social">
            <label for=""><%= t(".connection_with_social_networks") %></label>

            <div class="social-links">
              <div class="facebook <%='disabled' if current_user.connected_with_facebook? %>"><%= link_to t('.connect_with', :name => 'Facebook'), user_omniauth_authorize_path(:facebook), :id => :facebook_signin %></div>
              <div class="twitter <%='disabled' if current_user.connected_with_twitter? %>"><%= link_to t('.connect_with', :name => 'Twitter'), user_omniauth_authorize_path(:twitter), :id => :twitter_signin %></div>
            </div>
          </div>
        </fieldset>

        <div class="delete_profile">
          <p><%= raw t(".remove_your_profile", :class => "remove_account") %></p>
          <p class="last"><%= t(".we_hope_you_dont_go") %></p>
        </div>

      </div>


      <div class="right">
      </div>
    </div>
    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <div class="left">
          <%= button t('.save_changes'), :class => 'white_button blue' %>
        </div>
      </div>
    </div>

    <div class="t"></div><div class="f"></div>
  <% end -%>
</div>

<div class="article settings">
  <div class="inner">
    <div class="content">
      <h2><%= t(".avatar.title") %></h2>

      <%= form_for current_user, :remote => true, :html => {:class => "avatar_uploader_form", :'data-type' => 'html', :"data-t-button" => t(".avatar.upload_an_image"), :"data-t-default" => t(".avatar.size"), :"data-t-uploading" => t(".avatar.uploading") } do |form| %>
        <div class="avatar-uploader">
          <div class="avatar_box">
            <%= avatar current_user, :big %>
            <div class="frame"></div>
          </div>

          <div class="explanation">
            <h3><%= t(".avatar.pick_your_avatar") %></h3>
            <p><%= t(".avatar.subtitle") %></p>

            <%= form.fields_for :profile_picture, (current_user.profile_picture || current_user.build_profile_picture) do |profile_picture| %>
              <%= profile_picture.hidden_field :image_cache, :class => :image_cache_name %>
            <% end %>

            <a href="#" id="ie_avatar_uploader_button" data-url= "<%= photos_path %>"><span><%= t(".avatar.upload_an_image") %></span></a>
            <%= button t(".avatar.upload_an_image"), :id => :avatar_uploader_button, :class => "white_button clear blue", :'data-url' => photos_path %>
            <div class="small"><%= t(".avatar.size") %></div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>

  <div class="t"></div><div class="f"></div>
</div>

<div class="article">
  <div class="inner">
    <div class="content">
      <h2><%= t(".notifications.title") %></h2>

      <%= form_for current_user, :remote => true, :html => { :class => 'notifications', :'data-type' => 'html'} do |form| %>

        <ul>

          <li class="<%= 'selected' if current_user.notifications_level == 1 %>">
          <a href="#" class="letter minimun"></a>
          <div class="content">
            <strong><%= t(".notifications.minimal.title") %></strong>
            <p><%= t(".notifications.minimal.description") %></p>
          </div>
          <%= form.hidden_field :notifications_level, :value => 1, :disabled => current_user.notifications_level != 1 %>
          </li>

          <li class="<%= 'selected' if current_user.notifications_level == 2 %>">
          <a href="#" class="letter basics"></a>
          <div class="content">
            <strong><%= t(".notifications.basic.title") %></strong>
            <p><%= t(".notifications.basic.description") %></p>
          </div>
          <%= form.hidden_field :notifications_level, :value => 2, :disabled => current_user.notifications_level != 2 %>
          </li>

          <li class="last <%= 'selected' if current_user.notifications_level == 3 %>">
          <a href="#" class="letter all"></a>
          <div class="content">
            <strong><%= t(".notifications.all.title") %></strong>
            <p><%= t(".notifications.all.description") %></p>
          </div>
          <%= form.hidden_field :notifications_level, :value => 3, :disabled => current_user.notifications_level != 3 %>
          </li>
        </ul>

      <% end -%>

    </div>
  </div>

  <div class="t"></div><div class="f"></div>
</div>


<div id="settings_password" class="article settings with_form with_footer">
  <%= form_for current_user, :html => {:novalidate => 'novalidate'} do |form| %>
    <div class="inner">
      <header class="clearfix">
      <div class="left">
        <h2><%= t(".account_configuration") %></h2>
        <h4><%= t(".access_data") %></h3>
      </div>
      <div class="right">
      </div>
      </header>

      <div class="left">

        <fieldset>
          <div class="field email<%= ' error' if current_user.errors[:email].present? %>">
            <%= form.label :email, t('.email') %>
            <div class="input_field">
              <%= form.text_field :email, :autocomplete => :off %>
            </div>

            <% if current_user.errors.present? %>
              <ul class="errors">
                <% if current_user.errors[:email].present? %><li>
                  <%= t(".error.email") %>
                  <%= current_user.errors[:email].first %>
                  </li><% end %>
              </ul>
            <% end %>

          </div>

          <div class="field password pull-left<%= ' error' if current_user.errors[:current_password].present? %>">
            <%= form.label :current_password, t('.current_password') %>
            <div class="input_field">
              <%= form.password_field :current_password %>
            </div>

            <% if current_user.errors.present? %>
              <ul class="errors">
                <% if current_user.errors[:password].present? or current_user.errors[:current_password].present? %>
                  <% current_user.errors[:password].each do |message| %>
                    <li><%= t(".error.password") %> <%= message %></li>
                  <% end %>
                  <% if current_user.errors[:current_password].present? %>
                    <li><%= t(".error.current_password") %> <%= current_user.errors[:current_password].first %></li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>

          </div>

          <div class="field confirm_password pull-right<%= ' error' if current_user.errors[:password].present? %>">
            <%= form.label :password, t('.password') %>
            <div class="input_field">
              <%= form.password_field :password, :autocomplete => :off %>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="right"></div>
    </div>
    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <div class="left">
          <%= button t('.save_changes'), :class => 'white_button blue' %>
        </div>
      </div>
    </div>

    <div class="t"></div><div class="f"></div>
  <% end -%>
</div>
