<div id="remove_account_popover" class="article popover thin remove_account with_footer">
  <a href="#" class="close"></a>
<div class="inner">
  <div class="content centered">
    <h2>¿Podemos hacer algo para<br />que cambies de idea?</h2>
    <p>Si has tenido una mala experiencia en Irekia, <a href="#">contacta con nosotros</a> y lo arreglaremos. </p>
  </div>
</div>
  <div class="bfooter">
  <div class="separator"></div>
  <div class="inner">
    <div class="center clearfix">
      <%= button "Eliminar perfil", :class => "white_button remove" %>
      <%= button "Cancelar", :class => "white_button close pink" %>
    </div>
  </div>
  </div>

<div class="t"></div><div class="f"></div>
</div>

<div class="article settings with_form with_footer">
<%= form_for @user, :html => {:novalidate => 'novalidate'} do |form| %>
  <div class="inner">
    <header>
    <div class="left">
      <h2>Tu perfil</h2>
      <h4>Recuerda que son datos públicos y visibles en Irekia.</h3>
    </div>
    <div class="right"></div>
    </header>
    <div class="left">
      <fieldset>
        <div class="field">
          <label for="">Sexo</label>
          <%= form.radio_button :is_woman, false, :checked => !@user.is_woman %>
          <%= form.label :is_woman_false, t('.man') %>
          <%= form.radio_button :is_woman, true, :checked => @user.is_woman %>
          <%= form.label :is_woman_true, t('.woman') %>
          <%#<a href="#" class="radio gender male">Hombre</a>%>
          <%#<a href="#" class="radio gender female">Mujer</a>%>
        </div>

        <div class="field name pull-left">
          <%= form.label :name, t('.name') %>
          <div class="input_field">
            <%= form.text_field :name %>
          </div>
          <!-- <ul class="errors"><li>La URL no parece ser correcta</li></ul> -->
        </div>

        <div class="field lastname pull-right">
          <%= form.label :lastname, t('.lastname') %>
          <div class="input_field">
            <%= form.text_field :lastname %>
          </div>
        </div>

        <div class="field territory pull-left">
          <%= form.label :province, t('.province') %>
          <div class="input_field">
            <%= form.text_field :province %>
          </div>
          <!--<ul class="errors">
            <li>La URL no parece ser correcta</li>
            <li>La URL no parece ser correcta</li>
          </ul>
          -->
        </div>

        <div class="field municipality pull-right">
          <%= form.label :city_id, t('.city') %>
          <div class="input_field select">
            <%= form.select :city_id, [['Vizcaya', 1]], {:include_blank => true}, :class => 'dropkick default' %>
          </div>
        </div>

        <div class="field born_at">
          <%= form.label :birthday, t('.birthday') %>
          <%= form.date_select :birthday, :start_year => 1900, :include_blank => true %>
        </div>

      <div class="field social">
        <label for="">Conexión con redes sociales</label>

        <div class="social-links">
          <div class="facebook <%='disabled' if @user.connected_with_facebook? %>"><%= link_to t('.connect_with', :name => 'Facebook'), user_omniauth_authorize_path(:facebook), :id => :facebook_signin %></div>
          <div class="twitter <%='disabled' if @user.connected_with_twitter? %>"><%= link_to t('.connect_with', :name => 'Twitter'), user_omniauth_authorize_path(:twitter), :id => :twitter_signin %></div>
        </div>
      </div>
      </fieldset>

      <div class="delete_profile">
        <p>Por supuesto, si lo deseas puedes <a href="/in_development" class="remove_account" id="remove_account">borrar tu perfil</a> de Irekia en cualquier momento.</p>
        <p class="last">Esperamos que no sea así :-)</p>
      </div>

    </div>


    <div class="right">
    </div>
  </div>
  <div class="bfooter">
  <div class="separator"></div>
  <div class="inner">
    <div class="left">
      <%= form.submit t('.save_changes'), :class => 'white_button blue' %>
    </div>
  </div>
  </div>

  <div class="t"></div><div class="f"></div>
<% end -%>
</div>

<div class="article">
<div class="inner">
  <div class="content">
    <h2>Tu avatar</h2>

    <%= form_for @user do |form| %>
      <div class="avatar-uploader">

        <%= avatar @user, 'xlAvatar' %>

        <div class="explanation">
          <h3>Selecciona tu avatar</h3>
          <p>Necesitas una imagen que te represente en Irekia. Los usuarios con avatar son mas populares</p>

              <%= form.fields_for :profile_pictures, (@user.profile_pictures.last || @user.profile_pictures.new) do |profile_picture| %>
                <%= profile_picture.hidden_field :image_cache, :class => :image_cache_name %>
              <% end %>

          <%= button "Subir una nueva imagen", :class => "white_button clear blue", :'data-url' => photos_path %>
          <div class="small">Tamaño máximo 500x500.</div>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<div class="t"></div><div class="f"></div>
</div>

<div class="article">
<div class="inner">
  <div class="content">
    <h2>Notificaciones</h2>

    <%= form_for @user do |form| %>

    <ul class="notifications">

      <li class="<%= 'selected' if @user.notifications_level == 1 %>">
      <a href="#" class="letter minimun"></a>
      <div class="content">
        <strong>Mínimas</strong>
        <p>Recibirás los emails estrictamente necesarios para la gestión de tu cuenta.</p>
      </div>
      <%= form.hidden_field :notifications_level, :value => 1, :disabled => @user.notifications_level != 1 %>
      </li>

      <li class="<%= 'selected' if @user.notifications_level == 2 %>">
      <a href="#" class="letter basics"></a>
      <div class="content">
        <strong>Básicas</strong>
        <p>Recibirás los resultados finales de las propuestas y preguntas en las que has participado.</p>
      </div>
      <%= form.hidden_field :notifications_level, :value => 2, :disabled => @user.notifications_level != 2 %>
      </li>

      <li class="last <%= 'selected' if @user.notifications_level == 3 %>">
      <a href="#" class="letter all"></a>
      <div class="content">
        <strong>Todas</strong>
        <p>Te avisaremos también cuando haya novedades en un hilo en el que has participado.</p>
      </div>
      <%= form.hidden_field :notifications_level, :value => 3, :disabled => @user.notifications_level != 3 %>
      </li>
    </ul>

    <% end -%>

  </div>
</div>

<div class="t"></div><div class="f"></div>
</div>


<div class="article with_form with_footer">
  <%= form_for @user, :html => {:novalidate => 'novalidate'} do |form| %>
  <div class="inner">
    <header>
    <div class="left">
      <h2>Configuración de tu cuenta</h2>
      <h4>Datos de acceso a Irekia</h3>
    </div>
    <div class="right">
    </div>
    </header>


    <div class="left">


      <fieldset>
        <div class="field email">
          <%= form.label :email, t('.email') %>
          <div class="input_field">
            <%= form.text_field :email %>
          </div>
        </div>

        <div class="field password left">
          <%= form.label :current_password, t('.current_password') %>
          <div class="input_field">
            <%= form.text_field :current_password %>
          </div>
        </div>

        <div class="field confirm_password pull-right">
          <%= form.label :password, t('.password') %>
          <div class="input_field">
            <%= form.text_field :password %>
          </div>
        </div>
      </fieldset>

    </div>
    <div class="right"></div>
  </div>
  <div class="bfooter">
  <div class="separator"></div>
  <div class="inner">
    <div class="left">
      <%= form.submit t('.save_changes'), :class => 'white_button blue' %>
    </div>
  </div>
  </div>

  <div class="t"></div><div class="f"></div>
<% end -%>
</div>
