<%= content_for :js_data do %>
  <% if flash[:error] == "password" %>
    <script>
      setTimeout(function(){
      goTo($('#settings_<%= flash[:error] %>'));
      }, 200);
    </script>
  <% end %>
<% end %>

<div id="remove_account_popover" class="article popover thin remove_account with_footer">
  <span class="close"></span>
  <div class="inner">
    <div class="content centered">
      <h2><%= raw t(".can_we_change_your_mind") %></h2>
      <p><%= raw t(".if_you_had_a_bad_experience") %> <a href="#"><%= t(".get_in_touch_with_us") %></a> <%= t(".and_well_fix_it") %>.</p>
    </div>
  </div>
  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="center clearfix">
        <%= button_to t(".remove_profile"), user_path(current_user), :method => :delete, :class => "white_button remove" %>
        <%= button t(".cancel"), :class => "white_button close pink" %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<div class="article settings with_form with_footer">
  <%= form_for current_user, :html => {:novalidate => 'novalidate'} do |form| %>
    <div class="inner">
      <header class="clearfix">
      <div class="left">
        <h2><%= t(".your_profile") %></h2>
        <h4><%= t(".remember_this_information_is_public") %></h4>
      </div>
      <div class="right"></div>
      </header>
      <div class="left">
        <fieldset>
          <div class="field clearfix">
            <label for=""><%= t(".gender") %></label>

            <div class="radios">
              <a href="#" class="radio gender male<%= ' selected' if !current_user.is_woman %>"><%= t(".man") %>
                <%= form.radio_button :is_woman, false, :checked => !current_user.is_woman %>
              </a>

              <a href="#" class="radio gender female<%= ' selected' if current_user.is_woman %>"><%= t(".woman") %>
                <%= form.radio_button :is_woman, true, :checked => current_user.is_woman %>
              </a>
            </div>

          </div>

          <div class="field clearfix name pull-left<%= ' error' if current_user.errors[:name].present? %>">
            <%= form.label :name, t('.name') %>
            <div class="input_field">
              <%= form.text_field :name %>
            </div>

            <% if current_user.errors[:name].present? || current_user.errors[:lastname].present? %>
              <ul class="errors">
                <% if current_user.errors[:name].present? %> <li><%= current_user.errors[:name].first %></li> <% end %>
                <% if current_user.errors[:lastname].present? %> <li><%= current_user.errors[:lastname].first %></li> <% end %>
              </ul>
            <% end %>

          </div>


          <div class="field clearfix lastname pull-right<%= ' error' if current_user.errors[:lastname].present? %>">
            <%= form.label :lastname, t('.lastname') %>
            <div class="input_field">
              <%= form.text_field :lastname %>
            </div>
          </div>

          <div class="field clearfix territory pull-left">
            <%= form.label :province, t('.province') %>
            <div class="input_field">
              <%= form.select :province, [['Álava', 1, :'data-id' => "territory_1"], ['Guipúzcoa', 2, :'data-id' => "territory_2"], ['Vizcaya', 3, :'data-id' => "territory_3"]], { :include_blank => true}, :class => 'provinces_dropdown' %>
            </div>
          </div>

          <div class="field clearfix municipality pull-right">
            <%= form.label :city_id, t('.city') %>
            <div class="input_field select">
              <%= form.select :city_id, [['Abadiño', 480010, :'data-id' => "territory_3"],
                  ['Abaltzisketa', 200013, :'data-id' => "territory_2"],
                  ['Abanto y Ciérvana-Abanto Zierbena', 480025, :'data-id' => "territory_3"],
                  ['Aduna', 200028, :'data-id' => "territory_2"],
                  ['Aia', 200163, :'data-id' => "territory_2"],
                  ['Aizarnazabal', 200034, :'data-id' => "territory_2"],
                  ['Ajangiz', 489119, :'data-id' => "territory_3"],
                  ['Albiztur', 200049, :'data-id' => "territory_2"],
                  ['Alegia', 200052, :'data-id' => "territory_2"],
                  ['Alegría-Dulantzi', 10014, :'data-id' => "territory_1"],
                  ['Alkiza', 200065, :'data-id' => "territory_2"],
                  ['Alonsotegi', 489124, :'data-id' => "territory_3"],
                  ['Altzaga', 209066, :'data-id' => "territory_2"],
                  ['Altzo', 200071, :'data-id' => "territory_2"],
                  ['Amezketa', 200087, :'data-id' => "territory_2"],
                  ['Amorebieta-Etxano', 480031, :'data-id' => "territory_3"],
                  ['Amoroto', 480046, :'data-id' => "territory_3"],
                  ['Amurrio', 10029, :'data-id' => "territory_1"],
                  ['Andoain', 200090, :'data-id' => "territory_2"],
                  ['Anoeta', 200104, :'data-id' => "territory_2"],
                  ['Antzuola', 200111, :'data-id' => "territory_2"],
                  ['Arakaldo', 480059, :'data-id' => "territory_3"],
                  ['Arama', 200126, :'data-id' => "territory_2"],
                  ['Aramaio', 10035, :'data-id' => "territory_1"],
                  ['Arantzazu', 480062, :'data-id' => "territory_3"],
                  ['Areatza', 480932, :'data-id' => "territory_3"],
                  ['Aretxabaleta', 200132, :'data-id' => "territory_2"],
                  ['Armiñón', 10066, :'data-id' => "territory_1"],
                  ['Arraia-Maeztu', 10376, :'data-id' => "territory_1"],
                  ['Arrankudiaga', 480097, :'data-id' => "territory_3"],
                  ['Arrasate/Mondragón', 200551, :'data-id' => "territory_2"],
                  ['Arratzu', 489145, :'data-id' => "territory_3"],
                  ['Arrazua-Ubarrundia', 10088, :'data-id' => "territory_1"],
                  ['Arrieta', 480101, :'data-id' => "territory_3"],
                  ['Arrigorriaga', 480118, :'data-id' => "territory_3"],
                  ['Artea', 480237, :'data-id' => "territory_3"],
                  ['Artzentales', 480084, :'data-id' => "territory_3"],
                  ['Artziniega', 10040, :'data-id' => "territory_1"],
                  ['Asparrena', 10091, :'data-id' => "territory_1"],
                  ['Asteasu', 200147, :'data-id' => "territory_2"],
                  ['Astigarraga', 209035, :'data-id' => "territory_2"],
                  ['Ataun', 200150, :'data-id' => "territory_2"],
                  ['Atxondo', 480911, :'data-id' => "territory_3"],
                  ['Aulesti', 480708, :'data-id' => "territory_3"],
                  ['Ayala/Aiara', 10105, :'data-id' => "territory_1"],
                  ['Azkoitia', 200179, :'data-id' => "territory_2"],
                  ['Azpeitia', 200185, :'data-id' => "territory_2"],
                  ['Añana', 10493, :'data-id' => "territory_1"],
                  ['Bakio', 480123, :'data-id' => "territory_3"],
                  ['Baliarrain', 209040, :'data-id' => "territory_2"],
                  ['Balmaseda', 480904, :'data-id' => "territory_3"],
                  ['Barakaldo', 480139, :'data-id' => "territory_3"],
                  ['Barrika', 480144, :'data-id' => "territory_3"],
                  ['Barrundia', 10133, :'data-id' => "territory_1"],
                  ['Basauri', 480157, :'data-id' => "territory_3"],
                  ['Baños de Ebro/Mañueta', 10112, :'data-id' => "territory_1"],
                  ['Beasain', 200198, :'data-id' => "territory_2"],
                  ['Bedia', 480926, :'data-id' => "territory_3"],
                  ['Beizama', 200202, :'data-id' => "territory_2"],
                  ['Belauntza', 200219, :'data-id' => "territory_2"],
                  ['Berango', 480160, :'data-id' => "territory_3"],
                  ['Berantevilla', 10148, :'data-id' => "territory_1"],
                  ['Berastegi', 200224, :'data-id' => "territory_2"],
                  ['Bergara', 200744, :'data-id' => "territory_2"],
                  ['Bermeo', 480176, :'data-id' => "territory_3"],
                  ['Bernedo', 10164, :'data-id' => "territory_1"],
                  ['Berriatua', 480182, :'data-id' => "territory_3"],
                  ['Berriz', 480195, :'data-id' => "territory_3"],
                  ['Berrobi', 200230, :'data-id' => "territory_2"],
                  ['Bidegoian', 200245, :'data-id' => "territory_2"],
                  ['Bilbao', 480209, :'data-id' => "territory_3"],
                  ['Busturia', 480216, :'data-id' => "territory_3"],
                  ['Campezo/Kanpezu', 10170, :'data-id' => "territory_1"],
                  ['Deba', 200296, :'data-id' => "territory_2"],
                  ['Derio', 489011, :'data-id' => "territory_3"],
                  ['Dima', 480268, :'data-id' => "territory_3"],
                  ['Donostia-San Sebastián', 200697, :'data-id' => "territory_2"],
                  ['Durango', 480274, :'data-id' => "territory_3"],
                  ['Ea', 480280, :'data-id' => "territory_3"],
                  ['Eibar', 200300, :'data-id' => "territory_2"],
                  ['Elantxobe', 480314, :'data-id' => "territory_3"],
                  ['Elburgo/Burgelu', 10210, :'data-id' => "territory_1"],
                  ['Elciego', 10225, :'data-id' => "territory_1"],
                  ['Elduain', 200317, :'data-id' => "territory_2"],
                  ['Elgeta', 200338, :'data-id' => "territory_2"],
                  ['Elgoibar', 200322, :'data-id' => "territory_2"],
                  ['Elorrio', 480329, :'data-id' => "territory_3"],
                  ['Elvillar/Bilar', 10231, :'data-id' => "territory_1"],
                  ['Erandio', 489026, :'data-id' => "territory_3"],
                  ['Ereño', 480335, :'data-id' => "territory_3"],
                  ['Ermua', 480340, :'data-id' => "territory_3"],
                  ['Errenteria', 200678, :'data-id' => "territory_2"],
                  ['Errezil', 200662, :'data-id' => "territory_2"],
                  ['Erriberagoitia/Ribera Alta', 10468, :'data-id' => "territory_1"],
                  ['Errigoiti', 480792, :'data-id' => "territory_3"],
                  ['Eskoriatza', 200343, :'data-id' => "territory_2"],
                  ['Etxebarri', 480293, :'data-id' => "territory_3"],
                  ['Etxebarria', 480307, :'data-id' => "territory_3"],
                  ['Ezkio-Itsaso', 200356, :'data-id' => "territory_2"],
                  ['Forua', 489063, :'data-id' => "territory_3"],
                  ['Fruiz', 480353, :'data-id' => "territory_3"],
                  ['Gabiria', 200381, :'data-id' => "territory_2"],
                  ['Gaintza', 200375, :'data-id' => "territory_2"],
                  ['Galdakao', 480366, :'data-id' => "territory_3"],
                  ['Galdames', 480372, :'data-id' => "territory_3"],
                  ['Gamiz-Fika', 480388, :'data-id' => "territory_3"],
                  ['Garai', 480391, :'data-id' => "territory_3"],
                  ['Gatika', 480405, :'data-id' => "territory_3"],
                  ['Gautegiz Arteaga', 480412, :'data-id' => "territory_3"],
                  ['Gaztelu', 209072, :'data-id' => "territory_2"],
                  ['Gernika-Lumo', 480464, :'data-id' => "territory_3"],
                  ['Getaria', 200394, :'data-id' => "territory_2"],
                  ['Getxo', 480448, :'data-id' => "territory_3"],
                  ['Gizaburuaga', 480470, :'data-id' => "territory_3"],
                  ['Gordexola', 480427, :'data-id' => "territory_3"],
                  ['Gorliz', 480433, :'data-id' => "territory_3"],
                  ['Güeñes', 480451, :'data-id' => "territory_3"],
                  ['Harana/Valle de Arana', 10565, :'data-id' => "territory_1"],
                  ['Hernani', 200408, :'data-id' => "territory_2"],
                  ['Hernialde', 200415, :'data-id' => "territory_2"],
                  ['Hondarribia', 200369, :'data-id' => "territory_2"],
                  ['Ibarra', 200420, :'data-id' => "territory_2"],
                  ['Ibarrangelu', 480486, :'data-id' => "territory_3"],
                  ['Idiazabal', 200436, :'data-id' => "territory_2"],
                  ['Igorre', 480947, :'data-id' => "territory_3"],
                  ['Ikaztegieta', 200441, :'data-id' => "territory_2"],
                  ['Irun', 200454, :'data-id' => "territory_2"],
                  ['Irura', 200467, :'data-id' => "territory_2"],
                  ['Iruraiz-Gauna', 10278, :'data-id' => "territory_1"],
                  ['Iruña Oka/Iruña de Oca', 19015, :'data-id' => "territory_1"],
                  ['Ispaster', 480499, :'data-id' => "territory_3"],
                  ['Itsasondo', 200473, :'data-id' => "territory_2"],
                  ['Iurreta', 489102, :'data-id' => "territory_3"],
                  ['Izurtza', 480502, :'data-id' => "territory_3"],
                  ['Karrantza Harana/Valle de Carranza', 480221, :'data-id' => "territory_3"],
                  ['Kortezubi', 489079, :'data-id' => "territory_3"],
                  ['Kripan', 10199, :'data-id' => "territory_1"],
                  ['Kuartango', 10203, :'data-id' => "territory_1"],
                  ['Labastida/Bastida', 10284, :'data-id' => "territory_1"],
                  ['Lagrán', 10301, :'data-id' => "territory_1"],
                  ['Laguardia', 10318, :'data-id' => "territory_1"],
                  ['Lanciego/Lantziego', 10323, :'data-id' => "territory_1"],
                  ['Lanestosa', 480519, :'data-id' => "territory_3"],
                  ['Lantarón', 19020, :'data-id' => "territory_1"],
                  ['Lapuebla de Labarca', 10339, :'data-id' => "territory_1"],
                  ['Larrabetzu', 480524, :'data-id' => "territory_3"],
                  ['Larraul', 200489, :'data-id' => "territory_2"],
                  ['Lasarte-Oria', 209029, :'data-id' => "territory_2"],
                  ['Laudio/Llodio', 10360, :'data-id' => "territory_1"],
                  ['Laukiz', 480530, :'data-id' => "territory_3"],
                  ['Lazkao', 200492, :'data-id' => "territory_2"],
                  ['Leaburu', 200505, :'data-id' => "territory_2"],
                  ['Legazpi', 200512, :'data-id' => "territory_2"],
                  ['Legorreta', 200527, :'data-id' => "territory_2"],
                  ['Legutiano', 10587, :'data-id' => "territory_1"],
                  ['Leintz-Gatzaga', 200684, :'data-id' => "territory_2"],
                  ['Leioa', 480545, :'data-id' => "territory_3"],
                  ['Lekeitio', 480577, :'data-id' => "territory_3"],
                  ['Lemoa', 480558, :'data-id' => "territory_3"],
                  ['Lemoiz', 480561, :'data-id' => "territory_3"],
                  ['Leza', 10344, :'data-id' => "territory_1"],
                  ['Lezama', 480813, :'data-id' => "territory_3"],
                  ['Lezo', 200533, :'data-id' => "territory_2"],
                  ['Lizartza', 200548, :'data-id' => "territory_2"],
                  ['Loiu', 489032, :'data-id' => "territory_3"],
                  ['Mallabia', 480583, :'data-id' => "territory_3"],
                  ['Markina-Xemein', 480600, :'data-id' => "territory_3"],
                  ['Maruri-Jatabe', 480617, :'data-id' => "territory_3"],
                  ['Mañaria', 480596, :'data-id' => "territory_3"],
                  ['Mendaro', 209014, :'data-id' => "territory_2"],
                  ['Mendata', 480622, :'data-id' => "territory_3"],
                  ['Mendexa', 480638, :'data-id' => "territory_3"],
                  ['Meñaka', 480643, :'data-id' => "territory_3"],
                  ['Moreda de Álava', 10395, :'data-id' => "territory_1"],
                  ['Morga', 480669, :'data-id' => "territory_3"],
                  ['Mundaka', 480681, :'data-id' => "territory_3"],
                  ['Mungia', 480694, :'data-id' => "territory_3"],
                  ['Munitibar-Arbatzegi Gerrikaitz', 480078, :'data-id' => "territory_3"],
                  ['Murueta', 489085, :'data-id' => "territory_3"],
                  ['Muskiz', 480715, :'data-id' => "territory_3"],
                  ['Mutiloa', 200570, :'data-id' => "territory_2"],
                  ['Mutriku', 200564, :'data-id' => "territory_2"],
                  ['Muxika', 480675, :'data-id' => "territory_3"],
                  ['Nabarniz', 489098, :'data-id' => "territory_3"],
                  ['Navaridas', 10416, :'data-id' => "territory_1"],
                  ['Oiartzun', 200631, :'data-id' => "territory_2"],
                  ['Okondo', 10421, :'data-id' => "territory_1"],
                  ['Olaberria', 200586, :'data-id' => "territory_2"],
                  ['Ondarroa', 480736, :'data-id' => "territory_3"],
                  ['Ordizia', 200760, :'data-id' => "territory_2"],
                  ['Orendain', 209053, :'data-id' => "territory_2"],
                  ['Orexa', 200603, :'data-id' => "territory_2"],
                  ['Orio', 200610, :'data-id' => "territory_2"],
                  ['Ormaiztegi', 200625, :'data-id' => "territory_2"],
                  ['Orozko', 480754, :'data-id' => "territory_3"],
                  ['Ortuella', 480834, :'data-id' => "territory_3"],
                  ['Otxandio', 480720, :'data-id' => "territory_3"],
                  ['Oyón-Oion', 10437, :'data-id' => "territory_1"],
                  ['Oñati', 200599, :'data-id' => "territory_2"],
                  ['Pasaia', 200646, :'data-id' => "territory_2"],
                  ['Peñacerrada-Urizaharra', 10442, :'data-id' => "territory_1"],
                  ['Plentzia', 480773, :'data-id' => "territory_3"],
                  ['Portugalete', 480789, :'data-id' => "territory_3"],
                  ['Ribera Baja/Erribera Beitia', 10474, :'data-id' => "territory_1"],
                  ['Salvatierra/Agurain', 10513, :'data-id' => "territory_1"],
                  ['Samaniego', 10528, :'data-id' => "territory_1"],
                  ['San Millán/Donemiliaga', 10534, :'data-id' => "territory_1"],
                  ['Santurtzi', 480828, :'data-id' => "territory_3"],
                  ['Segura', 200701, :'data-id' => "territory_2"],
                  ['Sestao', 480849, :'data-id' => "territory_3"],
                  ['Sondika', 489047, :'data-id' => "territory_3"],
                  ['Sopelana', 480852, :'data-id' => "territory_3"],
                  ['Sopuerta', 480865, :'data-id' => "territory_3"],
                  ['Soraluze/Placencia de las Armas', 200659, :'data-id' => "territory_2"],
                  ['Sukarrieta', 480767, :'data-id' => "territory_3"],
                  ['Tolosa', 200718, :'data-id' => "territory_2"],
                  ['Trucios-Turtzioz', 480871, :'data-id' => "territory_3"],
                  ['Ubide', 480887, :'data-id' => "territory_3"],
                  ['Ugao-Miraballes', 480656, :'data-id' => "territory_3"],
                  ['Urduliz', 480890, :'data-id' => "territory_3"],
                  ['Urduña/Orduña', 480741, :'data-id' => "territory_3"],
                  ['Urkabustaiz', 10549, :'data-id' => "territory_1"],
                  ['Urnieta', 200723, :'data-id' => "territory_2"],
                  ['Urretxu', 200776, :'data-id' => "territory_2"],
                  ['Usurbil', 200739, :'data-id' => "territory_2"],
                  ['Valdegovía/Gaubea', 10552, :'data-id' => "territory_1"],
                  ['Valle de Trápaga-Trapagaran', 480806, :'data-id' => "territory_3"],
                  ['Villabona', 200757, :'data-id' => "territory_2"],
                  ['Villabuena de Álava/Eskuernaga', 10571, :'data-id' => "territory_1"],
                  ['Vitoria-Gasteiz', 10590, :'data-id' => "territory_1"],
                  ['Yécora/Iekora', 10604, :'data-id' => "territory_1"],
                  ['Zaldibar', 480950, :'data-id' => "territory_3"],
                  ['Zaldibia', 200782, :'data-id' => "territory_2"],
                  ['Zalduondo', 10611, :'data-id' => "territory_1"],
                  ['Zalla', 480963, :'data-id' => "territory_3"],
                  ['Zambrana', 10626, :'data-id' => "territory_1"],
                  ['Zamudio', 489050, :'data-id' => "territory_3"],
                  ['Zaratamo', 480979, :'data-id' => "territory_3"],
                  ['Zarautz', 200795, :'data-id' => "territory_2"],
                  ['Zeanuri', 480242, :'data-id' => "territory_3"],
                  ['Zeberio', 480255, :'data-id' => "territory_3"],
                  ['Zegama', 200258, :'data-id' => "territory_2"],
                  ['Zerain', 200261, :'data-id' => "territory_2"],
                  ['Zestoa', 200277, :'data-id' => "territory_2"],
                  ['Zierbena', 489130, :'data-id' => "territory_3"],
                  ['Zigoitia', 10186, :'data-id' => "territory_1"],
                  ['Ziortza-Bolibar', 489158, :'data-id' => "territory_3"],
                  ['Zizurkil', 200283, :'data-id' => "territory_2"],
                  ['Zuia', 10632, :'data-id' => "territory_1"],
                  ['Zumaia', 200816, :'data-id' => "territory_2"],
                  ['Zumarraga', 200809, :'data-id' => "territory_2"]], {:include_blank => true}, :class => 'municipalities_dropdown' %> </div>
              </div>

              <div class="field clearfix born_at">
                <%= form.label :birthday, t('.birthday') %>
                <%= form.date_select :birthday, :start_year => 1900, :include_blank => true %>
              </div>

              <div class="field clearfix social">
                <label for=""><%= t(".connection_with_social_networks") %></label>

                <div class="social-links">
                  <div class="facebook <%='disabled' if current_user.connected_with_facebook? %>"><%= link_to t('.connect_with', :name => 'Facebook'), user_omniauth_authorize_path(:facebook), :id => :facebook_signin %></div>
                  <div class="twitter <%='disabled' if current_user.connected_with_twitter? %>"><%= link_to t('.connect_with', :name => 'Twitter'), user_omniauth_authorize_path(:twitter), :id => :twitter_signin %></div>
                </div>
              </div>
            </fieldset>

            <div class="delete_profile">
              <p><%= raw t(".remove_your_profile", :class => "remove_account") %></p>
              <p class="last"><%= t(".we_hope_you_dont_go") %></p>
            </div>

          </div>


          <div class="right">
          </div>
        </div>
        <div class="bfooter">
          <div class="separator"></div>
          <div class="inner">
            <div class="left">
              <%= button t('.save_changes'), :class => 'white_button blue' %>
            </div>
          </div>
        </div>

        <div class="t"></div><div class="f"></div>
      <% end -%>
    </div>

    <div class="article settings">
      <div class="inner">
        <div class="content">
          <h2><%= t(".avatar.title") %></h2>

          <%= form_for current_user, :html => {:remote => true, :class => "avatar_uploader_form", :'data-type' => 'html', :"data-t-button" => t(".avatar.upload_an_image"), :"data-t-default" => t(".avatar.size"), :"data-t-uploading" => t(".avatar.uploading") } do |form| %>
            <div class="avatar-uploader">
              <div class="avatar_box">
                <%= avatar current_user, :big %>
                <div class="frame"></div>
              </div>

              <div class="explanation">
                <h3><%= t(".avatar.pick_your_avatar") %></h3>
                <p><%= t(".avatar.subtitle") %></p>

                <%= form.fields_for :profile_picture, (current_user.profile_picture || current_user.build_profile_picture) do |profile_picture| %>
                  <%= profile_picture.hidden_field :image_cache, :class => :image_cache_name %>
                <% end %>

                <a href="#" id="ie_avatar_uploader_button" data-url= "<%= photos_path %>"><span><%= t(".avatar.upload_an_image") %></span></a>
                <%= button t(".avatar.upload_an_image"), :id => :avatar_uploader_button, :class => "white_button clear blue", :'data-url' => photos_path %>
                <div class="small"><%= t(".avatar.size") %></div>
              </div>
            </div>
          <% end -%>
        </div>
      </div>

      <div class="t"></div><div class="f"></div>
    </div>

    <div class="article">
      <div class="inner">
        <div class="content">
          <h2><%= t(".notifications.title") %></h2>

          <%= form_for current_user, :remote => true, :html => { :class => 'notifications', :'data-type' => 'html'} do |form| %>

            <ul>

              <li class="<%= 'selected' if current_user.notifications_level == 1 %>">
              <a href="#" class="letter minimun"></a>
              <div class="content">
                <strong><%= t(".notifications.minimal.title") %></strong>
                <p><%= t(".notifications.minimal.description") %></p>
              </div>
              <%= form.hidden_field :notifications_level, :value => 1, :disabled => current_user.notifications_level != 1 %>
              </li>

              <li class="<%= 'selected' if current_user.notifications_level == 2 %>">
              <a href="#" class="letter basics"></a>
              <div class="content">
                <strong><%= t(".notifications.basic.title") %></strong>
                <p><%= t(".notifications.basic.description") %></p>
              </div>
              <%= form.hidden_field :notifications_level, :value => 2, :disabled => current_user.notifications_level != 2 %>
              </li>

              <li class="last <%= 'selected' if current_user.notifications_level == 3 %>">
              <a href="#" class="letter all"></a>
              <div class="content">
                <strong><%= t(".notifications.all.title") %></strong>
                <p><%= t(".notifications.all.description") %></p>
              </div>
              <%= form.hidden_field :notifications_level, :value => 3, :disabled => current_user.notifications_level != 3 %>
              </li>
            </ul>

          <% end -%>

        </div>
      </div>

      <div class="t"></div><div class="f"></div>
    </div>


    <div id="settings_password" class="article settings with_form with_footer">
      <%= form_for current_user, :html => {:novalidate => 'novalidate'} do |form| %>
        <div class="inner">
          <header class="clearfix">
          <div class="left">
            <h2><%= t(".account_configuration") %></h2>
            <h4><%= t(".access_data") %></h3>
          </div>
          <div class="right">
          </div>
          </header>

          <div class="left">

            <fieldset>
              <div class="field email<%= ' error' if current_user.errors[:email].present? %>">
                <%= form.label :email, t('.email') %>
                <div class="input_field">
                  <%= form.text_field :email, :autocomplete => :off %>
                </div>

                <% if current_user.errors.present? %>
                  <ul class="errors">
                    <% if current_user.errors[:email].present? %><li>
                      <%= t(".error.email") %>
                      <%= current_user.errors[:email].first %>
                      </li><% end %>
                  </ul>
                <% end %>

              </div>

              <div class="field password pull-left<%= ' error' if current_user.errors[:current_password].present? %>">
                <%= form.label :current_password, t('.current_password') %>
                <div class="input_field">
                  <%= form.password_field :current_password %>
                </div>

                <% if current_user.errors.present? %>
                  <ul class="errors">
                    <% if current_user.errors[:password].present? or current_user.errors[:current_password].present? %>
                      <% current_user.errors[:password].each do |message| %>
                        <li><%= t(".error.password") %> <%= message %></li>
                      <% end %>
                      <% if current_user.errors[:current_password].present? %>
                        <li><%= t(".error.current_password") %> <%= current_user.errors[:current_password].first %></li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>

              </div>

              <div class="field confirm_password pull-right<%= ' error' if current_user.errors[:password].present? %>">
                <%= form.label :password, t('.password') %>
                <div class="input_field">
                  <%= form.password_field :password, :autocomplete => :off %>
                </div>
              </div>
            </fieldset>

          </div>
          <div class="right"></div>
        </div>
        <div class="bfooter">
          <div class="separator"></div>
          <div class="inner">
            <div class="left">
              <%= button t('.save_changes'), :class => 'white_button blue' %>
            </div>
          </div>
        </div>

        <div class="t"></div><div class="f"></div>
      <% end -%>
    </div>
