<%
  @actions_description = if viewing_dashboard?
    i18n_scope = 'users.private.show.activity'
    t('subtitle', :link => link_to(t('profiles_or_areas_following', :scope => i18n_scope), followings_user_path(@user, :anchor => :followings )), :scope => i18n_scope)
  end
-%>

<% content_for :header do %>
  <header>
  <%= avatar_image current_user %>
  <h2><%= current_user.name %></h2>
  <%= link_to t('.edit'), destroy_user_session_path, :method => 'delete', :class => "icon settings" %>
  </header>
<% end %>

<div id="main" class="<%= controller_name %> <%= action_name %>">
  <div class="content">
    <ul class="menu">
    <li><%= link_to 'checkin', new_event_path, :class => :checkin %></li>
    <li><%= link_to 'publicación', new_status_message_path, :class => :comment %></li>
    <li class="question"><%= raw t(".unanswered_questions", :count => @unanswered_questions_count, :link => questions_user_path(@user)) %></li>
    </ul>

<% if @actions.present? %>
	<%= render "shared/actions", :title => t(viewing_dashboard?? 'show.activity.title' : 'actions.title', :scope => "users.#{@viewing_access}"), :description => @actions_description %>
<% end %>

  </div>
</div>
