<div class="event">
  <p class="title">
    <%= data.title %>
  </p>
  <%= image_tag data.author.profile_image if data.author.profile_image.present? %>
  <span class="author">
    <%= raw t('.author', :author => link_to(data.author.fullname, user_path(data.author.id)), :time => distance_of_time_in_words_to_now(data.published_at)) %>
  </span>
  &middot;
  <%= link_to t('shared.lists_elements.comments', :count => data.comments_count), '#' %>
  &middot;
  <%= link_to t('shared.lists_elements.share'), '#' %>
</div>