<h4>Tags</h4>
<ul class="tags">
  <li><%= link_to "Comisión", "#" %></li>
  <li><%= link_to "Transporte", "#" %></li>
  <li><%= link_to "Gobierno Vasco", "#" %></li>
  <li><%= link_to "Transporte", "#" %></li>
  <li class="add"><%= link_to "Añadir tag", "#" %></li>
</ul>
