<div id="actions" class="article actions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
    <% if viewing_dashboard? -%>
      <h2><%= t('users.private.show.activity.title') %></h2>
      <p><%= raw t('users.private.show.activity.subtitle', :link => link_to(t('users.private.show.activity.profiles_or_areas_following'), '#')) %></p>
    <% elsif viewing_politician_dashboard? -%>
      <h2><%= t('users.politician.actions.title') %></h2>
    <% elsif viewing_private_activity? %>
      <h2><%= t('users.private.actions.title') %></h2>
    <% elsif viewing_public_profile? -%>
      <h2><%= t('users.public.actions.title') %></h2>
    <% else -%>
      <h2><%= raw t('.title') %></h2>
    <% end -%>
  </div>
  <div class="right">
    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_actions(:more_polemic => false, :referer => action_name), :class => 'filter more_recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_actions(:more_polemic => true, :referer => action_name), :class => 'filter more_polemic' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <div class="listing listing_actions_<%= params[:id] %>">
      <% if @actions.present? %>
        <%= render 'shared/actions_list' %>
      <% else %>
        <span class="empty"><%= t((@area || @politician || @user).class.name.downcase, :scope => 'shared.actions.no_content')%></span>
      <% end %>
    </div>
    &nbsp;
  </div>

  <div class="right">
    <ul class="selector">

      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_actions(:type => nil, :referer => action_name), :class => "filter" %></li>

      <li>
      <% if @news_count > 0 %>
        <%= link_to t('.content_type_filters.news'), link_for_actions(:type => :news, :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.news') %></p>
      <% end %>
      </li>

      <li>
      <% if @questions_count > 0 || @answers_count > 0 %>
        <%= link_to t('.content_type_filters.questions'), link_for_actions(:type => [:question, :answer, :answer_request], :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.questions') %></p>
      <% end %>
      </li>

      <li>
      <% if @proposals_count > 0 || @arguments_count > 0 || @votes_count > 0 %>
        <%= link_to t('.content_type_filters.proposals'), link_for_actions(:type => [:proposal, :argument, :vote], :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.proposals') %></p>
      <% end %>
      </li>

      <li>
      <% if @photos_count > 0 %>
        <%= link_to t('.content_type_filters.images'), link_for_actions(:type => :photo, :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.images') %></p>
      <% end %>
      </li>

      <li>
      <% if @videos_count > 0 %>
        <%= link_to t('.content_type_filters.videos'), link_for_actions(:type => :video, :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.videos') %></p>
      <% end %>
      </li>

      <li>
      <% if @status_messages_count > 0 || @tweets_count > 0 %>
        <%= link_to t('.content_type_filters.statuses'), link_for_actions(:type => [:tweet, :statusmessage], :referer => action_name), :class => "filter" %>
      <% else %>
        <p><%= t('.no_content_filters.statuses') %></p>
      <% end %>
      </li>

    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner with_spinner">

  <% if controller.action_name == "actions" %>
    <div class="left">
      <%= link_to t('.more'), link_for_actions, :id => "actions_#{params[:id]}", :class => "more_actions left down_arrow" if @actions.present? %>
      <span id="actions_spinner" class="spinner"></span>
    </div>
  <% else %>
    <div class="right">
      <%= link_to t('.more'), link_for_actions(:anchor => :actions), :id => "actions_#{params[:id]}", :class => "right_arrow" %>
    </div>
  <% end %>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>
