<!--
<div id="last_actions">
  <h2><%= link_to t('.title'), link_for_actions %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %>
    </li>
  </ul>
  <%= render 'shared/actions_list' %>
  <ul class="content_type_filters">
    <li><%= link_to t('.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.content_type_filters.news'), '#' %></li>
    <li><%= link_to t('.content_type_filters.politics_activity'), '#' %></li>
    <li><%= link_to t('.content_type_filters.questions'), '#' %></li>
    <li><%= link_to t('.content_type_filters.proposals'), '#' %></li>
    <li><%= link_to t('.content_type_filters.images'), '#' %></li>
    <li><%= link_to t('.content_type_filters.videos'), '#' %></li>
  </ul>
  <div class="pagination">
    <%= link_to t('.more'), link_for_actions %>
  </div>
</div>

-->

<article class="activity last_actions with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t('.title') %></h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <div id="actions">
      <%= render 'shared/actions_list' if @actions %>
    </div>
      &nbsp;
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), actions_area_path(@area), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.news'), actions_area_path(@area, :type => :news), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.politics_activity'), actions_area_path(@area, :type => :activity), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.questions'), actions_area_path(@area, :type => :questions), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.proposals'), actions_area_path(@area, :type => :proposals), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.images'), actions_area_path(@area, :type => :images), :class => :filter %></li>
      <li><%= link_to t('.content_type_filters.videos'), actions_area_path(@area, :type => :videos), :class => :filter %></li>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to t('.more'), link_for_actions, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
