<div id="last_actions">
  <h2><%= link_to t('.title'), link_for_actions %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %>
    </li>
  </ul>
  <ul>
    <% @actions.first(4).each do |action| %>
      <li class="action">
        <%= render "shared/lists_elements/#{action.event_type}", :data => action.item %>
      </li>
    <% end %>
  </ul>
  <ul class="content_type_filters">
    <li><%= link_to t('.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.content_type_filters.news'), '#' %></li>
    <li><%= link_to t('.content_type_filters.politics_activity'), '#' %></li>
    <li><%= link_to t('.content_type_filters.questions'), '#' %></li>
    <li><%= link_to t('.content_type_filters.proposals'), '#' %></li>
    <li><%= link_to t('.content_type_filters.images'), '#' %></li>
    <li><%= link_to t('.content_type_filters.videos'), '#' %></li>
  </ul>
  <div class="pagination">
    <%= link_to t('.more'), link_for_actions %>
  </div>
</div>
