<article id="actions" class="actions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t('.title') %></h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), actions_area_path(@area, :more_recent => true), :class => ' filter recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), actions_area_path(@area, :more_polemic => true), :class => ' filter polemic' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <div id="listing">
      <%= render 'shared/actions_list' if @actions %>
    </div>
      &nbsp;
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), actions_area_path(@area), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.news'), actions_area_path(@area, :type => :news), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.politicians_activity'), actions_area_path(@area, :type => :activity), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.questions'), actions_area_path(@area, :type => :question), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.proposals'), actions_area_path(@area, :type => :proposal), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.images'), actions_area_path(@area, :type => :image), :class => "filter type" %></li>
      <li><%= link_to t('.content_type_filters.videos'), actions_area_path(@area, :type => :video), :class => "filter type" %></li>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to t('.more'), link_for_actions, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
