<article id="actions" class="actions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t('.title') %></h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_actions(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_actions(:more_polemic => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <div id="listing">
      <% if @actions %>
        <%= render 'shared/actions_list' %>
      <% else %>
        <span class="empty">No hay contenido en este area</span>
      <% end %>
    </div>
    &nbsp;
  </div>

  <div class="right">
    <ul class="selector">

      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_actions, :class => "filter" %></li>

      <li>
      <% if data.news.count > 0 %>
        <%= link_to t('.content_type_filters.news'), link_for_actions(:type => :news, :referer => action_name), :class => "filter" %>
      <% else %>
        <em>No hay noticias</em>
      <% end %>
      </li>

      <li>
      <% if data.questions.count > 0 %>
      <%= link_to t('.content_type_filters.questions'), link_for_actions(:type => :question, :referer => action_name), :class => "filter" %>
      <% else %>
        <em>No hay preguntas</em>
      <% end %>
      </li>

      <li>
      <% if data.class != User and data.proposals.count > 0 %>
      <%= link_to t('.content_type_filters.proposals'), link_for_actions(:type => :proposal, :referer => action_name), :class => "filter" %>
      <% else %>
        <em>No hay propuestas</em>
      <% end %>
      </li>

      <li>
      <% if data.class != User and data.photos.count > 0 %>
        <%= link_to t('.content_type_filters.images'), link_for_actions(:type => :image, :referer => action_name), :class => "filter" %>
      <% else %>
        <em>No hay fotos</em>
      <% end %>
      </li>

      <li>
      <% if data.class != User and data.videos.count > 0 %>
        <%= link_to t('.content_type_filters.videos'), link_for_actions(:type => :video, :referer => action_name), :class => "filter" %>
      <% else %>
        <em>No hay vídeos</em>
      <% end %>
      </li>

    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to t('.more'), link_for_actions, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
