<ul class="events">
  <% if day_events.count > 3 -%>
    <% @info_div_id = (@info_div_id || 0 ) + 1 -%>
    <% day_events.first(2).each do |event| -%>
      <li>
      <%= link_to event.title.truncate(17), '#', :id => "event-#{@info_div_id}", :class => :show_event %>
      </li>
    <% end -%>
    <li class="more"><%= link_to (t('.and_more', :count => day_events.count - 2)), '#', :id => "event-more", :class => :show_event %></li>
  <% else -%>
    <% day_events.each do |event| -%>
      <li>
      <%= link_to event.title.truncate(17), '#', :id => "event-#{event.id}", :class => :show_event %>
      </li>
    <% end -%>
  <% end -%>
</ul>

<% if day_events.count > 3 -%>
  <div id="info-event-<%= @info_div_id %>" class="info large">
    <div class="scroll-pane">
      <ul class="events">
        <% day_events.each do |event| -%>
          <li>
          <strong class="date"><%= l(event.event_date, :format => '%d, %B de %Y') %></strong>
          <a href="#" class="event"><%= event.title %></a>
          <ul class="details">
            <li class="where"><%= event.location %></li>
            <li class="when"><%= event.event_date.strftime('%H:%M') %></li>
          </ul>
          <% if event != day_events.last %>
            <div class="separator"></div>
          <% end %>
          </li>
        <% end -%>
      </ul>

    </div>
    <span class="close"></span>
  </div>
<% else -%>
  <% day_events.each do |event| -%>
    <div id="info-event-<%= event.id %>" class="info">
      <ul>
        <li>
        <strong class="date"><%= l(event.event_date, :format => '%d, %B de %Y') %></strong>
        <a href="#" class="event"><%= event.title.truncate(80) %></a>
        <ul class="details">
          <li class="where"><%= event.location %></li>
          <li class="when"><%= event.event_date.strftime('%H:%M') %></li>
        </ul>
        </li>
      </ul>
      <span class="close"></span>
    </div>
  <% end -%>
<% end -%>
