<!-- Agenda -->
<% content_for :js_data do %>
  <script>
    var events = <%= @agenda_json %>;
  </script>
<% end %>
<div class="article agenda with_footer<%= ' with_filter' if controller.controller_name == 'home' and controller.action_name == 'agenda' %>">
  <div class="inner">
    <header class="clearfix">
    <div class="left">
      <h2><%= title %></h2>
      <%= link_to 'iCal', link_for_agenda(:format => :ics), :"data-label" => t(".ical"), :class=> 'share ical' %>

      <% if controller.controller_name == 'home' and controller.action_name == 'agenda' %>
        <div class="agenda_filter clearfix">
<span class="title">          Mostrando</span>
          <select class="area_filter">
              <option data-id="0">Todos los eventos</option>
            <% @areas.each do |area| %>
              <option data-id="<%= area.id %>"><%= area.name %></option>
            <% end %>
          </select>
        </div>
      <% end %>

    </div>

    <div class="right">

      <ul class="switch">
        <li class="selected"><%= link_to t(".view_calendar"), '#', :class => :view_calendar %></li>
        <li><%= link_to t(".view_map"), '#', :class => :view_map %></li>
      </ul>

    </div>
    </header>
    <div class="content">
      <div class="agenda_map clearfix">
        <div id="map_canvas" class="map"></div>
        <%= render 'shared/agenda_list' %>
      </div>
    </div>

  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner with_spinner">

      <% if controller.action_name == "agenda" %>
        <div class="right">
          <%= link_to t(".next_month"), link_for_agenda(:anchor => :agenda), :class => "down_arrow right more_months"  %>
          <span id="months_spinner" class="spinner"></span>
        </div>
      <% else %>
        <div class="right">
          <%= link_to t(".more"), link_for_agenda(:anchor => :agenda), :class => "right right_arrow"  %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="t"></div>
  <div class="f"></div>
</div>
<!-- Agenda -->
