<!-- Agenda -->
<% content_for :js_data do %>
  <script>
    var events = <%= @agenda_json %>;
  </script>
<% end %>
<article class="agenda with_footer">
<div class="inner">
  <header>
  <div class="left"><h2><%= title %></h2></div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to "Ver calendario", '#', :class => :view_calendar %></li>
      <li><%= link_to "Ver mapa", '#', :class => :view_map %></li>
    </ul>

  </div>
  </header>
  <div class="content">
    <div class="agenda_map clearfix">
      <div id="map_canvas" class="map"></div>
      <%= render 'shared/agenda_list' %>
    </div>
  </div>

</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <% if defined?(more) %>
    <div class="left">
      <%= link_to t(".next_month"), link_for_agenda(:anchor => :agenda), :class => "down_arrow"  %>
    </div>
  <% else %>
    <div class="right">
      <%= link_to t(".more"), link_for_agenda(:anchor => :agenda), :class => "right right_arrow"  %>
    </div>
  <% end %>

</div>
</footer>
<div class="t"></div>
<div class="f"></div>
</article>
<!-- Agenda -->
