<% if day_events.count > 3 -%>
  <ul class="events">
    <% @info_div_id = (@info_div_id || 0 ) + 1 -%>
    <% day_events.first(2).each do |event| -%>
      <li>
      <%= link_to (raw (event.title.truncate(19, :omission => "&hellip;"))), event, :id => "event-#{event.id}", :class => :show_event %>
      </li>
    <% end -%>
    <li class="more"><%= link_to (t('.and_more', :count => day_events.count - 2)), '#', :id => "event-more-#{@info_div_id}", :class => :show_event %></li>
  </ul>


  <% day_events.first(2).each do |event| -%>
    <div id="info-event-<%= event.id %>" class="info">
      <ul>
        <li>
        <strong class="date"><%= l(event.event_date, :format => '%d, %B de %Y') %></strong>
        <%= link_to (raw (event.title.truncate(60, :omission => "&hellip;"))), event, :class => :event %>
        <ul class="details">
          <li class="where"><%= event.location %></li>
          <li class="when"><%= event.event_date.strftime('%H:%M') %></li>
        </ul>
        </li>
      </ul>
      <span class="close"></span>
    </div>
  <% end -%>

  <div id="info-event-more-<%= @info_div_id %>" class="info large">
    <div class="scroll-pane">
      <ul class="events">
        <% day_events.last(day_events.count - 2).each do |event| -%>
          <li>
          <strong class="date"><%= l(event.event_date, :format => '%d, %B de %Y') %></strong>
          <%= link_to event.title, event, :class => :event %>
          <ul class="details">
            <li class="where"><%= event.location %></li>
            <li class="when"><%= event.event_date.strftime('%H:%M') %></li>
          </ul>
          <% if event != day_events.last %>
            <div class="omission"></div>
          <% end %>
          </li>
        <% end -%>
      </ul>

    </div>
    <span class="close"></span>
  </div>

  <% else -%>
  <ul class="events">
    <% day_events.each do |event| -%>
      <li>
      <%= link_to (raw (event.title.truncate(19, :omission => "&hellip;"))), event, :id => "event-#{event.id}", :class => :show_event %>
      </li>
    <% end -%>
  </ul>


  <% day_events.each do |event| -%>
    <div id="info-event-<%= event.id %>" class="info">
      <ul>
        <li>
        <strong class="date"><%= l(event.event_date, :format => '%d, %B de %Y') %></strong>
        <%= link_to (raw (event.title.truncate(60, :omission => "&hellip;"))), event, :class => :event %>
        <ul class="details">
          <li class="where"><%= event.location %></li>
          <li class="when"><%= event.event_date.strftime('%H:%M') %></li>
        </ul>
        </li>
      </ul>
      <span class="close"></span>
    </div>
  <% end -%>

<% end -%>
