<!-- Agenda -->
<% content_for :js_data do %>
  <script>
    var events = <%= @agenda_json %>;
  </script>
<% end %>
<article class="agenda with_footer">
<div class="inner">
  <header>
  <div class="left"><h2><%= title %></h2></div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to "Ver calendario", '#', :class => :view_calendar %></li>
      <li><%= link_to "Ver mapa", '#', :class => :view_map %></li>
    </ul>

  </div>
  </header>
  <div class="content">
    <div class="agenda_map">
      <div id="map_canvas" class="map"></div>

      <ul class="agenda">
        <% i = 0 %>
        <% today = Date.today.day %>

        <% @days.to_a.each do |day| %>
          <% i = i.succ %>
          <% day_classes = [] %>

          <% day_classes.push((l day, :format => '%b_%d')) %>
          <% day_classes.push('disabled') if day.day < today %>
          <% day_classes.push('today') if day.day == today %>
          <% day_classes.push('last') if i % 7 == 0 %>

          <li class="day <%= day_classes.join(' ') %>">
          <h3 class="day"><%= day.day %></h3>
          <span class="month"><%= l day, :format => '%b' %></span>
          <%= render 'shared/agenda_for_day', :day_events => @agenda.select{|e| e.event_date.to_date.eql?(day.to_date)} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to t(".more"), link_for_agenda, :class => "right right_arrow" if defined?(more) %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
<!-- Agenda -->
