<div id="login" class="article micro login popover with_footer">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:'data-type' => 'html', :remote => true, :novalidate => "novalidate"}) do |f| %>

    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="mOoFPTs9xQUTOTplStCotWba1+xiF4SX6/vYt12YNPY=" /></div>
    <div class="inner">
      <div class="content">
        <h2><%= t(".access_irekia") %></h2>
        <p><%= t(".forgotten_password") %> <%= link_to t('.get_it_here'), new_password_path(resource_name), :class => :password_reminder %></p>
        <p><%= f.label :email %> <%= f.email_field :email, :class => :mInput %></p>
        <p><%= f.label :password %> <%= f.password_field :password, :class => :mInput %></p>

        <p class="remember_me"><%= f.check_box :remember_me, :class => "hidden" %> <a class="checkbox"><%= t(".remember_me") %></a></p>
      </div>
    </div>
    <span class="close"></span>

    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <div class="left">
          <a href="/users/auth/facebook" class="facebook" id="facebook_signin">Facebook</a>
          <a href="/users/auth/twitter" class="twitter" id="twitter_signin">Twitter</a>
        </div>
        <div class="right">
          <button type="submit" class="white_button right"><span><%= t(".login") %></span></button>
        </div>
      </div>
    </div>

    <div class="t"></div><div class="f"></div>
  <% end %>
</div>

<div id="password_reminder" class="article password_reminder popover micro with_footer">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="inner">
      <div class="content">
        <h2><%= t(".password_reminder.title") %></h2>
        <p><%= t(".password_reminder.description") %></p>
        <p><label for="user_email"><%= t(".password_reminder.email") %></label><br />
        <%= f.email_field :email, :id => :user_email, :class => 'mInput', :size => 30 %>
      </div>
    </div>
    <span class="close"></span>

    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <button type="submit" class="white_button right"><span><%= t(".password_reminder.recover_password") %></span></button>
      </div>
    </div>

    <div class="t"></div><div class="f"></div>
  <% end -%>
</div>
