<p>
<% if @new_follow -%>
  <%= form_for @area, :html => { :id => "follow" }, :remote => true do |form| %>
    <%= form.fields_for :follows, @new_follow do |follows_form| %>
      <%= follows_form.hidden_field :user_id %>
      <%= follows_form.hidden_field :follow_item_id %>
      <%= follows_form.hidden_field :follow_item_type %>
    <% end -%>
    <%= content_tag :button, :type => 'submit', :class => 'white_button add_person add_to_favorites' do %>
      <%= raw (content_tag(:span, '', :class => 'add') + t('.description.follow', :count => @followers_count)) %>
    <% end -%>
  <% end -%>
<% elsif @remove_follow -%>
  <%= form_for @area, :html =>{ :id => "unfollow" }, :remote => true do |form| %>
    <%= form.fields_for :follows, @remove_follow do |follows_form| %>
      <%= follows_form.hidden_field :_destroy, :value => true %>
    <% end -%>
    <%= content_tag :button, :type => 'submit', :class => 'white_button add_person add_to_favorites' do %>
      <%= raw (content_tag(:span, '', :class => 'add') + t('.description.stop_follow')) %>
    <% end -%>
  <% end -%>
<% end -%>
</p>
