<div class="content">
  <ul class="copyright">
    <li class="logo"><%= image_tag 'eusko_jaurlaritza_logo.png' %></li>
    <li><%= link_to t('.legal_info'), '/in_development' %></li>
    <li>&copy; 2011 Eusko Jaurlaritza</li>
    <li>Gobierno Vasco</li>
  </ul>
  <div class="home">
    <h4><%= t('.home.title') %></h4>
    <ul>
      <li><%= link_to t('.home.agenda'), '/in_development' %></li>
      <li><%= link_to t('.home.proposals'), '/in_development' %></li>
      <li><%= link_to t('.home.sign_up'), '/in_development' %></li>
      <li><%= link_to t('.home.sign_in'), '/in_development' %></li>
    </ul>
  </div>
  <div class="areas">
    <h4><%= t('.areas.title') %></h4>
    <ul>
      <li><%= link_to t('.areas.vasque_government'), '/in_development' %></li>
      <li><%= link_to t('.areas.presidence'), '/in_development' %></li>
      <li><%= link_to t('.areas.interior'), '/in_development' %></li>
      <li><%= link_to t('.areas.education'), '/in_development' %></li>
      <li><%= link_to t('.areas.economy'), '/in_development' %></li>
      <li><%= link_to t('.areas.justice'), '/in_development' %></li>
      <li><%= link_to t('.areas.housing'), '/in_development' %></li>
    </ul>
    <ul>
      <li><%= link_to t('.areas.public_works'), '/in_development' %></li>
      <li><%= link_to t('.areas.industry'), '/in_development' %></li>
      <li><%= link_to t('.areas.comerce'), '/in_development' %></li>
      <li><%= link_to t('.areas.employment'), '/in_development' %></li>
      <li><%= link_to t('.areas.health'), '/in_development' %></li>
      <li><%= link_to t('.areas.environment'), '/in_development' %></li>
      <li><%= link_to t('.areas.culture'), '/in_development' %></li>
    </ul>
  </div>
  <div class="about">
    <h4><%= t('.about.title') %></h4>
    <ul>
      <li><%= link_to t('.about.help'), '/in_development' %></li>
      <li><%= link_to t('.about.faq'), '/in_development' %></li>
      <li><%= link_to t('.about.use'), '/in_development' %></li>
      <li><%= link_to t('.about.privacy'), '/in_development' %></li>
    </ul>
  </div>
</div>
