<div class="content">
  <ul class="copyright">
    <li class="logo"><%= image_tag 'eusko_jaurlaritza_logo.png' %></li>
    <li><%= link_to t('.legal_info'), '#' %></li>
    <li>&copy; 2011 Eusko Jaurlaritza</li>
    <li>Gobierno Vasco</li>
  </ul>
  <div class="home">
    <h4><%= t('.home.title') %></h4>
    <ul>
      <li><%= link_to t('.home.agenda'), '#' %></li>
      <li><%= link_to t('.home.proposals'), '#' %></li>
      <li><%= link_to t('.home.sign_up'), '#' %></li>
      <li><%= link_to t('.home.sign_in'), '#' %></li>
    </ul>
  </div>
  <div class="areas">
    <h4><%= t('.areas.title') %></h4>
    <ul>
      <li><%= link_to t('.areas.vasque_government'), '#' %></li>
      <li><%= link_to t('.areas.presidence'), '#' %></li>
      <li><%= link_to t('.areas.interior'), '#' %></li>
      <li><%= link_to t('.areas.education'), '#' %></li>
      <li><%= link_to t('.areas.economy'), '#' %></li>
      <li><%= link_to t('.areas.justice'), '#' %></li>
      <li><%= link_to t('.areas.housing'), '#' %></li>
    </ul>
    <ul>
      <li><%= link_to t('.areas.public_works'), '#' %></li>
      <li><%= link_to t('.areas.industry'), '#' %></li>
      <li><%= link_to t('.areas.comerce'), '#' %></li>
      <li><%= link_to t('.areas.employment'), '#' %></li>
      <li><%= link_to t('.areas.health'), '#' %></li>
      <li><%= link_to t('.areas.environment'), '#' %></li>
      <li><%= link_to t('.areas.culture'), '#' %></li>
    </ul>
  </div>
  <div class="about">
    <h4><%= t('.about.title') %></h4>
    <ul>
      <li><%= link_to t('.about.help'), '#' %></li>
      <li><%= link_to t('.about.faq'), '#' %></li>
    </ul>
  </div>
</div>
