<div class="content">
  <ul class="copyright">
    <li class="logo"><%= image_tag 'eusko_jaurlaritza_logo.png' %></li>
    <li><%= link_to t('.legal_info'), '/in_development' %></li>
    <li>&copy; 2011 Eusko Jaurlaritza</li>
    <li>Gobierno Vasco</li>
  </ul>
  <div class="home">
    <h4><%= t('.home.title') %></h4>
    <ul>
      <li><%= link_to t('.home.agenda'), '/agenda' %></li>
      <!-- <li><%= link_to t('.home.proposals'), '/in_development' %></li> -->
      <li><%= link_to t('.home.sign_up'), '/users/intro' %></li>
      <li><%= link_to t('.home.sign_in'), '#login', :class => "floating-login" %></li>
    </ul>
  </div>
  <div class="areas">
    <h4><%= t('.areas.title') %></h4>
    <ul>
      <li><%= link_to t('.areas.vasque_government'), 'http://www.euskadi.net' %></li>
      <% @areas_footer.first(8).each do |area| %>
        <li><%= link_to area.name, area %></li>
      <% end %>
    </ul>
    <ul class="last">
      <% @areas_footer.last(9).each do |area| %>
        <li><%= link_to area.name, area %></li>
      <% end %>
    </ul>
  </div>
  <div class="about">
    <h4><%= t('.about.title') %></h4>
    <ul>
      <li><%= link_to t('.about.help'), '/in_development' %></li>
      <li><%= link_to t('.about.faq'), '/in_development' %></li>
      <li><%= link_to t('.about.use'), '/in_development' %></li>
      <li><%= link_to t('.about.privacy'), '/in_development' %></li>
    </ul>
  </div>
</div>
