<div id="header">
  <%= image_tag 'irekia_logo.jpg' %>
  <%= image_tag 'euskadi_net_logo.jpg' %>
  <ul>
    <li><%= link_to t('.contact'), '#' %></li>
    <li>|</li>
    <li><%= link_to t('.help'), '#' %></li>
    <li>|</li>
    <li><%= link_to t('.map'), '#' %></li>
    <li>|</li>
    <li><%= link_to t('.accessibility'), '#' %></li>
    <li>|</li>
    <li><%= link_to t('.management'), '#' %></li>
  </ul>
</div>