<div class="content">
  <%= link_to (image_tag 'logo.png'), root_path, :class => "logo" %>
  <%= link_to (image_tag 'euskadi_net_logo.png'), "#", :class => :net_logo %>

  <ul class="user_options">
    <li><%= link_to t('.contact'), '#' %></li>
    <li><%= link_to t('.help'), '#' %></li>
    <li><%= link_to t('.map'), '#' %></li>
    <li><%= link_to t('.accessibility'), '#' %></li>
    <li class="last"><%= link_to t('.management'), '#' %></li>
  </ul>
</div>
