<div class="content">
  <div class="top_nav">
    <ul class="languages">
      <li class="selected"><a href="#ES">ES</a></li>
      <li><a href="/in_development">EU</a></li>
      <li class="last"><a href="/in_development">EN</a></li>
    </ul>

    <ul class="user_options">
      <li><%= link_to t('.contact'), t('.contact_url') %></li>
      <li><%= link_to t('.help'), t('.contact_url') %></li>
      <li><%= link_to t('.map'), t('.map_url') %></li>
      <li><%= link_to t('.accessibility'), t('.accessibility_url') %></li>
      <li class="last"><%= link_to t('.management'), t('.management_url') %></li>
    </ul>

    <%= link_to (image_tag 'logo.png'), get_root_url, :class => "logo" %>
    <%= link_to (image_tag 'euskadi_net_logo.png'), t('.euskadi_net_url'), :class => :net_logo %>
  </div>
</div>
