<div id="header">
  <%= image_tag 'irekia_logo.jpeg' %>
  <%= image_tag 'euskadi_net_logo.jpeg' %>
  <ul>
    <li><%= t('.contact') %></li>
    <li>|</li>
    <li><%= t('.help') %></li>
    <li>|</li>
    <li><%= t('.map') %></li>
    <li>|</li>
    <li><%= t('.accessibility') %></li>
    <li>|</li>
    <li><%= t('.management') %></li>
  </ul>
</div>