<% if user_signed_in? %>
  <ul class="auth">
    <li><span class="username"><%= raw t('.hello', :name => link_to(current_user.name, user_path(current_user))) %>.</span></li>
    <li>
    <div class="blue_button">
      <%= content_tag 'div', notifications_count, :class => "#{'empty_' if notifications_count.zero? }count#{' toggle_notifications' unless notifications_count.zero? }" %>
      <%= link_to t('.settings'), settings_user_path(current_user), :class => :settings %>
      <%= link_to t('.sign_out'), destroy_user_session_path, :method => 'delete', :class => :sign_out %>
    </div>
    </li>
  </ul>

<div class="notification_selector">
  <div class="popover">
    <div class="scroll-pane">
      <ul>
        <% notifications_list.each_with_index do |notification, index| -%>
        <%= render_notification_item(notification[0], notification[1], notifications_list.count == (index + 1) ? 'last' : nil) %>
        <% end -%>
      </ul>
    </div>
  </div>
</div>


<% else %>
  <ul class="auth">
    <li><%= link_to t('.sign_up'), intro_users_path, :class => :blue_button %></li>
    <li>
    <div class="blue_button">
      <%= link_to t('.sign_in'), new_user_session_path, :class => :login %>
      <%= link_to t('.facebook'), user_omniauth_authorize_path(:facebook), :class => :facebook %>
      <%= link_to t('.twitter'), user_omniauth_authorize_path(:twitter), :class => :twitter %>
    </div>
    </li>
  </ul>
<% end %>

