<div class="content">
  <span class="currently_viewing"><%= raw t('.currently_viewing') %></span>
  <ul class="areas">
    <% @areas.each do |area| %>
      <li class="<%= current_area?(area) %>"><%= truncate(area.name, :length => 18) %></li>
    <% end %>
  </ul>
  <%= form_for :search, :remote => true, :url => search_path, :html => {:'data-type' => 'html', :method => :get, :autocomplete => :off } do |search_form| %>
    <div class="input_field placeholder">
      <%= search_form.text_field :query %>
      <%= search_form.submit '' %>
      <span id="autocomplete_spinner"></span>
      <span class="holder">o busca lo que necesites…</span>
    </div>
    <field></field>
    <div class="autocomplete">
      <div class="inner"></div>
      <div class="t"></div><div class="f"></div>
    </div>
  <% end %>
  <%= render 'shared/nav_bar_buttons' %>
</div>
