<div class="content">
  <span class="currently_viewing"><%= t('.currently_viewing') %></span>
  <ul class="areas">
    <% @areas.each do |area| %>
      <li class="<%= current_area?(area) %>"><%= truncate(area.name, :length => 18) %></li>
    <% end %>
  </ul>
  <%= form_for :search, :remote => true, :url => search_path, :html => {:'data-type' => 'html', :method => :get} do |search_form| %>
    <div class="input_field placeholder">
        <%= search_form.text_field :query %>
        <%= search_form.submit '' %>
        <span class="holder">o busca lo que necesites…</span>
    </div>
    <field></field>
    <div class="autocomplete"></div>
  <% end %>
  <% if user_signed_in? %>
    <ul class="auth">
      <li><%= link_to "hola, #{current_user.name}", '/in_development', :class => "blue_button" %></li>
      <li><%= link_to t('.sign_out'), destroy_user_session_path, :method => 'delete', :class => "sign_out blue_button" %></li>
    </ul>
  <% else %>
    <ul class="auth">
      <li><%= link_to t('.sign_up'), intro_users_path, :class => :blue_button %></li>
      <li>
      <div class="blue_button">
        <%= link_to t('.sign_in'), new_user_session_path, :class => :login %>
        <%= link_to t('.facebook'), user_omniauth_authorize_path(:facebook), :class => :facebook %>
        <%= link_to t('.twitter'), user_omniauth_authorize_path(:twitter), :class => :twitter %>
      </div>
      </li>
    </ul>
  <% end %>
</div>
