<% if user_signed_in? %>
  <ul class="auth">
    <li><span class="username"><%= t('.hello', :name => current_user.name) %>.</span></li>
    <li>
    <div class="blue_button">
      <%= content_tag 'div', notifications_count, :class => "#{'empty_' if notifications_count.zero? }count toggle_notifications" %>
      <%= link_to t('.settings'), settings_user_path(current_user), :class => :settings %>
      <%= link_to t('.sign_out'), destroy_user_session_path, :method => 'delete', :class => :sign_out %>
    </div>
    </li>
  </ul>

<div class="notification_selector">
  <div class="popover">
    <div class="scroll-pane">
      <ul>
        <li class="selected">Nuevo comentario en tu propuesta</li>
        <li class="">Nuevos argumentos en una propuesta en la que has participado</li>
        <li class="">Has sido etiquetado en un nuevo evento</li>
        <li class=" last"><a href="/areas/15">Urbanismo y Territorio</a></li>
      </ul>
    </div>
  </div>
</div>


<% else %>
  <ul class="auth">
    <li><%= link_to t('.sign_up'), intro_users_path, :class => :blue_button %></li>
    <li>
    <div class="blue_button">
      <%= link_to t('.sign_in'), new_user_session_path, :class => :login %>
      <%= link_to t('.facebook'), user_omniauth_authorize_path(:facebook), :class => :facebook %>
      <%= link_to t('.twitter'), user_omniauth_authorize_path(:twitter), :class => :twitter %>
    </div>
    </li>
  </ul>
<% end %>

