<div class="content clearfix">
  <% if controller.controller_name == "users" and ["intro", "edit"].include?(controller.action_name) %>
    <span class="currently_viewing">Regístrate en Irekia</span>
  <% else %>
    <span class="currently_viewing"><%= raw t('.areas') %></span>

    <div class="areas_selector">

      <% if @content && (area = @content.content_area) %>
        <span><%= area.try(:name) %></span>
      <% else %>
        <span><%= @area ? @area.name : (content_tag :span, t(".choose_an_area")) %></span>
      <% end %>

      <span class="handle"></span>

      <div class="popover">
        <div class="scroll-pane">
          <ul>
            <% @areas.each do |area| %>
              <li class="<%= current_area?(area) %><%= ' last' if @areas.last == area %>"><%= link_to area.name, area_path(area) %></li>
              <% end if @areas %>
            </ul>
          </div>
        </div>
      </div>

      <%= form_for :search, :remote => true, :url => search_path, :html => {:'data-type' => 'html', :method => :get, :autocomplete => :off } do |search_form| %>
        <div class="input_field search placeholder">
          <%= search_form.text_field :query %>
          <%= search_form.submit '' %>
          <span id="autocomplete_spinner"></span>
          <span class="holder"><%= raw t(".search") %></span>
        </div>
        <field></field>
        <div class="autocomplete">
          <div class="inner"></div>
          <div class="t"></div><div class="f"></div>
        </div>
      <% end %>
      <%= render 'shared/nav_bar_buttons' %>
    <% end %>
  </div>
