<div id="navigation">
  <span><%= t('.currently_viewing') %></span>
  <ul class="areas">
    <% @areas.each do |area| %>
      <li class="<%= current_area?(area) %>"><%= area.name %></li>
    <% end %>
  </ul>
  <%= form_for :search, :html => {:method => :get} do |search_form| %>
    <%= search_form.label :query, t('.search') %>
    <%= search_form.text_field :query %>
    <%= search_form.submit '' %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to t('.sign_out'), destroy_user_session_path, :method => 'delete' %>
  <% else %>
    <ul class="auth">
      <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
      <li><%= link_to t('.sign_in'), new_user_session_path %></li>
      <li><%= render 'shared/sign_in' %></li>
    </ul>
  <% end %>
</div>