<% if user_signed_in? %>
  <ul class="auth">
    <li><span class="username"><%= raw t('.hello', :name => link_to(current_user.name, user_path(current_user))) %>.</span></li>
    <li>
    <div class="blue_button">
      <%= link_to notifications_count, '#show_notifications', :class => "toggle_notifications #{'empty_' if notifications_count.zero? }count", :"data-label" => t(".notifications.pending", :count => notifications_count) %>
      <%= link_to t('.settings.title'), settings_user_path(current_user), :"data-label" => t(".settings.label"), :class => :settings %>
      <%= link_to t('.sign_out.title'), destroy_user_session_path, :method => 'delete', :"data-label" => t(".sign_out.label"), :class => :sign_out %>
    </div>
    </li>
  </ul>

  <% if notifications_list.size > 0 -%>
    <div class="notification_selector">
      <div class="popover">
        <div class="scroll-pane">
          <ul>

            <li class="submit">
            <%= form_for current_user, :remote => true, :html => {:'data-type' => :html} do |form| %>
              <%= form.hidden_field :new_news_count,            :value => 0 %>
              <%= form.hidden_field :new_events_count,          :value => 0 %>
              <%= form.hidden_field :new_proposals_count,       :value => 0 %>
              <%= form.hidden_field :new_answers_count,         :value => 0 %>
              <%= form.hidden_field :new_comments_count,        :value => 0 %>
              <%= form.hidden_field :new_votes_count,           :value => 0 %>
              <%= form.hidden_field :new_arguments_count,       :value => 0 %>
              <%= form.hidden_field :new_questions_count,       :value => 0 %>
              <%= form.hidden_field :new_answer_requests_count, :value => 0 %>
              <%= form.hidden_field :new_contents_users_count,  :value => 0 %>
              <%= form.hidden_field :new_follows_count,         :value => 0 %>
            <% end -%>
            </li>

        <% last_notification = notifications_list.pop -%>
        <% first_notification = notifications_list.shift -%>

        <%= render_notification_item(first_notification[0], first_notification[1], 'first') if first_notification.present? %>
        <% notifications_list.each_with_index do |notification,i| -%>
          <%= render_notification_item(notification[0], notification[1]) %>
        <% end -%>
        <%= render_notification_item(last_notification[0], last_notification[1], 'last') if last_notification.present? %>
      </ul>
    </div>
  <% end %>


<% else %>
  <ul class="auth">
    <li><%= link_to t('.sign_up'), intro_users_path, :class => 'blue_button active' %></li>
    <li>
    <div class="blue_button">
      <%= link_to t('.sign_in'), new_user_session_path, :class => :login %>
      <%= link_to t('.facebook'), user_omniauth_authorize_path(:facebook), :class => :facebook %>
      <%= link_to t('.twitter'), user_omniauth_authorize_path(:twitter), :class => :twitter %>
    </div>
    </li>
  </ul>
<% end %>

