<div id="publish-popover" class="article politician publish with_footer popover initialy_hidden" data-t-publish="<%= t(".publish") %>" data-t-continue="<%= t(".continue") %>" data-t-close="<%= t(".close") %>">
  <div class="inner clearfix">
    <div class="content">

      <h2><%= t(".title") %></h2>
      <p><%= t(".description") %></p>

      <%= menu ([
                { :link => (link_to t(".dashboard"), "#"), :class => :selected},
                { :link => (link_to t(".photo"), "#") },
                { :link => (link_to t(".video"), "#") },
                { :link => (link_to t(".proposal"), "#") }
      ]) %>

      <div class="container">
        <div class="inner_container clearfix">

          <!-- DASHBOARD -->
          <div class="section dashboard">
            <div class="triangle"></div>
            <%= form_for @status_message, :remote => true, :html => {:'data-type' => 'html'} do |form| %>

              <div class="form clearfix">
                <%= form.fields_for :status_message_data, @status_message.status_message_data do |status_message_data| %>
                  <div class="input_field placeholder textarea">
                    <%= status_message_data.text_area :message %>
                    <span class="holder"><%= t(".section.status_message.label") %></span>
                  </div>
                <% end %>
              <% end -%>
            </div>

          </div>

          <!-- PHOTO -->
          <div class="section photo">
            <div class="triangle"></div>

            <%= form_for @photo, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
              <%= form.fields_for :image do |image| %>
                <%= image.hidden_field :image_cache, :class => :image_cache_name %>

              <div class="form clearfix">
                <div class="input_field image_placeholder uploader">
                  <span class="holder"><span class="upload" id="upload_photo" data-url="<%= photos_path %>"><%= t(".section.photo.upload") %></span></span>
                  <span class="percentage">0%</span>
                  <span class="loading"><%= t(".section.photo.loading") %></span>
                  <div class="progress"></div>
                </div>

                <div class="image_container clearfix">
                  <p><%= t(".section.photo.this_photo_will_be_published") %></p>
                  <a href="#" class="remove"><%= t(".remove") %></a>
                </div>
              </div>
              <% end %>
            <% end %>

            <div class="error message">
              <div class="icon"></div>
              <h2><%= t(".section.photo.error.title") %></h2>
              <p><%= t(".section.photo.error.description") %></p>
            </div>
          </div>


          <!-- VIDEO -->
          <div class="section video">
            <div class="triangle"></div>
            <%= form_for @video, :remote => true, :html => {:'data-type' => 'html'} do |form| %>

              <div class="form clearfix">
                <ul class="clearfix">
                  <li class="youtube selected">
                  <a href="#" class="radio selected"></a>
                  <div class="logo"></div>
                  <div class="input_field youtube placeholder">
                    <%= form.fields_for :video_data do |video_data| %>
                      <%= video_data.text_field :youtube_url %>
                    <% end -%>
                    <span class="holder"><%= t(".section.video.youtube_url") %></span>
                  </div>
                  </li>

                  <li class="vimeo">
                  <a href="#" class="radio"></a>
                  <div class="logo"></div>
                  <div class="input_field vimeo placeholder">
                    <%= form.fields_for :video_data do |video_data| %>
                      <%= video_data.text_field :vimeo_url %>
                    <% end -%>
                    <span class="holder"><%= t(".section.video.vimeo_url") %></span>
                  </div>
                  </li>

                </ul>
              </div>

            <% end -%>

            <div class="success message">
              <div class="icon"></div>
              <h2><%= t(".section.video.success.title") %></h2>
              <p><%= t(".section.video.success.description") %></p>
            </div>

            <div class="error message">
              <div class="icon"></div>
              <h2><%= t(".section.video.error.title") %></h2>
              <p><%= t(".section.video.error.description") %></p>
            </div>
          </div>

          <!-- PROPOSAL -->
          <div class="section proposal">
            <div class="triangle"></div>
            <%= form_for @proposal, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
              <%= form.fields_for :proposal_data, @proposal_data do |proposal_data| %>
                <%= proposal_data.hidden_field :area_id %>

                <%= proposal_data.fields_for :image, @proposal_data.image do |image| %>
                  <%= image.hidden_field :proposal_data_id %>
                  <%= image.hidden_field :image_cache, :class => :image_cache_name %>
                <% end %>

                <div class="form clearfix">

                  <div class="input_field placeholder proposal_field textarea clearfix">
                    <%= proposal_data.text_area :title, :class => :title %>
                    <span class="holder"><%= t(".section.status_message.label") %></span>
                  </div>

                  <div class="input_field image_placeholder uploader">
                    <span class="holder"><span class="upload" id="upload_proposal_image" data-url="<%= proposals_path %>"><%= t(".section.proposal.upload") %></span></span>
                    <span class="percentage">0%</span>
                    <span class="loading"><%= t(".section.photo.loading") %></span>
                    <div class="progress"></div>
                  </div>

                  <div class="image_container clearfix">
                    <p><%= t(".section.proposal.this_photo_will_be_published") %></p>
                    <a href="#" class="remove"><%= t(".remove") %></a>
                  </div>

                  <h3><%= t(".section.proposal.explanation") %></h3>
                  <div class="input_field description body_field placeholder textarea">
                    <%= proposal_data.text_area :body, :class => :body %>
                    <span class="holder"><%= t(".section.proposal.label") %></span>
                  </div>
                <% end -%>
              <% end -%>

            </div>

            <div class="success message">
              <div class="icon"></div>
              <h2><%= t(".section.proposal.success.title") %></h2>
              <p><%= t(".section.proposal.success.description") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="close"></span>
  </div>

  <div class="bfooter">
  <div class="separator"></div>
  <div class="inner">
    <div class="left"></div>
    <div class="right">
      <%= button t('.continue'), :class => "white_button pink publish right disabled" %>
      <span class="spinner" id="publish_spinner"></span>
    </div>
  </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
