<article class="proposals with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_proposals(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_proposals(:more_polemic => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div id="listing">
      <% if @proposals.count > 0 %>
        <%= render 'shared/proposals_list' if @proposals %>
      <% else %>
        <span class="empty">No hay contenido en este area</span>
      <% end %>
    </div>
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_proposals(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.from_politicians'), link_for_proposals(:from_politicians => true, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.from_citizens'), link_for_proposals(:from_citizens => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

    <%= link_to t('.create_proposal'), '/in_development', :id => "question-123", :class => "white_button ask_question" %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to t('.more'), link_for_proposals, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
