<% if @proposal.present? %>
  <article id="proposal-popover" class="mini popover with_footer initialy_hidden">
  <%= form_for @proposal, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
    <div class="inner">
      <header><h2>Haz una propuesta</h2></header>
      <div class="content">
        <p>Recuerda ser breve y conciso.</p>
        <h3>Título de la propuesta</h3>

        <%= form.fields_for :proposal_data, @proposal_data do |proposal_data| %>
          <%= proposal_data.hidden_field :user_id %>
          <%= proposal_data.hidden_field :area_id %>

          <div id="124" class="input-counter">
            <span class="counter">140</span>
            <%= proposal_data.text_area :title, :class => :grow %>
          </div>

        <% end %>

        <h3 class="related">Propuestas parecidas</h3>
        <div class="related"></div>

      </div>
      <span class="close"></span>
    </div>
    <footer>
    <div class="separator"></div>
    <div class="inner">
      <%= form.submit t('.make_a_proposal.continue'), :id => 'submit-124', :class => 'disabled white_button right', :disabled => 'disabled' %>
    </div>
    </footer>
    <div class="t"></div><div class="f"></div>
  <% end %>
  </article>
<% end %>
