<article class="proposals with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_proposals, :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_proposals(:more_polemic => true), :class => 'filter' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div id="listing">
      <%= render 'shared/proposals_list' if @proposals %>
    </div>
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to "Todas", '/in_development' %></li>
      <li><%= link_to "Propuestas del gobierno", '/in_development' %></li>
      <li><%= link_to "Propuestas ciudadanas", '/in_development' %></li>
    </ul>

    <%= link_to "Crea una propuesta", '/in_development', :id => "question-123", :class => "white_button ask_question" %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to t('.more'), link_for_proposals, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
