<article id="proposals_<%= @area.id %>" class="proposals with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_proposals(:more_polemic => false, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_proposals(:more_polemic => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div id="listing">
      <% if @proposals_count > 0 %>
        <%= render 'shared/proposals_list' if @proposals %>
      <% else %>
        <span class="empty">No hay contenido en este area</span>
      <% end %>
    </div>
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_proposals(:from_politicians => false, :from_citizens => false, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.from_politicians'), link_for_proposals(:from_politicians => true, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.from_citizens'), link_for_proposals(:from_citizens => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

    <%= link_to_with_login t('.create_proposal'), '/in_development', :id => "proposal-popover", :class => "white_button pink after_create_proposal" %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
  <%= link_to t('.more'), link_for_proposals, :id => "area_#{@area.id}", :class => "more_proposals down_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>

<%= render "/shared/proposal_form" %>
