<% if @question.present? %>
  <article id="question-popover" class="mini popover with_footer initialy_hidden">
  <%= form_for @question, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
    <div class="inner">
      <header><h2>Haz una pregunta</h2></header>
      <div class="content">
        <p>Recuerda ser breve y conciso. Así te asegurarás una respuesta en menos tiempo.</p>
        <h3>Tu pregunta</h3>

        <%= form.fields_for :areas_contents, @question.areas_contents.first do |area_content_data| %>
          <%= area_content_data.hidden_field :area_id %>
          <%= area_content_data.hidden_field :content_id %>
        <% end -%>

        <%= form.fields_for :question_data, @question_data do |question_data| %>
          <%= question_data.hidden_field :user_id %>
          <%= question_data.hidden_field :area_id %>

          <div id="123" class="input-counter">
            <span class="counter">140</span>
            <%= question_data.text_area :question_text, :class => :grow %>
          </div>

        <% end %>

      </div>
      <span class="close"></span>
    </div>
    <footer>
    <div class="separator"></div>
    <div class="inner">
      <button class="disabled white_button right" id="submit-123" disabled="disabled"><span><%= t('.make_a_question.submit') %></span></button>
      <span id="question_spinner" class="spinner"></span>
    </div>
    </footer>
    <div class="t"></div><div class="f"></div>
  <% end %>
  </article>
<% end %>
