<% if @question.present? %>
  <div id="question-popover" class="article mini popover with_footer initialy_hidden">
    <%= form_for @question, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
      <div class="inner">
        <header><h2><%= t(".make_a_question.title") %></h2></header>
        <div class="content">
          <p><%= t(".remember_to_be_concise") %></p>

          <%= form.fields_for :question_data, @question_data do |question_data| %>
            <%= question_data.hidden_field :user_id %>
            <%= question_data.hidden_field :area_id %>

            <div class="field clearfix">
              <h3><%= t(".your_question") %></h3>
              <div id="123" class="input-counter">
                <span class="counter">140</span>
                <%= question_data.text_area :question_text, :class => "title grow" %>
              </div>
            </div>

            <div class="extra">
              <div class="field clearfix">
                <h3><%= t(".do_you_want_to_explain_the_question") %></h3>
                <div class="input_field textarea grow placeholder">
                  <%= question_data.text_area :body, :class => "grow body" %>
                  <span class="holder"><%= t(".describe_the_question") %></span>
                </div>
              </div>

              <%
                target = ""
                target = @area.name if @area
                target = @user.fullname if @user
              %>

              <div class="field last clearfix">
                <h3><%= t(".who_is_the_target") %></h3>
                <div class="input_field autosuggest_field placeholder">
                  <div class="search_box clearfix">
                    <input type="text" class="search" value="<%= target %>" />
                    <span class="holder"><%= t(".name_of_the_area_or_politician") %><span class="all">... o <a href="#">ver todas las áreas</a></span></span>
                    <span class="spinner" id="search_question_spinner"></span>
                  </div>
                </div>
              </div>

            </div>

          <% end %>

        </div>
        <span class="close"></span>
      </div>
      <div class="bfooter">
        <div class="separator"></div>
        <div class="inner">
          <button class="disabled white_button action right" id="submit-123" disabled="disabled"><span><%= t('.make_a_question.submit') %></span></button>
          <span id="question_spinner" class="spinner"></span>
        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    <% end %>
  </div>
<% end %>
