<article class="questions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_questions(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_questions(:more_polemic => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div id="listing">

      <% if @questions.count > 0 %>
        <%= render 'shared/questions_list', :questions => @questions if @questions %>
      <% else %>
        <span class="empty">No hay preguntas en este area</span>
      <% end %>
    </div>

  </div>
  <div class="right">

    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_questions(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.answered'), link_for_questions(:answered => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

    <% if user_signed_in? && @question_target.present? %>
      <%= link_to t('.create_question'), '/in_development', :id => "question-123", :class => "white_button ask_question" %>
    <% elsif !user_signed_in? %>
      <%= link_to t('.create_question'), '/in_development', :class => "white_button " %>
    <% end %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to t('.more'), link_for_questions, :class => :right_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>

<%= render "/shared/question_form" %>
