<div class="article questions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
    <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_questions(:more_polemic => false, :referer => action_name), :class => 'filter more_recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_questions(:more_polemic => true, :referer => action_name), :class => 'filter more_polemic' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div class="listing listing_questions_<%= params[:id] %>">

      <% if @questions.count > 0 %>
        <%= render 'shared/questions_list' %>
      <% else %>
        <span class="empty"><%= t(".no_questions_in_this_area") %></span>
      <% end %>
    </div>

  </div>
  <div class="right">

    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_questions(:answered => false, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.content_type_filters.answered'), link_for_questions(:answered => true, :referer => action_name), :class => 'filter' %></li>
    </ul>

    <%= link_to_with_login (content_tag :span, t('.create_question')), '#', :id => "question-popover", :class => "white_button pink after_ask_question" %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner with_spinner">

  <% if @questions_count > @per_page %>
    <% if controller.action_name == "questions" %>
      <div class="left">
        <%= link_to t('.more'), link_for_questions, :id => "questions_#{params[:id]}", :class => "more_questions left down_arrow" %>
        <span id="questions_spinner" class="spinner"></span>
      </div>
    <% else %>
      <div class="right">
        <%= link_to t('.more'), link_for_questions(:anchor => :questions), :id => "questions_#{params[:id]}", :class => "right_arrow" %>
      </div>
    <% end %>
  <% end %>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>

<%= render "/shared/question_form" %>
