<%= content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    var questions = <%= @questions.to_json.html_safe %>;
  </script>
<% end %>


<article class="questions with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <ul>
    <% @questions.first(4).each do |question| %>
      <li class="question">
        <%= render 'shared/lists_elements/question', :data => question %>
      </li>
    <% end %>
  </ul>

  </div>
  <div class="right">

    <ul class="selector">
      <li class="selected"><%= link_to "Todas", "#" %></li>
      <li><%= link_to "Contestadas", "#" %></li>
    </ul>

    <%= link_to "Haz una pregunta", "#", :id => "question-123", :class => "white_button ask_question" %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to "ver más preguntas", "#", :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>




<article class="activity with_footer">
<div id="questions">
  <h2><%= link_to t('.title'), link_for_questions %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %>
    </li>
  </ul>
  <ul>
    <% @questions.first(4).each do |question| %>
      <li>
        <%= render 'shared/lists_elements/question', :data => question %>
      </li>
    <% end %>
  </ul>
  <ul class="content_type_filters">
    <li><%= link_to t('.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.content_type_filters.answered'), '#' %></li>
    <% if @question_target.present? %>
      <li class="search">
        <%= form_tag questions_path, :method => :get do %>
          <%= text_field_tag :query %>
          <%= submit_tag '' %>
        <% end %>
      </li>
    <% end %>
    <li class="create"><%= link_to t('.create_question'), new_question_path %></li>
  </ul>
  <% if user_signed_in? && @question_target.present? %>
    <div class="send_a_question">
      <h1><%= t('.make_a_question.title') %></h1>
      <p><%= t('.make_a_question.hint') %></p>
      <%= form_for @question_target do |form| %>
        <%= form.fields_for :questions, @question do |questions| %>
          <%= questions.fields_for :contents_users, @question.contents_users.last do |content_user| %>
            <%= content_user.hidden_field :user_id %>
          <% end -%>
          <%= questions.fields_for :question_data, @question_data do |question_data| %>
            <%= question_data.hidden_field :user_id %>
            <%= question_data.hidden_field :area_id %>
            <%= question_data.label :question_text, t('.make_a_question.your_question') %>
            <%= question_data.text_area :question_text, :html => {:class => 'autocomplete'} %>
          <% end %>
        <% end %>
        <%= form.submit t('.make_a_question.submit') %>
      <% end %>
    </div>
  <% end %>
  <div class="pagination">
    <%= link_to t('.more'), link_for_questions %>
  </div>
</div>
</article>

