<article class="questions with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t(".title") %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), '#', :class => 'more_recent' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), '#', :class => 'more_polemic' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div id="questions">
      <ul>
        <% @questions.first(4).each do |question| %>
          <li class="question">
          <%= render 'shared/lists_elements/question', :data => question %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="right">

    <ul class="selector">
      <li class="selected"><%= link_to "Todas", "#" %></li>
      <li><%= link_to "Contestadas", "#" %></li>
    </ul>

    <% if user_signed_in? && @question_target.present? %>
      <%= link_to "Haz una pregunta", "#", :id => "question-123", :class => "white_button ask_question" %>
    <% elsif !user_signed_in? %>
      <%= link_to "Haz una pregunta", "#", :class => "white_button floating-login question" %>
    <% end %>

  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="right">
    <%= link_to t('.more'), link_for_questions, :class => :right_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>

<%= render "/shared/question_form" %>
