<div id="questions">
  <h2><%= link_to t('.title'), link_for_questions(@area) %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.main_filters.more_recent'), '#', :id => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.main_filters.more_polemic'), '#', :id => 'more_polemic' %>
    </li>
  </ul>
  <ul>
    <% @questions.first(4).each do |question| %>
      <li class="action">
        <%= render_question question %>
      </li>
    <% end %>
  </ul>
  <ul class="content_type_filters">
    <li><%= link_to t('.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.content_type_filters.answered'), '#' %></li>
    <li class="create"><%= link_to t('.create_question'), new_question_path %></li>
  </ul>
  <div class="paginate">
    <%= link_to t('.more'), link_for_questions(@area) %>
  </div>
</div>
