<ul class="sharing">
  <li><div class="<%= class_for_modal_login %> <%= class_for_after_login %>share email"></div>

  <div class="sharebox email">
    <%= form_for @content, :url => send("#{@content_type}_shares_path", @content), :remote => true, :html => {:'data-type' => 'html', :method => :post, :novalidate => 'novalidate'} do |form| %>
      <div class="input_field placeholder">
        <%= hidden_field_tag :provider, :email %>
        <%= text_field_tag :email, "", :placeholder => "", :autocomplete => :off  %>
        <span class="holder">Escribe la dirección de email</span>
      </div>
      <span class="spinner" id="share_via_email"></span>
      <%= form.submit 'Enviar', :class => "share" %>
      <div class="arrow"></div>
    <% end -%>
  </div>
  </li>

  <% if current_user and current_user.connected_with_twitter? %>
    <li>
    <%= form_for @content, :url => send("#{@content_type}_shares_path", @content), :remote => true, :html => {:'data-type' => 'html', :method => :post} do |form| %>
      <%= hidden_field_tag :provider, :twitter %>
      <%= form.submit '', :class => 'share twitter' %>
    <% end -%>
    </li>
  <% end %>

  <% if defined?(facebook_url) -%>
    <li>
      <%= link_to '', '#', :name => 'fb_share', :class => 'share facebook', :type => 'icon', :share_url => facebook_url %>
      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
      </script>
    </li>
  <% end -%>
  <!--
  <li><div class="share more"></div>

  <div class="sharebox">
    <ul>
      <li><div class="share twitter"></div></li>
      <li><div class="share facebook"></div></li>
    </ul>
    <div class="arrow"></div>
  </div>
  </li>
  -->
</ul>
