<ul class="sharing">
  <li><div class="<%= class_for_modal_login %> <%= class_for_after_login %>share email" data-label="<%= t(".email") %>"></div>

  <div class="sharebox email">
    <%= form_for @content, :url => send("#{@content_type}_shares_path", @content), :remote => true, :html => {:'data-type' => 'html', :method => :post, :novalidate => 'novalidate'} do |form| %>
      <div class="input_field placeholder">
        <%= hidden_field_tag :provider, :email %>
        <%= hidden_field_tag :email_message, message_for_email(@content) %>
        <%= text_field_tag :email, "", :placeholder => "", :autocomplete => :off  %>
        <span class="holder"><%= t(".label") %></span>
      </div>
      <span class="spinner" id="share_via_email"></span>
      <%= link_to t(".send"), "#", :class => "submit share" %>
      <div class="arrow"></div>
    <% end -%>
  </div>
  </li>

  <li>
  <%= link_to '', "https://twitter.com/share?text=#{message_for_twitter(@content)}", :class => 'share twitter', :"data-label" => t(".twitter") %>
  </li>

  <li>
  <%= link_to '', '#', :name => 'fb_share', :class => 'share facebook', :type => 'icon', :share_url => polymorphic_url(@content), :"data-label" => t(".facebook") %>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
  </script>
  </li>

  <% if @content_type == 'event' %>
    <li>
    <%= link_to '', event_path(@content, :format => :ics), :class => 'share ical', :type => 'icon', :"data-label" => t(".ical")  %>
    </li>
  <% end %>
</ul>
