<h1><%= t('.access_irekia') %></h1>
<p><%= t('.forgotten_password') %> <%= link_to t('.get_it_here'), new_password_path('user') %></p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.check_box :remember_me %> <%= f.label :remember_me, t('.remember_me') %><%= f.submit t('.sign_in') %></p>
<% end %>