<div id="publish-popover" class="article user publish with_footer popover" data-t-continue="<%= t(".continue") %>" data-t-publish="<%= t(".publish") %>" data-t-continue="<%= t(".continue") %>" data-t-close="<%= t(".close") %>">
  <div class="inner clearfix">
    <header class="clearfix"><h2><%= t(".publish") %></h2></header>

    <div class="content">

      <p><%= t(".description") %></p>

      <%= menu ([
                { :link => (link_to t(".question"), "#"), :class => :selected},
                { :link => (link_to t(".proposal"), "#") }
      ]) %>

      <div class="container">
        <div class="inner_container clearfix">

          <!-- QUESTION -->
          <div class="section question">
            <div class="triangle"></div>
            <%= form_for @question, :remote => true, :html => {:'data-type' => 'html'} do |form| %>

              <div class="form clearfix">

                <%= form.fields_for :question_data, @question_data do |question_data| %>
                  <%= question_data.hidden_field :user_id %>
                  <%= question_data.hidden_field :area_id %>

                  <div class="input_field question_field placeholder textarea clearfix">
                    <div id="question-counter" class="input-counter">
                      <span class="counter">140</span>
                      <%= question_data.text_area :question_text %>
                      <span class="holder"><%= t(".section.question.label") %></span>
                    </div>
                  </div>


                  <div class="extra">

                    <strong><%= t(".section.question.explanation") %></strong>
                    <div class="input_field placeholder body_field textarea">
                      <%= question_data.text_area :body, :class => :body %>
                      <span class="holder"><%= t(".section.question.description") %></span>
                    </div>

                    <strong><%= t(".section.question.target") %></strong>
                    <div class="input_field autosuggest_field placeholder clearfix">
                      <div class="search_box clearfix">
                        <input type="text" class="search" />
                        <span class="holder"> <%= t(".section.question.target_name") %>
                          <span class="all">... <%= t(".section.question.or") %> <a href="#"><%= t(".section.question.see_all") %></a></span>
                        </span>
                        <span class="spinner" id="search_question_spinner"></span>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>

            </div>
          <% end -%>

          <!-- PROPOSAL -->
          <div class="section proposal">
            <div class="triangle"></div>
            <%= form_for @proposal, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
              <%= form.fields_for :proposal_data, @proposal_data do |proposal_data| %>
                <%= proposal_data.hidden_field :area_id %>

                <%= proposal_data.fields_for :image, @proposal_data.image do |image| %>
                  <%= image.hidden_field :proposal_data_id %>
                  <%= image.hidden_field :image_cache, :class => :image_cache_name %>
                <% end %>

                <div class="form clearfix">

                  <div class="input_field placeholder textarea proposal_field clearfix">
                    <div id="proposal-counter" class="input-counter">
                      <span class="counter">140</span>
                      <%= proposal_data.text_area :title, :class => :title %>
                      <span class="holder"><%= t(".section.proposal.label") %></span>
                    </div>
                  </div>

                  <div class="extra">
                    <div class="input_field image_placeholder uploader">
                      <span class="holder"><span class="upload" id="upload_proposal_image" data-url="<%= proposals_path %>"><%= t(".section.proposal.upload") %></span></span>
                      <span class="percentage">0%</span>
                      <span class="loading"><%= t(".section.proposal.loading_photo") %></span>
                      <div class="progress"></div>
                    </div>

                    <div class="image_container clearfix">
                      <p><%= t(".section.proposal.image_will_be_included") %></p>
                      <a href="#" class="remove"><%= t(".section.proposal.remove") %></a>
                    </div>

                    <strong><%= t(".section.proposal.explanation") %></strong>
                    <div class="input_field placeholder body_field textarea">
                      <%= proposal_data.text_area :body, :class => :body %>
                      <span class="holder"><%= t(".section.proposal.description") %></span>
                    </div>

                    <strong><%= t(".section.proposal.target") %></strong>
                    <div class="input_field autosuggest_field placeholder clearfix">
                      <div class="search_box clearfix">
                        <input type="text" class="search" />
                        <span class="holder">
                          <%= t(".section.proposal.target_name") %>
                          <span class="all">... <%= t(".section.proposal.or") %> <a href="#"><%= t(".section.proposal.see_all") %></a></span>
                        </span>
                        <span class="spinner" id="search_question_spinner"></span>
                      </div>
                    </div>

                  <% end -%>
                <% end -%>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <span class="close"></span>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="left"></div>
      <div class="right">
        <%= button t('.continue'), :class => "white_button pink publish right disabled" %>
        <span class="spinner" id="publish_spinner"></span>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
