<div id="publish-popover" class="article user publish with_footer popover initialy_hidden">
  <div class="inner clearfix">
    <div class="content">

      <h2><%= t(".publish") %></h2>
      <p>¡Elige el tipo de contenido, y compártelo con el resto de los usuarios!</p>

      <%= menu ([
                { :link => (link_to t(".question"), "#"), :class => :selected},
                { :link => (link_to t(".proposal"), "#") }
      ]) %>

      <div class="container">
        <div class="inner_container clearfix">

          <!-- QUESTION -->
          <div class="section question">
            <div class="triangle"></div>
            <%= form_for @question, :remote => true, :html => {:'data-type' => 'html'} do |form| %>

              <div class="form clearfix">

                <%= form.fields_for :question_data, @question_data do |question_data| %>
                  <%= question_data.hidden_field :user_id %>
                  <%= question_data.hidden_field :area_id %>

                  <div class="input_field placeholder textarea">
                    <div id="question-counter" class="input-counter">
                      <span class="counter">140</span>
                      <%= question_data.text_area :question_text %>
                      <span class="holder">Introduce el texto que quieras publicar aquí.</span>
                    </div>
                  </div>


                  <div class="extra">

                    <strong>¿Quieres explicar la pregunta con más detalle?</strong>
                    <div class="input_field placeholder textarea">
                      <%= question_data.text_area :body, :class => :body %>
                      <span class="holder">Describe la pregunta en pocas palabras</span>
                    </div>

                    <strong>¿A quién le quieres dirigir la pregunta?</strong>
                    <div class="input_field autosuggest_field placeholder">
                      <div class="search_box clearfix">
                        <input type="text" class="search" />
                        <span class="holder">
                          Nombre de persona o área...
                          <span class="all">... o <a href="#">ver todas las áreas</a></span>
                        </span>
                        <span class="spinner" id="search_question_spinner"></span>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>

            </div>
          <% end -%>

          <!-- PROPOSAL -->
          <div class="section proposal">
            <div class="triangle"></div>
            <%= form_for @proposal, :remote => true, :html => {:'data-type' => 'html'} do |form| %>
              <%= form.fields_for :proposal_data, @proposal_data do |proposal_data| %>
                <%= proposal_data.hidden_field :area_id %>

                <%= proposal_data.fields_for :image, @proposal_data.image do |image| %>
                  <%= image.hidden_field :proposal_data_id %>
                  <%= image.hidden_field :image_cache, :class => :image_cache_name %>
                <% end %>

                <div class="form clearfix">

                  <div class="input_field placeholder textarea clearfix">
                    <div id="proposal-counter" class="input-counter">
                      <span class="counter">140</span>
                      <%= proposal_data.text_area :title, :class => :title %>
                      <span class="holder">Introduce aquí el título de la propuesta que quieres realizar. Procura ser breve y conciso.</span>
                    </div>
                  </div>

                  <div class="extra">

                    <div class="input_field uploader">
                      <span class="holder"><span class="upload" id="upload_proposal_image" data-url="<%= proposals_path %>">Sube una imagen.</span></span>
                      <span class="percentage">0%</span>
                      <span class="loading">Cargando imagen...</span>
                      <div class="progress"></div>
                    </div>

                    <div class="image_container clearfix">
                      <p>Se incluirá esta imagen en la propuesta.</p>
                      <a href="#" class="remove">Eliminar</a>
                    </div>

                    <strong>¿Quieres explicar la propuesta con más detalle?</strong>
                    <div class="input_field placeholder textarea">
                      <%= proposal_data.text_area :body, :class => :body %>
                      <span class="holder">Describe la propuesta en pocas palabras</span>
                    </div>
                  </div>
                <% end -%>
              <% end -%>

              <div class="extra">

                <strong>¿A qué area le quieres dirigir la pregunta?</strong>
                <div class="input_field autosuggest_field placeholder">
                  <div class="search_box clearfix">
                    <input type="text" class="search" />
                    <span class="holder">
                      Nombre de área...
                      <span class="all">... o <a href="#">ver todas las áreas</a></span>
                    </span>
                    <span class="spinner" id="search_question_spinner"></span>
                  </div>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <span class="close"></span>
  </div>

  <footer>
  <div class="separator"></div>
  <div class="inner">
    <div class="left"></div>
    <div class="right">
      <%= button t('.continue'), :class => "white_button pink publish right disabled" %>
      <span class="spinner" id="publish_spinner"></span>
    </div>
  </div>
  </footer>
  <div class="t"></div><div class="f"></div>
</div>
