<!-- Welcome article -->
<article class="welcome">
<div class="inner">
  <div class="frame">
    <%= avatar @user %>
  </div>
  <div class="content">
    <h1>Hola de nuevo <%= @user.name %>,</h1>
    <p>Actualmente sigues a <%= link_to t('.politicians_following', :count => @user.users_following.politicians.count), '/in_development' %> y <%= link_to t('.areas_following', :count => @user.areas_following.count), '/in_development' %>.<%= link_to t('.configure_your_account'), '/in_development', :class => :config %></p>
  </div>
</div>

<div class="t"></div><div class="f"></div>
</article>
