<%= avatar data.author %>
<div class="content">
  <%= content_tag 'p', t(".title", :receiver => data.target_area.send("name_#{I18n.locale}")) if data.target_area %>
  <%= content_tag 'p', t(".title", :receiver => data.target_user.fullname) if data.target_user %>

  <% if data.target_user %>
    <p class="excerpt"><%= %Q{"#{data.question_text}"} %></p>
  <% else %>
    <p class="excerpt"><%= %Q{"#{data.question_text}"} %></p>
  <% end %>

  <%= render 'shared/lists_elements/not_moderated/footer', :data => data %>
</div>
