<%= avatar data.author %>
<div class="content">
  <%= content_tag 'p', t(".title.#{am_I?(data.author) ? 'you' : 'other'}", :name => data.author.name) %>
  <div class="photo_block">
    <%= image_tag(data.thumbnail_url) if data.thumbnail_url.present? %>
    <p class="excerpt inline"><%= data.title %></p>
  </div>

  <%= render 'footer', :data => data %>
</div>
