<ul>
  <% @areas.each_with_index do |area,i| %>
    <li class="clearfix<%= ' last'if ((i+1) % 3) == 0 %><%= ' first' if ((i+1) % 3) == 1 %><%= ' last-row' if (i + 3 >= @areas.count) %><%= ' small' if area.name and area.name.length > 50 %>">
    <div class="avatar">
      <%= avatar(area) %>
    </div>
    <div class="info">
      <h3><%= link_to area.name, area_path(area) %></h3>
      <span class="total">

        <% if area.questions_count > 0 && area.proposals_count > 0 -%>
          <%= link_to t('.questions', :count => area.questions_count), questions_area_path(area) %> y <%= link_to t('.proposals', :count => area.proposals_count), proposals_area_path(area) %>
        <% elsif area.questions_count > 0 -%>
          <%= link_to t('.questions', :count => area.questions_count), questions_area_path(area) %>
        <% elsif area.proposals_count > 0 -%>
          <%= link_to t('.proposals', :count => area.proposals_count), proposals_area_path(area) %>
        <% else -%>
          <%= t('.no_activity') %>
        <% end -%>
      </span>
    </div>
    </li>
  <% end %>
</ul>

