<ul>
  <% @areas.first(9).each_with_index do |area,i| %>
    <li class="<% if ((i+1) % 3) == 0 %>last<% end %>  <% if ((i+1) % 3) == 1 %>first<% end %>">
      <div class="avatar">
        <%= avatar(area) %>
      </div>
      <div class="info">
        <h3><a href="/areas/<%= area.id %>"><%= area.name %></a></h3>
        <span class="total">
          <%= link_to t('.questions', :count => area.questions_count), questions_area_path(area) %> y <%= link_to t('.proposals', :count => area.proposals_count), proposals_area_path(area) %>        </span>
      </div>
    </li>
  <% end %>
</ul>

<div class="all_areas">
  <h4>TODAS LAS AREAS</h4>
  <ul class="list">
    <% @areas.each_with_index do |area,i| %>
      <li class="<% if ((i+1) % 3) == 0 %>last<% end %>  <% if ((i+1) % 3) == 1 %>first<% end %>">
        <%= link_to area.name, area_path(area) %>
      </li>
    <% end %>
  </ul>
</div>
