
  <div class="article participation">
    <div class="wrap">
      <h1><%= t(".title") %></h1>
      <p><%= t(".description") %></p>
      <% if @current_user.blank? %>
        <div class="login_block">
          <p>
            <%= link_to t('.login'), '#', :class => 'floating-login' %>
            <%= t(".or") %>
            <%= link_to t('.register_now'), intro_users_path, :class => 'blue_button no_shadow' %>
          </p>
        </div>
      <% else %>
        <%= form_for :search, :url => search_path, :html => {:method => :get, :autocomplete => :off } do |search_form| %>
          <div class="input_field search placeholder">
            <%= search_form.text_field :query %>
            <%= search_form.submit t(".button"), :class => "blue_button no_shadow" %>
            <span class="holder"><%= raw t(".search") %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="areas" class="article areas">
    <div class="t"></div>
    <div class="areas_list clearfix">
      <%= render 'areas' %>
    </div>
    <div class="f"></div>
  </div>

  <div class="article stats">
    <div class="t"></div>
    <div class="inner">
      <ul>
        <li>
          <span class="left">
            <p><%= @all_citizens %></p>
            <label><%= t(".citizens") %></label>
          </span>
          <span class="right">
            <p><%= @all_politicians %></p>
            <label><%= t(".politicians") %></label>
          </span>
        </li>
        <li>
          <span class="left">
            <p><%= @all_questions %></p>
            <label><%= t(".questions") %></label>
          </span>
          <span class="right">
            <p><%= @all_questions_answered %></p>
            <label><%= t(".answered") %></label>
          </span>
        </li>
        <li class="last">
          <span class="left">
            <p><%= @all_proposals %></p>
            <label><%= t(".proposals") %></label>
          </span>
          <span class="right">
            <p><%= @all_votes %></p>
            <label><%= t(".votes") %></label>
          </span>
        </li>
      </ul>
    </div>
    <div class="f"></div>
  </div>

  <div class="home_last_activity">
    <%= render 'shared/actions' %>
  </div>

  <section class="banners">
    <ul>
      <li><a href="http://opendata.euskadi.net" class="open_data" target="_blank"><%= t(".banners.opendata") %></a></li>
      <li><a href="https://www2.irekia.euskadi.net/" class="guia_com" target="_blank"><%= t(".banners.guide") %></a></li>
      <li><a href="http://www.gardena.irekia.euskadi.net/y09-home/es" class="opacity" target="_blank"><%= t(".banners.transparency") %></a></li>
      <li><a href="http://irekia.org/" class="press" target="_blank"><%= t(".banners.press") %></a></li>
      <li class="last"><a href="<%= agenda_path %>" class="agenda"><%= t(".banners.agenda") %></a></li>
    </ul>
  </section>

