
  <div class="article participation">
    <div class="wrap">
      <h1>Participa en tu gobierno.</h1>
      <p>Irekia es la plataforma que te permite hacer oir tu voz en la toma de decisiones de Euskadi. Haz tus propuestas, reclama respuestas, contribuye y opina.</p>
      <div class="login_block">
        <p><a href="#" class="floating-login">Accede a tu cuenta</a> o <a href="/users/intro" class="blue_button no_shadow">Regístrate ya</a></p>
      </div>
      <%= form_for :search, :url => search_path, :html => {:method => :get, :autocomplete => :off } do |search_form| %>
        <div class="input_field search placeholder">
          <%= search_form.text_field :query %>
          <%= search_form.submit t(".button"), :class => "blue_button no_shadow" %>
          <span class="holder"><%= raw t(".search") %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div id="areas" class="article areas with_footer">
    <div class="t"></div>
    <div class="areas_list">
      <%= render 'areas' %>
    </div>
    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner with_spinner">
        <a class="see_all_areas middle" href="#see_all_areas">ver todas las áreas</a>
      </div>
    </div>
    <div class="f"></div>
  </div>

  <div class="home_last_activity">
    <%= render 'shared/actions' %>
  </div>

  <section class="banners">
    <ul>
      <li><a href="http://opendata.euskadi.net" class="open_data" target="_blank">Open data euskadi</a></li>
      <li><a href="https://www2.irekia.euskadi.net/" class="guia_com" target="_blank">Guía de comunicación abierta</a></li>
      <li><a href="http://www.gardena.irekia.euskadi.net/y09-home/es" class="opacity" target="_blank">Transparencia</a></li>
      <li><a href="#open_data!" class="press" target="_blank">Prensa :)</a></li>
      <li class="last"><a href="http://opendata.euskadi.net" class="open_data" target="_blank">Open data euskadi</a></li>
    </ul>
  </section>

