<% content_for :facebook_meta do -%>
  <meta property="og:title" content="Irekia - <%= @content.title %>" />
  <meta property="og:description" content="<%= @content.body.strip.truncate(128) %>" />
  <meta property="og:image" content="<%#= image_url @content.proposal_data.image.content_url %>" />
<% end -%>
<div class="article proposal with_footer">
  <%= link_to '', edit_proposal_path(@content), :class => 'editable' if current_user && current_user.administrator? %>
<div class="inner">
  <div class="left">

    <div class="context">
      <h3><%= link_to t(@content.content_type), proposals_area_path(@content.target_area, :anchor => :proposals) %></h3>

      <% if @content.target_area %>
        <span class="middot">&middot;</span> <%= t(".addressed_to") %> <%= link_to @content.target_area.name, @content.target_area %>
        <% elsif @content.target_user %>
        <span class="middot">&middot;</span> <%= t(".addressed_to") %> <%= link_to @content.target_user.fullname, @content.target_user %>
      <% end %>
    </div>

    <h1><%= @content.title %></h1>

    <div class="meta">
      <%= link_to @content.author.try(:fullname), path_for_user(@content.author)  %>
      <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
      &middot;
      <span class="comments"><%= link_to @comments_count, "#", :class => :goto_comments %></span>
    </div>

    <%  if (@content.percent_in_favor == 50 || @content.participation==0)
          @class = ''
        else
          if (@content.percent_in_favor > 50)
            @class = 'in_favor'
          else
            @class = 'against'
          end
        end
    %>

    <div class="my_opinion <%= @class %>">
      <div class="result">
        <% if @content.participation==0 || @content.percent_in_favor==50 %>
          <%= content_tag :span, t(".in_favor", :percentage => @content.percent_in_favor, :count => @content.participation) %>
        <% else %>
          <% if @content.percent_in_favor > 50 %>
            <%= content_tag :span, t(".in_favor", :percentage => @content.percent_in_favor, :count => @content.participation), :class => :in_favor %>
          <% else %>
            <%= content_tag :span, t(".against", :percentage => @content.percent_against, :count => @content.participation), :class => :against %>
          <% end %>
        <% end %>
      </div>

        <%= form_for @vote, :remote => true, :html => {:class => :last } do |form| %>
          <%= form.hidden_field :id %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :vote_data do |vote_data_form| %>
              <%= vote_data_form.hidden_field :id, :value => '' %>
              <%= vote_data_form.hidden_field :in_favor, :value => true %>
            <% end -%>
            <%= button_with_login 'Estoy a favor', :class => "white_button in_favor#{' selected' unless @vote.new_record? || @vote.against }" %>
          </div>
        <% end -%>

        <%= form_for @vote, :remote => true do |form| %>
          <%= form.hidden_field :id %>
          <%= form.hidden_field :content_id %>
          <%= form.hidden_field :user_id %>
          <div class="input_text">
            <%= form.fields_for :vote_data do |vote_data_form| %>
              <%= vote_data_form.hidden_field :id, :value => '' %>
              <%= vote_data_form.hidden_field :in_favor, :value => false %>
            <% end -%>
            <%= button_with_login 'Estoy en contra', :class => "white_button against#{' selected' unless @vote.new_record? || @vote.in_favor }" %>
          </div>
        <% end -%>
    </div>

    <% if @content.has_image? %>
      <div class="mamufas">
        <%= image_tag @content.proposal_data.image.content_url %>
      </div>
    <% end %>
    <%= simple_format @content.body %>
    <%#= render "arguments" %>
    <%#= render "participations/comments" %>
  </div>
  <div class="right">
    <div class="content left-border">

      <%#= render "shared/sharing" %>
      <%#= render "shared/sidebar/tags" %>
      <%#= render "shared/sidebar/related_proposals" %>

    </div>
  </div>
</div>

<div class="bfooter">
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.see_all_proposals'), proposals_area_path(@content.target_area, :anchor => :proposals), :class => :left_arrow %>
  </div>
</div>
</div>
<div class="t"></div><div class="f"></div>
</div>
