  <% if !@answer and can_i_answer_the_question? -%>
    <%= form_for @new_answer, :remote => true, :html => {:class => :publish_question} do |form| %>
      <%= form.hidden_field :related_content_id %>

      <%= hidden_field_tag :share_in_twitter, '1' %>
      <%= hidden_field_tag :share_in_facebook, '1' %>

        <header>
        <%= link_to t(".cancel"), root_path, :class => :white_button %>
        <h2><%= t(".question") %></h2>
        <%= form.submit t(".publish_answer"), :class => 'white_button right publish hidden' %>

        <div class="title">
        <h1><%= @content.question_text %></h1>
        <div class="footer when"><%= link_to @content.author.try(:fullname), path_for_user(@content.author) %> <%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %></div>
        <div class="shadow"></div>
        <div class="uq"></div><div class="bq"></div>
        </div>
        </header>

      <%= form.fields_for :answer_data, @new_answer.answer_data do |answer_data| -%>
        <div class="paper">
        <div class="placeholder"><%= t(".answer_this_question") %></div>
        <%= answer_data.text_area :answer_text, :class => :toggle_header %>
        </div>
      <% end -%>

    <div class="spinner"><%= image_tag "datalogger/spinner.gif" %></div>
    <% end -%>
    <% else if @answer %>

      <% content_for :header do %>
        <header class="clearfix">
        <%= link_to t(".back"), root_path(:datalogger => true), :class => :white_button %>
        <h2><%= t(".question") %></h2>
        <div class="title">
        <h1><%= @content.question_text %></h1>
        <div class="footer when"><%= link_to @content.author.try(:fullname), path_for_user(@content.author) %> <%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %></div>
        <div class="uq"></div><div class="bq"></div>
        <div class="shadow"></div>
        </div>
        </header>
      <% end %>

      <div class="answer paper broken">
      <%= simple_format @answer.answer_text %>
        <div class="footer when"><%= t('.question_content.author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.answered_at)) %></div>
      </div>

      <%= render "participations/comments" %>

    <% end %>
  <% end %>

