<!-- Article -->
<article class="summary">
<div class="inner">
  <div class="content">
    <header>
    <h1><%= @area.name %></h1>
    </header>
    <div class="left">
      <h3><%= t('.description.title') %></h3>

      <div class="description two_columns">
        <%= simple_format(@area.description) %>
      </div>

        <div id="follow">
          <% if @follow.new_record? -%>
            <%= render 'follows/create_form' %>
          <% else -%>
            <%= render 'follows/destroy_form' %>
          <% end -%>
        </div>
    </div>
    <div class="right">
      <ul class="people">

        <% @team.first(2).each do |user| %>
          <li>
          <%= avatar(user, :small) %>
          <%#= link_to (content_tag 'div', image_tag(user.profile_image), :class => "avatar small"), politician_path(user) if user.profile_image %>
          <%= link_to user.fullname, politician_path(user), :class => :name %>
          <span><%= get_politician_title(user) %></span>
          </li>
        <% end %>

        <% if @team.to_a.from(2).present? %>
          <li class="more">
          <%= link_to (content_tag 'div', (image_tag 'icons/more_people_avatar.png'), :class => "avatar small"), '/in_development' %>
          <%= link_to t('.team.other_members', :count => @team.to_a.from(2).length), team_area_path(@area), :class => :name %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<%= link_to "", '/in_development', {:class => :ribbon} %>
<div class="t"></div><div class="f"></div>
</article>
<!-- /Article -->



<!--
<article>
<div id="area_summary">
  <div class="team">
    <h3><%= t('.team.title') %></h3>
    <ul>
    </ul>
  </div>

  <div class="status">
    <ul>
      <li class="area">
      <span><%= t('.status.area.actions_this_week', :count => @actions.this_week.count) %></span>
      <%= link_to t('.status.area.follow_this_area') %>
      </li>
      <li class="questions">
      <span><%= t('.status.questions.answered', :count => @area.questions.answered.count) %></span>
      <%= link_to t('.status.questions.make_a_question') %>
      </li>
      <li class="proposals">
      <span><%= t('.status.proposals.open', :count => @area.proposals.open.count) %></span>
      <%= link_to t('.status.proposals.make_a_proposal') %>
      </li>
    </ul>
  </div>
</div>
</article>
-->
