<article class="team with_footer">
<div class="inner">
  <header>
  <h2><%= t('.title', :count => @team.count) %></h2>
  </header>
  <div class="content">

    <ul class="suggestions">
      <% @team.each do |user| %>
        <li class="<%= 'selected' unless @team_follows[user.id] && @team_follows[user.id].new_record? %>">
        <%= avatar user %>
        <div class="content">
          <%= link_to user.fullname, politicians_path(user), :title => user.fullname, :class => :name %>
          <p class="title"><%= get_politician_title(user) %></p>
          <% if @team_follows[user.id] && @team_follows[user.id].new_record? -%>
            <p><%= render 'follows/create_form', :follow => @team_follows[user.id], :follow_parent => user, :button_class => '', :button_label => t('.follow') %></p>
          <% else -%>
            <p><%= render 'follows/destroy_form', :follow => @team_follows[user.id], :follow_parent => user, :button_class => '' %></p>
          <% end -%>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
