<div class="autosuggest">
  <div class="popover">
    <div class="scroll-pane">
      <ul>
        <% if @all_areas.present? %>
          <% @all_areas.each do |area| %>
            <li id="item_<%= area.id %>" class="area clearfix<%= ' last' if @all_areas.last == area %>">
            <%= avatar area, 'small' %>
            <p>
            <span class="name"><%= area.name %></span>
            <span class="description"><%= t('.area_description') %></span>
            </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
