<div id="area_summary">
  <h1><%= @area.name %></h1>
  <%= link_to '', '#', :class => 'add_to_favorites' %>
  <div class="description">
    <h3><%= t('.description.title') %></h3>
    <%= simple_format(@area.description) %>
  </div>
  <div class="team">
    <h3><%= t('.team.title') %></h3>
    <ul>
      <% @team.slice!(0, 2).each do |user| %>
        <li>
          <%= link_to "#{user.name} #{user.lastname}", '#' %>
          <span><%= user.title.name %></span>
        </li>
      <% end %>
      <% if @team.present? %>
        <li><%= t('.team.other_members', :count => @team.length) %></li>
      <% end %>
    </ul>
  </div>
  <div class="status">
    <ul>
      <li class="area">
        <span><%= t('.status.area.actions_this_week', :count => @area.actions.this_week.count) %></span>
        <%= link_to t('.status.area.follow_this_area') %>
      </li>
    </ul>
  </div>
</div>
