<article class="thin">
<div class="inner">
  <div class="content">
    <a href="#" class="white_button"><span>Hola</span></a>
    <br />
    <br />
    <br />
    <br />

    <div class="boton">
      <button class="btn white_button" data-complete-text="finished!"><span>Prueba</span></button>
    </div>

  </div>
</div>
<div class="t"></div><div class="f"></div>
</article>



<%= render 'summary' %>
<%= render 'navigation_menu' %>

<%= render 'shared/actions', :data => @area %>
<%= render 'shared/questions' %>
<%= render 'shared/proposals' %>
<%= render 'shared/agenda', :more => true, :title => t('.agenda.title') %>
