<div id="area_summary">
  <h1><%= @area.name %></h1>
  <%= link_to '', '#', :class => 'add_to_favorites' %>
  <div class="description">
    <h3><%= t('.description.title') %></h3>
    <%= simple_format(@area.description) %>
  </div>
  <div class="team">
    <h3><%= t('.team.title') %></h3>
    <ul>
      <% @team.slice!(0, 2).each do |user| %>
        <li>
          <%= link_to "#{user.name} #{user.lastname}", '#' %>
          <span><%= user.title.name if user.title %></span>
        </li>
      <% end %>
      <% if @team.present? %>
        <li><%= t('.team.other_members', :count => @team.length) %></li>
      <% end %>
    </ul>
  </div>
  <div class="status">
    <ul>
      <li class="area">
        <span><%= t('.status.area.actions_this_week', :count => @area.actions.this_week.count) %></span>
        <%= link_to t('.status.area.follow_this_area') %>
      </li>
      <li class="questions">
        <span><%= t('.status.questions.answered', :count => @area.questions.answered.count) %></span>
        <%= link_to t('.status.questions.make_a_question') %>
      </li>
      <li class="proposals">
        <span><%= t('.status.proposals.open', :count => @area.proposals.open.count) %></span>
        <%= link_to t('.status.proposals.make_a_proposal') %>
      </li>
    </ul>
  </div>
</div>
<div id="last_actions">
  <h2><%= t('.last_actions.title') %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.last_actions.main_filters.more_recent'), '#', :id => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.last_actions.main_filters.more_polemic'), '#', :id => 'more_polemic' %>
    </li>
  </ul>
  <ul>
    <% @area.actions.first(4).each do |action| %>
      <li class="action">
        <%= render_action action %>
      </li>
    <% end %>
  </ul>
  <ul class="content_type_filters">
    <li><%= link_to t('.last_actions.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.news'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.politics_activity'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.questions'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.proposals'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.images'), '#' %></li>
    <li><%= link_to t('.last_actions.content_type_filters.videos'), '#' %></li>
  </ul>
</div>
<div id="questions">
  <h2><%= t('.questions.title') %></h2>
  <ul class="main_filters">
    <li>
      <%= link_to t('.questions.main_filters.more_recent'), '#', :id => 'more_recent' %>
    </li>
    <li>
      <%= link_to t('.questions.main_filters.more_polemic'), '#', :id => 'more_polemic' %>
    </li>
  </ul>
  <ul>
    <% @area.questions.first(4).each do |question| %>
      <li class="action">
        <%= render_question question %>
      </li>
    <% end %>
  </ul>
  <ul class="content_type_filters">
    <li><%= link_to t('.questions.content_type_filters.all'), '#' %></li>
    <li><%= link_to t('.questions.content_type_filters.answered'), '#' %></li>
  </ul>
</div>