<div class="image_editor">
  <!-- image container -->
  <div class="image_container">
    <%= image_tag @image.content_url if @image.present? && @image.content_url.present? %>

    <!-- remove -->
    <%= form_for @image, :remote => true, :html => {:'data-type' => 'html', :method => :delete, :class => 'remove'} do |form| %>
      <%= submit_tag '', :class => :remove %>
      <% end if @image.present? && @image.persisted? -%>
      <!-- remove -->
    </div>
    <!-- image container -->

    <div class="add_image"<%= " style='display:none'" unless @image.present? && @image.new_record? %>>
      <%= link_to t(".add_photo"), "#" %>
    </div>

    <div class="input_field uploader placeholder" style="display:none">
      <input type="text" disabled="disabled" />
      <%= form_for Image.new, :remote => true, :html => {:'data-type' => 'html', :class => 'editable image'} do |form| %>
        <span class="holder"><span class="upload" id="upload_new_image" data-url="<%= news_index_path %>"><%= t(".upload_a_new_one") %></span></span>
        <%= form.hidden_field :news_data_id, :value => @image.news_data_id if @image %>
        <%= form.hidden_field :proposal_data_id, :value => @image.proposal_data_id if @image %>
        <%= form.hidden_field :event_data_id, :value => @image.event_data_id if @image %>
        <%= form.hidden_field :image_cache, :class => :image_cache_name %>
      <% end -%>
      <span class="percentage">0%</span>
      <span class="loading"><%= t(".loading") %></span>
      <div class="progress"></div>
    </div>

    <!-- Caption -->
    <% caption = (@image.present? and !@image.description.blank?) ? @image.description : t(".add_caption") %>

    <%= form_for @image, :remote => true, :html => {:'data-type' => 'html', :class => 'caption editable text', :'data-t-empty' => t(".add_caption")} do |form| %>
      <%= content_tag :p, caption, :class => :content %>
      <%= form.hidden_field :news_data_id, :value => @image.news_data_id if @image %>
      <%= form.hidden_field :proposal_data_id, :value => @image.proposal_data_id if @image %>
      <%= form.hidden_field :event_data_id, :value => @image.event_data_id if @image %>
      <%= form.hidden_field :image_cache, :class => :image_cache_name %>
      <div class="input_field textarea"><%= form.text_area :description, :value => @image.description %></div>
      <%= button t(".save"), :class => "submit white_button" %>
      <% end if @image.present? && @image.persisted? -%>

    </div>
