<div class="image_container">
  <%= image_tag @content.news_data.image.content_url if @content.news_data.image.present? %>

  <!-- remove -->
  <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'remove', :style => "#{'display:none' unless @content.news_data.image.present?} "} do |form| %>
    <%= form.fields_for :news_data do |news_data| %>
      <%= news_data.fields_for :image do |image| %>
        <%= image.hidden_field :_destroy, :value => true %>
      <% end -%>
        <%= submit_tag '', :class => :remove %>
    <% end -%>
  <% end -%>
  <!-- remove -->
</div>
