<div class="article activity editable with_footer">
  <%= link_to '', news_path(@content), :class => 'editable' if current_user && current_user.administrator? %>
  <div class="inner">
    <div class="left">

      <div class="context">
        <h3><%= t(@content.content_type) %></h3>
        <span class="middot">&middot;</span>
        <ul class="editable tags">
          <% @content.areas_contents.each do |ac| %>
            <li data-id="<%= ac.area_id %>"<%=" class='editable'" if @editable %>>
            <%= link_to ac.area.name, area_path(ac.area) %>

            <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :remove} do |form| %>
              <%= form.fields_for :areas_contents, ac do |areas_contents| %>
                <%= areas_contents.hidden_field :_destroy, :value => true %>
              <% end -%>
              <%= form.submit 'x', :class => 'remove' %>
            <% end -%>

            </li>
          <% end %>

          <% if @editable %>
            <li class="add add_area"><%= link_to "+", "#", :class => :content %></li>
          <% end %>
        </ul>
        <%= render "shared/areas_edit" %>
      </div>

      <!-- Title -->
      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable text'} do |form| %>
        <%= content_tag :h1, @content.title, :class => :content %>
        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea"><%= news_data.text_area :title, :value => @content.title %></div>
        <% end -%>
        <%= button "Guardar", :class => "submit white_button" %>
      <% end -%>
      <!-- /Title -->

      <!-- Subtitle -->
      <% subtitle = @content.subtitle %>
      <% subtitle = "Añadir subtítulo" if @content.subtitle.blank? %>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable text'} do |form| %>
        <%= content_tag :p, (content_tag :strong, subtitle), :class => "subtitle content" %>

        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea">
            <%= news_data.text_area :subtitle, :value => @content.subtitle %>
          </div>
        <% end -%>
        <%= button "Guardar", :class => "submit white_button" %>
      <% end -%>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable date'} do |form| %>
        <div class="meta">
          <span class="date content"><%= l @content.published_at.to_date, :format => :long %></span>
          <%= form.date_select :published_at, :value => @content.published_at.to_date, :format => :long  %>
          <%= button "Guardar", :class => "submit white_button" %>
        </div>
      <% end -%>
      <!-- /Subtitle -->

      <!-- image -->
      <div class="image_editor">

        <%= render :partial => 'contents/edit/image' %>

        <div class="add_image"<%= " style='display:none'" if @content.news_data.image.present? %>>
          <a href="#">Añadir foto</a>
        </div>

        <div class="input_field uploader placeholder" style="display:none">
          <input type="text" disabled="disabled" />
          <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable image'} do |form| %>
            <%= hidden_field_tag :partial, 'image' %>
            <span class="holder"><span class="upload" id="upload_new_image" data-url="<%= news_index_path %>">Sube una nueva</span></span>
            <%= form.fields_for :news_data do |news_data| %>
              <%= news_data.fields_for :image, (@content.news_data.image || @content.news_data.build_image) do |image|%>
                <%#= image.hidden_field :remote_image_url %>
                <%= image.hidden_field :image_cache, :class => :image_cache_name %>
                <%#= image.text_area :description %>
              <% end -%>
            <% end -%>
          <% end -%>
          <span class="percentage">0%</span>
          <span class="loading">Cargando imagen...</span>
          <div class="progress"></div>
        </div>


      </div>
      <!-- /Image -->

      <!-- Body -->
      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable text'} do |form| %>
        <%= content_tag :div, (sanitize @content.body.try(:strip), :tags => %w(p strong), :attributes => nil), :class => :content  %>

        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea">
            <%= news_data.text_area :body, :value => @content.body %>
          </div>
        <% end -%>

        <%= button "Guardar", :class => "submit white_button" %>
      <% end -%>
      <!-- /Body -->
    </div>

    <div class="right">
      <div class="content left-border">

        <%= render "shared/sidebar/tags" %>
        <%= render "shared/sidebar/politicians" %>
        <%= render "shared/sidebar/location" %>
        <%= render "shared/sidebar/related_content" %>

      </div>
    </div>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">

      <div class="left">
        <%= link_to t(".back"), "javascript: history.go(-1)", :class => :left_arrow %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<%= render "shared/event_edit" %>
