<% content_for :facebook_meta do -%>
  <meta property="og:title" content="Irekia - <%= @content.title %>" />
  <meta property="og:description" content="<%= @content.body.strip.truncate(128) %>" />
  <meta property="og:image" content="<%= image_url @content.news_data.image.content_url if @content.news_data.image.present? %>" />
<% end -%>

<article class="activity with_footer">
<div class="inner">
  <div class="left">

      <div class="context">
        <h3><%= t(@content.content_type) %></h3>
        <% if !@content.areas.blank? %>
          <!--<span class="middot">&middot;</span>-->
          <ul class="tags editable">
            <% @content.areas.each do |a| %>
              <li<%=" class='editable'" if @editable %>>
              <%= link_to a.name, area_path(a) %>

              <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :remove} do |form| %>
                <%= form.submit 'x', :class => 'remove' %>
              <% end -%>

              </li>
            <% end %>

            <% if @editable %>
              <li class="add"><%= link_to "+", "#", :class => :content %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable'} do |form| %>
        <%= content_tag :h1, @content.title, :class => :content %>
        <div class="input_field textarea">
          <%= form.text_area :title %>
        </div>
        <%= button "Publicar", :class => "submit white_button" %>
      <% end -%>

      <% unless @content.subtitle.blank? %>
        <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable'} do |form| %>
          <%= content_tag :p, (content_tag :strong, @content.subtitle), :class => "subtitle content" if @content.subtitle %>
          <%= form.text_area :subtitle %>
        <% end -%>
      <% end %>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable'} do |form| %>
        <div class="meta">
          <span class="date content"><%= l @content.published_at.to_date, :format => :long %></span>
          <%= form.date_select :published_at %>
        </div>
      <% end -%>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable'} do |form| %>
        <%= image_tag @content.news_data.image.content_url if @content.news_data.image.present? %>
        <% form.fields_for :news_data do |news_data| %>
          <%= news_data.file_field :image, :class => :content %>
        <% end -%>
      <% end -%>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :editable} do |form| %>
        <%= content_tag :div, (sanitize @content.body.try(:strip), :tags => %w(p strong), :attributes => nil), :class => :content  %>
        <div class="input_field textarea">
          <%= form.text_area :body %>
        </div>
        <%= button "Publicar", :class => "submit white_button" %>
      <% end -%>

    <%= render "participations/comments" %>

  </div>
  <div class="right">
    <div class="content left-border">

      <%= sharing_partial(news_url(@content), @content.title) %>
      <%= render "shared/sidebar/tags" %>
      <%= render "shared/sidebar/politicians" %>
      <%= render "shared/sidebar/related_content" %>

    </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <%= link_to t(".back"), "/in_development", :class => :left_arrow %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
