<div class="article activity editable with_footer">
  <%= link_to '', news_path(@content), :class => 'editable' if current_user && current_user.administrator? %>
  <div class="inner">
    <div class="left">

      <div class="context">
        <h3><%= t(@content.content_type) %></h3>
        <span class="middot">&middot;</span>
        <ul class="editable tags">
          <% @content.areas_contents.each do |ac| %>
            <li data-id="<%= ac.area_id %>"<%=" class='editable'" if @editable %>>
            <%= link_to ac.area.name, area_path(ac.area) %>

            <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :remove} do |form| %>
              <%= form.fields_for :areas_contents, ac do |areas_contents| %>
                <%= areas_contents.hidden_field :_destroy, :value => true %>
              <% end -%>
              <%= form.submit 'x', :class => 'remove' %>
            <% end -%>

            </li>
          <% end %>

          <% if @editable %>
            <li class="add add_area"><%= link_to "+", "#", :class => :content %></li>
          <% end %>
        </ul>
        <%= render "shared/areas_edit" %>
      </div>

      <!-- Title -->
      <% title = @content.title %>
      <% title = t(".add_title") if @content.title.blank? %>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable title text', :'data-t-empty' => t(".add_title")} do |form| %>
        <%= content_tag :h1, title, :class => :content %>
        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea"><%= news_data.text_area :title, :value => @content.title %></div>
        <% end -%>
        <%= button t(".save"), :class => "submit white_button" %>
      <% end -%>
      <!-- /Title -->

      <!-- Subtitle -->
      <% subtitle = @content.subtitle %>
      <% subtitle = t(".add_subtitle") if @content.subtitle.blank? %>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable text', :'data-t-empty' => t(".add_subtitle")} do |form| %>
        <%= content_tag :div, subtitle, :class => "subtitle content" %>

        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea">
            <%= news_data.text_area :subtitle, :value => @content.subtitle %>
          </div>
        <% end -%>
        <%= button t(".save"), :class => "submit white_button" %>
      <% end -%>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable date'} do |form| %>
        <span class="date content"><%= l @content.published_at.to_date, :format => :long %></span>
        <%= form.date_select :published_at, :value => @content.published_at.to_date, :format => :long  %>
        <%= button t(".save"), :class => "submit white_button" %>
      <% end -%>
      <!-- /Subtitle -->

      <!-- Image -->
      <%= render :partial => 'contents/edit/image' %>
      <!-- /Image -->

      <!-- Body -->
      <% body = @content.body.try(:strip) %>
      <% body = t(".add_body") if @content.body.try(:strip).blank? %>

      <%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => 'editable text', :'data-t-empty' => t(".add_body")} do |form| %>
        <%= content_tag :div, (sanitize body, :tags => %w(p strong), :attributes => nil), :class => :content  %>

        <%= form.fields_for :news_data do |news_data| %>
          <div class="input_field textarea">
            <%= news_data.text_area :body, :value => @content.body %>
          </div>
        <% end -%>

        <%= button t(".save"), :class => "submit white_button" %>
      <% end -%>
      <!-- /Body -->
    </div>

    <div class="right">
      <div class="content left-border">

        <%= render "shared/sidebar/tags" %>
        <%= render "shared/sidebar/politicians" %>
        <%= render "shared/sidebar/location" %>
        <%= render "shared/sidebar/related_content" %>

      </div>
    </div>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">

      <div class="left">
        <%= link_to t(".back"), news_path(@content), :class => :left_arrow %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>

<%= render "shared/event_edit" %>
