<div class="article proposal with_footer editable">
  <%= link_to '', proposal_path(@content), :class => 'editable' if current_user && current_user.administrator? %>
  <div class="inner">
    <div class="left">

      <div class="context">
        <h3><%= t(@content.content_type) %></h3>

        <%= form_for @content, :remote => true, :html => {:'data-search' => 'areas', :'data-addressed-to' => "#{t(".addressed_to")}", :'data-type' => 'html', :class => 'editable target'} do |form| %>
          <%= form.fields_for :proposal_data do |proposal_data| %>
            <%= proposal_data.hidden_field :area_id, :value => "", :id => "editable_target_area_id" %>
          <% end -%>

          <div class="content">
            <% if @content.target_area -%>
              <span class="target"><%= t(".addressed_to") -%> <%= @content.target_area.name -%></span>
            <% else -%>
              <span class="target">Dirige la pregunta</span>
            <% end -%>
          </div>

          <div class="add_target" >
            <div class="input_field placeholder">
              <input type="text" />
              <span class="holder"><%= t(".insert_the_new_target") %></span>
            </div>
            <span class="spinner" id="target_spinner"></span>
          </div>
        <% end %>

      </div>

      <h1><%= @content.title %></h1>

      <div class="meta">
        <%= link_to @content.author.try(:fullname), path_for_user(@content.author)  %>
        <%= t('.title_author_and_comments.time', :time => distance_of_time_in_words_to_now(@content.published_at)) %>
        &middot;
        <span class="comments"><%= link_to @comments_count, "#", :class => :goto_comments %></span>
      </div>

      <%= image_tag @content.proposal_data.image.content_url if @content.has_image? %>
      <%= simple_format @content.body %>

    </div>
    <div class="right">
      <div class="content left-border">

        <%= render "shared/sidebar/tags" %>
        <%= render "shared/sidebar/related_proposals" %>

      </div>
    </div>
  </div>

  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
      <div class="left">
        <%= link_to t('.back'), proposal_path(@content), :class => :left_arrow %>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
