<%
  politician_tag = @content.contents_users.last
  politician     = politician_tag.user
-%>
<li class='editable'>
<div class="bottom">
	<%= avatar politician, 'small' %>
	<%= link_to politician.truncated_fullname(25), path_for_user(politician), :class => :name %>
	<span class="position"><%= get_politician_title(politician) %></span>

	<%= form_for @content, :remote => true, :html => {:'data-type' => 'html', :class => :remove} do |form| %>
	  <%= hidden_field_tag :partial, 'tagged_politician' %>
	  <%= form.fields_for :contents_users, politician_tag do |content_user_fields| %>
	    <%= content_user_fields.hidden_field :_destroy, :value => true %>
	  <% end -%>
	  <%= form.submit 'x', :class => 'remove' %>
	<% end -%>
</div>
</li>
