<% if @areas_found_count > 0  %>
  <div id="areas" class="article results with_footer">
    <div class="inner">
      <header class="clearfix">
      <h2><%= t('.results.title', :count => @areas_found_count) %></h2>
      </header>
      <div class="content">
        <ul class="suggestions">
          <% @areas_found.each do |area| %>
            <li class="<%= 'selected' unless @areas_follows[area.id] && @areas_follows[area.id].new_record? %>">
            <%= avatar(area) %>
            <div class="content">
              <%= link_to area.name, area_path(area), :class => :name %>
              <div class="follow basic">
                <% if @areas_follows[area.id] && @areas_follows[area.id].new_record? -%>
                  <%= render 'follows/create_mini', :follow => @areas_follows[area.id], :follow_parent => area, :button_class => '', :button_label => t('.follow') %>
                <% else -%>
                  <%= render 'follows/destroy_mini', :follow => @areas_follows[area.id], :follow_parent => area, :button_class => '' %>
                <% end -%>
              </div>
            </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="bfooter">
      <div class="separator"></div>
      <div class="inner">
        <div class="left">
          <% if action_name == 'show' %>
            <% if @areas_found_count > 9 %>
              <%= link_to t('.results.all', :count => @areas_found_count), areas_search_path(search_params(:page => @page)), :class => :right_arrow %>
            <% end %>
          <% else %>
            <% if @areas_found_count > 9 %>
              <%= link_to t('.results.more'), areas_search_path(search_params(:page => @page)), :class => :right_arrow %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="t"></div><div class="f"></div>
  </div>
<% end %>
