<% if @areas_found.count > 0  %>
  <div class="article results with_footer">
  <div class="inner">
    <header>
    <h2><%= t('.results.title', :count => @areas_found.count) %></h2>
    </header>
    <div class="content">
      <ul class="suggestions">
        <% @areas_found.each do |area| %>
          <li>
            <%= avatar(area) %>
          <div class="content">
            <%= link_to area.name, area_path(area), :class => :name %>
            <%= link_to t('.results.follow'), '/in_development' %>
          </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <footer>
  <div class="separator"></div>
  <div class="inner">
    <div class="left">
      <% if action_name == 'show' %>
        <% if @areas_found.count > 10 %>
          <%= link_to t('.results.all', :count => @areas_found.count), '/in_development', :class => :right_arrow %>
        <% end %>
      <% else %>
        <% if @areas_found.count > 10 %>
          <%= link_to t('.results.more'), '/in_development', :class => :right_arrow %>
        <% end %>
      <% end %>
    </div>
  </div>
  </footer>
  <div class="t"></div><div class="f"></div>
  </div>
<% end %>
