<article class="<%= "activity " if @contents_count > 0 %>results with_footer with_filters">
<div class="inner">
  <header>
  <div class="left">
    <h2><%= t('.results.title', :count => @contents_count) %></h2>
  </div>
  <div class="right">

    <% if @contents_count > 0 %>
      <ul class="switch">
        <li class="selected"><%= link_to t('.results.main_filters.more_recent'), search_path(search_params.merge(:more_recent => true)), :class => 'filter selected' %></li>
        <li><%= link_to t('.results.main_filters.more_polemic'), search_path(search_params.merge(:more_polemic => true)), :class => 'filter' %></li>
      </ul>
    <% end %>

  </div>
  </header>
  <div class="left">
    <% if @contents_count > 0 %>
      <div id="listing">
        <%= render 'contents_list' %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <% if @contents_count > 0 %>
      <ul class="selector no-margin">
        <li><%= link_to t('.results.content_type_filters.all'), search_path(search_params), :class => 'selected filter' %></li>
        <li><%= link_to t('.results.content_type_filters.news'), search_path(search_params.merge(:type => 'news')), :class => 'filter' %></li>
        <li><%= link_to t('.results.content_type_filters.questions'), search_path(search_params.merge(:type => 'question')), :class => 'filter' %></li>
        <li><%= link_to t('.results.content_type_filters.proposals'), search_path(search_params.merge(:type => 'proposal')), :class => 'filter' %></li>
        <li><%= link_to t('.results.content_type_filters.images'), search_path(search_params.merge(:type => 'photo')), :class => 'filter' %></li>
        <li><%= link_to t('.results.content_type_filters.videos'), search_path(search_params.merge(:type => 'video')), :class => 'filter' %></li>
      </ul>
    <% end %>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">

  <div class="left">
    <% if action_name == 'show' %>
      <% if @contents_count > 5 %>
        <%= link_to t('.results.all', :count => @contents_count), contents_search_path(search_params), :class => 'right_arrow' %>
      <% end %>
    <% else %>
      <%= link_to t('.results.more'), contents_search_path(search_params), :class => :right_arrow %>
    <% end %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
