<% if @politicians.count > 0  %>
<article class="results with_footer">
<div class="inner">
  <header>
  <h2><%= t('.results.title', :count => @politicians.count) %></h2>
  </header>
  <div class="content">
    <ul class="suggestions">
      <% @politicians.each do |politician| %>
        <li>
        <%= avatar politician %>
        <div class="content">
          <%= link_to politician.fullname, path_for_user(politician), :class => :name %>
          <p><%= t('.results.title_area', :title => get_politician_title(politician), :area => politician.areas.map(&:name).join(', ')) %></p>
          <%= link_to t('.results.follow'), '/in_development' %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">

    <% if action_name == 'show' %>
      <% if @politicians.count > 10 %>
        <%= link_to t('.results.all', :count => @politicians.count), '/in_development', :right_arrow %>
      <% end %>
    <% else %>
      <% if @politicians.count > 10 %>
        <%= link_to t('.results.more'), '/in_development', :class => :down_arrow %>
      <% end %>
    <% end %>

  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
<% end %>
