<% if @citizens.count > 0  %>
<div class="article results with_footer">
<div class="inner">
  <header>
  <h2><%= t('.results.title', :count => @citizens.count) %></h2>
  </header>
  <div class="content">
    <ul class="suggestions">
      <% @citizens.each do |user| %>
        <li>
        <%= avatar user %>
        <div class="content">
          <%= link_to user.fullname, path_for_user(user), :class => :name %>
          <p><%= "#{user.city}, #{user.province}" %></p>
          <%= link_to t('.results.follow'), '/in_development' %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <% if action_name == 'show' %>
      <% if @citizens.count > 10 %>
        <%= link_to t('.results.all', :count => @citizens.count), '/in_development', :class => :right_arrow %>
      <% end %>
    <% else %>
      <% if @citizens.count > 10 %>
        <%= link_to t('.results.more'), '/in_development', :class => :right_arrow %>
      <% end %>
    <% end %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>
<% end %>
