<ul class="results">
  <% if @politicians.size > 0 %>
    <li class="politicians">
      <div class="summary"><h3><%= t('.politicians.summary.title') %></h3><%= link_to t('.politicians.summary.count', :count => @politicians_count), politicians_search_path(search_params) %></div>
    <ul>
      <% @politicians.first(2).each do |politician| %>
        <li>
        <%= avatar(politician,'medium') %>
        <%= link_to politician.truncated_fullname(25), path_for_user(politician), :class => :name %>
        <% if title = get_politician_title(politician) %>
          <span class="position"><%= t('.politicians.title_area', :title => title, :area => politician.areas.map(&:name).join(', ')) %></span>
        <% end %>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if @areas_found.size > 0 %>
    <li class="areas clearfix<%= ' no-border' if @politicians.size <= 0 %>">
    <div class="summary"><h3><%= t('.areas.summary.title') %></h3></div>
    <ul>
      <% @areas_found.first(2).each do |area| %>
        <li>
        <%= avatar area, :small %>
        <%= link_to area.name, area_path(area), :class => :name %>
        <span class="position">&nbsp;</span>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if @citizens.size > 0 %>
    <li class="users clearfix<%= ' no-border' if @politicians.size <= 0 and @areas_found.size <= 0 %>">
    <div class="summary"><h3><%= t('.users.summary.title') %></h3><%= link_to t('.users.summary.count', :count => @citizens_count), citizens_search_path(search_params) %></div>
    <ul>
      <% @citizens.first(2).each do |user| %>
        <li>
        <%= link_to (content_tag 'div', (image_tag(user.profile_image)), :class => "avatar medium"), path_for_user(user) if user.profile_image %>
        <%= link_to user.truncated_fullname(25), path_for_user(user), :class => :name %>
        <span class="position"><%= "#{user.city}, #{user.province}" %></span>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>

  <% if has_contents? %>
    <li class="contents clearfix<%= ' no-border' if @politicians.size <= 0 and @areas_found.size <= 0 and @citizens.size <= 0 %>">
    <div class="summary"><h3><%= t('.contents.summary.title') %></h3></div>
    <%= link_to t('.contents.count', :count => @contents_count[:total]), contents_search_path(search_params) %>
    </li>
  <% end %>
</ul>
