<div class="autosuggest">
  <div class="popover">
    <div class="scroll-pane">
      <ul>
        <% if @search_results[:areas] %>
          <% @search_results[:areas].each do |area| %>
            <li id="item_<%= area.id %>" data-type="area" data-id="<%= area.id %>" data-content="<%= area.name %>" class="area clearfix<%= ' last' if @search_results[:areas].last == area %>">
            <div class="bottom">
              <%= avatar area, 'small' %>
              <p>
              <span class="name"><%= area.name %></span>
              <span class="description"><%= t('.area_description') %></span>
              </p>
            </div>
            </li>
          <% end %>
        <% end %>
        <% if @search_results[:politicians] %>
          <% @search_results[:politicians].each do |politician| %>
            <li id="item_<%= politician.id %>" data-type="politician" data-id="<%= politician.id %>" data-content="<%= politician.fullname %>" " class="user clearfix">
            <%= avatar politician, 'small' %>
            <p>
            <span class="name"><%= politician.fullname %></span>
            <span class="description">
              <%= t('.title_area', :title => get_politician_title(politician), :area => politician.areas.first.name) if politician.areas.present? %>
            </span>
            </p>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="a_t"></div>
      <div class="a_f"></div>
    </div>
  </div>
</div>
