<div class="autosuggest">
  <ul>
    <% @areas.each do |area| %>
      <li id="area_<%= area.id %>" class="clearfix">
      <%= avatar area, 'small' %>
      <p>
      <span class="name"><%= area.name %></span>
      <span class="description"><%= t('.area_description') %></span>
      </p>
      </li>
    <% end %>
    <% @politicians.each do |politician| %>
      <li id="politician_<%= politician.id%>" class="clearfix">
      <%= avatar politician, 'small' %>
      <p>
      <span class="name"><%= politician.fullname %></span>
      <span class="description"><%= t('.title_area', :title => get_politician_title(politician), :area => politician.areas.first.name) %></span>
      </p>
      </li>
    <% end %>
  </ul>

  <div class="a_t"></div>
  <div class="a_f"></div>
</div>
