<%
  @follow        = follow if defined?(follow)
  @follow_parent = follow_parent if defined?(follow_parent)
  @button_class  = 'white_button'
  @button_class  = button_class if defined?(button_class)
  @label         = t(".#{@follow_parent.class.name.downcase}.follow", :name => @follow_parent.name, :count => @followers_count)
  @label         = button_label if defined?(button_label)
%>

<p class="form">
<%= form_for [@follow_parent, @follow], :remote => true, :html => {:'data-type' => 'html', :class => :follow } do |form| %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :follow_item_id %>
  <%= form.hidden_field :follow_item_type %>
  <%= content_tag :button, :type => 'submit', :class => "#{@button_class} add_person add_to_favorites" do %>
    <%= raw (content_tag(:span, '', :class => 'add') + @label) %>
  <% end -%>
<% end -%>
</p>
