<div id="proposals" class="article proposals with_filters with_footer">
  <div class="inner">
    <header class="clearfix">
    <div class="left">
      <h2><%= t(".title") %></h2>
    </div>
    <div class="right">

      <ul class="switch">
        <li class="selected"><%= link_to t('.more_recent'), link_for_proposals(:more_polemic => false), :class => 'filter' %></li>
        <li><%= link_to t('.more_commented'), link_for_proposals(:more_polemic => true), :class => 'filter' %></li>
      </ul>

    </div>
    </header>
    <div class="left">
      <div class="listing">
        <%= render 'shared/proposals_list' if @proposals %>
      </div>
    </div>

    <div class="right">
      <ul class="selector">
        <li class="selected"><%= link_to t('.filters.all'), link_for_proposals(:referer => action_name), :class => 'filter' %></li>
        <li><%= link_to t('.filters.by_you'), link_for_proposals(:as_author => true, :referer => action_name), :class => 'filter' %></li>
      </ul>
      <div class="proposal-support">
        <%= simple_format t('.proposal_support') %>
        <div class="count"> <div class="icon"></div>     <%= t('.proposal_support_count', :count => @proposals_in_favor_count) %></div>
      </div>
    </div>
  </div>
  <div class="bfooter">
    <div class="separator"></div>
    <div class="inner">
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
</div>
