<div id="questions" class="article questions with_filters">
<div class="inner">
  <header class="clearfix">
  <div class="left">
    <h2><%= t(".title", :count => @unanswered_questions_count) %></h2>
  </div>
  <div class="right">

    <ul class="switch">
      <li class="selected"><%= link_to t('.more_recent'), link_for_questions(:more_polemic => false, :referer => 'answered'), :class => 'filter' %></li>
      <li><%= link_to t('.more_polemic'), link_for_questions(:more_polemic => true, :referer => 'answered'), :class => 'filter' %></li>
    </ul>

  </div>
  </header>
  <div class="left">
    <div class="listing">
      <%= render 'shared/questions_list', :questions => @questions %>
    </div>
  </div>
  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.filters.all'), link_for_questions(:referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.filters.answered'), link_for_questions(:answered => true, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.filters.to_you'), link_for_questions(:to_you => true, :referer => action_name), :class => 'filter' %></li>
      <li><%= link_to t('.filters.to_your_area'), link_for_questions(:to_your_area => true, :referer => action_name), :class => 'filter' %></li>
    </ul>
  </div>
</div>
<div class="t"></div><div class="f"></div>
</div>
