<% content_for :header do %>
  <header>
  <%= link_to t(".back"), root_path(:datalogger => true), :class => "white_button left" %>
  <h2><%= t(".question", :count => @unanswered_questions_count ) %> </h2>
  </header>
<% end %>

<% if @unanswered_questions_count > 0 %>
<div id="main" class="<%= controller_name %> <%= action_name %>">
  <div class="content">

    <div class="article">
      <div class="inner">
        <div class="content">


        <ul>
        <% @unanswered_questions.each do |question| %>
          <%= render_list_element(question, "question_unanswered") %>
        <% end %>
        </ul>


        </div>
      </div>
      <div class="t"></div><div class="f"></div>
    </div>

  </div>
</div>
<% else %>
  <div class="no_questions">
  
  <p><%= t(".no_more_questions") %></p>
  <%= link_to t(".back_home"), root_path(:datalogger => true), :class => "white_button centered center" %>
  </div>
<% end %>
