<!-- Welcome article -->
<div class="article welcome">
<div class="inner">
  <div class="content">
    <div class="avatar">
      <%= avatar @user %>
    </div>
    <h1><%= t('.hi_again', :name => current_user.name) %></h1>
    <p>
      <%= t('.followers_count', :count => @followers_count) %>,
      <%= t('.new_followers_count', :count => @new_followers_count) %>
    </p>
  </div>
  <%= link_to t('.configure_your_account'), settings_user_path(current_user), :class => :config %>
</ul>
</div>

<div class="t"></div><div class="f"></div>
</div>
