<article class="help">
<div class="inner">
    <div class="info icon"></div>
    <div class="content">
        <h2>Aún no hay actividad tuya en Irekia.</h2>
        <p>Te invitamos a participar en el debate sobre las propuestas de otros usuarios de Irekia, a conversar con los cargos políticos del País Vasco, opinar sobre las noticias, etc. Toda tu actividad aparecerá aquí.</p>
        <a href="/in_development" class="white_button pink">Página de inicio</a>
    </div>
</div>
<div class="t"></div><div class="f"></div>
</article>



<article id="actions" class="actions with_filters with_footer">
<div class="inner">
  <header>
  <div class="left">
  <h2><%= t('.title') %></h2>
  </div>
  <div class="right">
    <ul class="switch">
      <li class="selected"><%= link_to t('.main_filters.more_recent'), link_for_actions(:more_polemic => false), :class => 'filter' %></li>
      <li><%= link_to t('.main_filters.more_polemic'), link_for_actions(:more_polemic => true), :class => 'filter' %></li>
    </ul>

  </div>
  </header>

  <div class="left">
    <div id="listing">
      <%= render 'shared/actions_list' if @actions %>
    </div>
      &nbsp;
  </div>

  <div class="right">
    <ul class="selector">
      <li class="selected"><%= link_to t('.content_type_filters.all'), link_for_actions(:type => nil), :class => "filter" %></li>
      <li><%= link_to t('.content_type_filters.news'), link_for_actions(:type => :news), :class => "filter" %></li>
      <li><%= link_to t('.content_type_filters.questions'), link_for_actions(:type => :question), :class => "filter" %></li>
      <li><%= link_to t('.content_type_filters.proposals'), link_for_actions(:type => :proposal), :class => "filter" %></li>
      <li><%= link_to t('.content_type_filters.images'), link_for_actions(:type => :image), :class => "filter" %></li>
      <li><%= link_to t('.content_type_filters.videos'), link_for_actions(:type => :video), :class => "filter" %></li>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to t('.more'), link_for_actions, :class => "right_arrow" %>
  </div>

</div>
</footer>
<div class="t"></div><div class="f"></div>
</article>
