<div class="article with_footer">
<div class="inner">
  <header>
  <h2><%= t('.title', :count => @followings_count) %></h2>
  <% if @followings_count == 0 -%>
  <p><%= t('.subtitle')  %></p>
  <% end -%>
  </header>
  <div class="content">
    <ul class="suggestions">
      <%#// AREAS%>
      <% @areas_following.first(9).each do |area| %>
        <li class="selected">
          <%= avatar area %>
          <div class="content">
            <%= link_to area.name, area_path(area), :class => :name %>
            <p><%= t('.area') %></p>
            <div class="follow basic">
              <%= render 'follows/destroy_mini', :follow => @areas_follows[area.id], :follow_parent => @user %>
            <div>
          </div>
        </li>
      <% end %>
      <% if @areas_following.present? && @users_following.present? -%>
        <hr/>
      <% end -%>
      <%#// USERS%>
      <% @users_following.first(9).each do |user| %>
        <li class="selected">
          <%= link_to avatar(user), path_for_user(user) %>
          <div class="content">
            <%= link_to user.fullname, path_for_user(user), :class => :name %>
            <p>
              <%= truncate(t('.title_and_area', :title => get_politician_title(user), :area => user.areas.map(&:name).to_sentence),:length => 25) %>
            </p>
            <div class="follow basic">
              <%= render 'follows/destroy_mini', :follow => @users_follows[user.id], :follow_parent => @user %>
            </div>
          </div>
        </li>
      <% end %>

      <%#// SUGGESTIONS%>
      <% if @users_following.count + @areas_following.count == 0%>
        <% @suggestions.each do |user| %>
          <li class="<%= 'selected' unless @suggestions_follows[user.id] && @suggestions_follows[user.id].new_record? %>">
            <%= link_to avatar(user), path_for_user(user) %>
            <div class="content">
              <%= link_to user.fullname, path_for_user(user), :class => :name %>
              <p><%= truncate(t('.title_and_area', :title => get_politician_title(user), :area => user.areas.map(&:name).to_sentence),:length => 25) %></p>

              <div class="follow basic">
              <% if @suggestions_follows[user.id] && @suggestions_follows[user.id].new_record? -%>
                <%= render 'follows/create_mini', :follow => @suggestions_follows[user.id], :follow_parent => user, :button_class => '', :button_label => t('.follow') %>
              <% else -%>
                <%= render 'follows/destroy_mini', :follow => @suggestions_follows[user.id], :follow_parent => user, :button_class => '' %>
              <% end -%>
              </div>

            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="bfooter">
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.all_profiles'), '/in_development', :class => "down_arrow" if @users_following.size > 9 or @areas_following.size > 9 %>
  </div>
</div>
</div>
<div class="t"></div><div class="f"></div>
</div>
