<!-- Welcome article -->
<article class="welcome">
<div class="inner">
  <div class="avatar">
    <%= avatar @user %>
  </div>
  <div class="content">
    <% if  @first_time -%>
      <h1><%= t('.hello', :name => current_user.name) %></h1>
    <% else -%>
      <h1><%= t('.hi_again', :name => current_user.name) %></h1>
    <% end -%>
    <% if @users_following.blank? && @areas_following.blank? -%>
      <p><%= t('.following_nobody') %></p>
    <% else -%>
      <p><%= raw t('.currently', :politicians => link_to(t('.politicians_following', :count => @users_following.count), "#") , :areas => link_to(t('.areas_following', :count => @areas_following.count), "#")) %></p>
    <% end -%>
  </div>
  <% if @first_time -%>
  <ul class="actions">
    <li class="follow">
      <h3><%= t('.first_time.follow.title') %></h3>
      <%= simple_format t('.first_time.follow.text') %>
      <%= link_to t('.first_time.follow.link'), '/in_development', :class => 'white_button blue' %>
    </li>
    <li class="collaborate">
      <h3><%= t('.first_time.participate.title') %></h3>
      <%= simple_format t('.first_time.participate.text', :make_questions_link => link_to(t('.first_time.participate.make_questions')), :launch_proposals_link => link_to(t('.first_time.participate.launch_proposals'))) %>
      <%= link_to t('.first_time.participate.link'), '/in_development', :class => 'white_button blue' %>
    </li>
    <li class="configure last">
      <h3><%= t('.first_time.configure.title') %></h3>
      <%= simple_format t('.first_time.configure.text') %>
      <%= link_to t('.first_time.configure.link'), '/in_development', :class => 'white_button blue' %>
    </li>
  </ul>
  <%= form_for @user, :remote => true, :html => {:class => 'close-welcome'} do |form| %>
    <%= form.hidden_field :first_time, :value => false %>
    <%= form.submit '', :class => 'close' %>
  <% end -%>
  <%= link_to t('.configure_your_account'), "/settings", :class => 'config first-time' %>
  <% else -%>
    <%= link_to t('.configure_your_account'), "/settings", :class => :config %>
  <% end -%>
</div>

<div class="t"></div><div class="f"></div>
</article>
