<div class="article with_footer">
<div class="inner">
  <header>
  <h2><%= t('.title', :name => @user.name) %></h2>
  </header>
  <div class="content">
    <ul class="suggestions">
      <% @areas_following.each do |area| %>
        <li>
          <%= avatar area %>
          <div class="content">
            <%= link_to area.name, area_path(area), :class => :name %>
            <p>
              <%= t('.area') %>
            </p>
            <div class="follow basic">
              <% if current_user -%>
                <% if @areas_follows[area.id].new_record? -%>
                  <%= render 'follows/create_mini', :follow => @areas_follows[area.id], :follow_parent => current_user %>
                <% else -%>
                  <%= render 'follows/destroy_mini', :follow => @areas_follows[area.id], :follow_parent => current_user %>
                <% end -%>
              <% end -%>
            </div>
          </div>
        </li>
      <% end %>
      <% if @areas_following.present? && @users_following.present? -%>
        <hr/>
      <% end -%>
      <% @users_following.each do |user| %>
        <li>
          <%= avatar(user) %>
          <div class="content">
            <%= link_to user.fullname, path_for_user(user), :class => :name %>
            <p>
              <%= t('.title_and_area', :title => get_politician_title(user), :area => user.areas.map(&:name).to_sentence) if user.politician? %>
            </p>
            <div class="follow basic">
              <% if current_user -%>
                <% if @users_follows[user.id].new_record? -%>
                  <%= render 'follows/create_mini', :follow => @users_follows[user.id], :follow_parent => current_user %>
                <% else -%>
                  <%= render 'follows/destroy_mini', :follow => @users_follows[user.id], :follow_parent => current_user %>
                <% end -%>
              <% end -%>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<footer>
<div class="separator"></div>
<div class="inner">
  <div class="left">
    <%= link_to t('.all_profiles', :name => @user.name), '/in_development', :class => "down_arrow" %>
  </div>
</div>
</footer>
<div class="t"></div><div class="f"></div>
</div>
