<div class="article with_footer">
<div class="inner">
  <header class="clearfix">
  <h2><%= raw t('.title') %></h2>
  </header>
  <div class="content">
    <ul class="suggestions">
      <% @suggestions.each do |user| %>
        <li class="<%= 'selected' unless @suggestions_follows[user.id] && @suggestions_follows[user.id].new_record? %>">
        <%= link_to avatar(user), path_for_user(user) %>
        <div class="content">
          <%= link_to user.fullname, path_for_user(user), :class => :name %>
          <p>
            <%= truncate(t('.title_and_area', :title => get_politician_title(user), :area => user.areas.map(&:name).to_sentence),:length => 25) %>
          </p>
          <div class="follow basic">
            <% if @suggestions_follows[user.id] && @suggestions_follows[user.id].new_record? -%>
              <%= render 'follows/create_mini', :follow => @suggestions_follows[user.id], :follow_parent => user, :button_class => '', :button_label => t('.follow') %>
            <% else -%>
              <%= render 'follows/destroy_mini', :follow => @suggestions_follows[user.id], :follow_parent => user, :button_class => '' %>
            <% end -%>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="bfooter">
<div class="separator"></div>
<div class="inner">
  <div class="right">
    <%= link_to "Más sugerencias", followings_user_path(@user), :class => "right_arrow" %>
  </div>
</div>
</div>
<div class="t"></div><div class="f"></div>
</div>
