<% if @questions.size == 0 -%>
  <div class="article help">
  <div class="inner">
    <div class="content centered clearfix">
      <div class="info icon"></div>
      <div class="message">
        <h2><%= t('users.public.no_questions.title', :user => @user.name) %></h2>
        <p><%= t('users.public.no_questions.description', :user => @user.name) %></p>
      </div>
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
  </div>

<% else -%>
  <div class="article questions with_filters">
  <div class="inner">
    <header>
    <div class="left">
      <h2><%= t(".title", :name => @user.name) %></h2>
    </div>
    <div class="right">

      <ul class="switch">
        <li class="selected"><%= link_to t('.more_recent'), link_for_questions(:more_polemic => false, :referer => 'all'), :class => 'filter' %></li>
        <li><%= link_to t('.more_polemic'), link_for_questions(:more_polemic => true, :referer => 'all'), :class => 'filter' %></li>
      </ul>

    </div>
    </header>
    <div class="left">
      <div class="listing">
        <%= render 'shared/questions_list' %>
      </div>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="t"></div><div class="f"></div>
  </div>
<% end %>