<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.fields_for :news_data do |news_data_form| %>
    <%= news_data_form.text_area :title %>
  <% end -%>
  <div class="actions">
    <%= form.hidden_field :moderated, :value => false, :disabled => true %>
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>

<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.fields_for :news_data do |news_data_form| %>
    <%= news_data_form.text_area :subtitle %>
  <% end -%>
  <div class="actions">
    <%= form.hidden_field :moderated, :value => false, :disabled => true %>
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>

<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.fields_for :news_data do |news_data_form| %>
    <%= news_data_form.text_area :body %>
  <% end -%>
  <div class="actions">
    <%= form.hidden_field :moderated, :value => false, :disabled => true %>
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>
