<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.fields_for :question_data do |question_data_form| %>
    <%= question_data_form.text_area :question_text %>
  <% end -%>
  <div class="actions">
    <%= form.hidden_field :moderated, :value => false, :disabled => true %>
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>
