<%= form_for [:admin, data], :remote => true, :html => {:'data-type' => 'html' } do |form| %>
  <%= form.fields_for :tweet_data do |tweet_data_form| %>
    <%= tweet_data_form.text_area :message %>
  <% end -%>
  <div class="actions">
    <%= form.hidden_field :moderated, :value => false, :class => 'moderated', :disabled => true %>
    <%= button t('admin.moderation.items_list_edit.reject'), :class => "reject white_button" %>
    <%= button t('admin.moderation.items_list_edit.validate'), :class => "white_button" %>
  </div>
<% end %>
