<article class="profile summary with_footer">
<div class="inner">
  <header>
  <h1><%= @politician.fullname %></h1>
  <p class="position">
  <%= raw t('.title', :title => get_politician_title(@politician), :areas => @politician.areas.map{|area| link_to area.name, area_path(area)}.join(', ')) %>
  </p>
  </header>

  <div class="left">
    <h3><%= t(".description.title") %></h3>
    <div class="description two_columns">
      <%= simple_format(@politician.description.truncate(258) + ' ' + link_to(t('.description.read_more'), '/in_development')) %>
    </div>
      <div id="follow">
        <% if @follow.new_record? -%>
          <%= render 'follows/create' %>
        <% else -%>
          <%= render 'follows/destroy' %>
        <% end -%>
      </div>
  </div>
</div>

<footer>
<div class="separator"></div>
<div class="inner with_avatar with_question">

  <%= image_tag @politician.profile_image_big, :class => "avatar xlAvatar" %>
  <h3>Pregunta a <%= @politician.name %></h3>

  <%= form_for @question, :remote => true, :html => {:'data-type' => 'html', :class => [:make_question, only_logged_class]} do |form| %>

    <%= form.fields_for :areas_contents, @question.areas_contents.first do |area_content_data| %>
      <%= area_content_data.hidden_field :area_id %>
      <%= area_content_data.hidden_field :content_id %>
    <% end -%>

    <%= form.fields_for :question_data, @question_data do |question_data| %>
      <%= question_data.hidden_field :user_id %>
      <div id="counter-124" class="input-counter placeholder">
        <span class="counter">140</span>
        <%= question_data.text_field :question_text, :class => :xlInput, :id => "ask-question" %>
        <span class="holder large">Haz una pregunta a <%= @politician.name %>...</span>
      </div>
      <input type="submit" value="Preguntar" id="submit-counter-124" class="disabled white_button" disabled="disabled" />
    <% end %>
  <% end %>

</div>
</footer>
<% if @follow.new_record? -%>
  <%= render 'follows/create_ribbon' %>
<% else -%>
  <%= render 'follows/destroy_ribbon' %>
<% end -%>
<div class="t"></div><div class="f"></div>
</article>

<% if user_signed_in? %>
  <% if flash[:notice] %>
    <% if flash[:notice] == :question_created %>
      <div class="question_sent">
        <p class="title"><%= t('.question_sent.success') %></p>
        <p><%= raw t('.question_sent.waiting_moderation', :review_link => link_to(t('.question_sent.review_link'), '#')) %></p>
      </div>
    <% elsif flash[:notice] == :question_failed %>
      <div class="question_failed">
        <p class="title"><%= t('.question_sent.fail') %></p>
        <p></p>
      </div>
    <% end %>
  <% end %>
<% end %>
