<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->

<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Irekia</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=1024">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <%= stylesheet_link_tag "style" %>
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>

  <%= csrf_meta_tag %>
  <%= yield :facebook_meta %>
</head>
<body class="<%= 'home' if (controller.controller_name=="home") %>">

  <%= render 'shared/sign_in' %>

  <div id="container">
    <header>
      <%= render 'shared/header' %>
      <% if controller.controller_name != "home" %>
        <nav>
          <%= render 'shared/nav_bar' %>
        </nav>
    <% end %>
    </header>
    <div id="main" class="<%= controller.controller_name %> <%= controller.action_name %>">
      <div class="content">
        <%= yield %>
        <%= render 'shared/floating_login' %>
      </div>
    </div>

    <% if controller.controller_name == "home" %>
      <section class="get_mobile_app">
        <div class="inner">
          <div class="left">
            <h5>¿Tienes un smartphone?</h5>
            <p>Accede a IREKIA a través de la aplicación Android o iPhone</p>
          </div>
          <div class="right">
            <ul>
              <li><a class="iphone" href="#iphone!">DISPONIBLE EN <span>App Store</span></a></li>
              <li><a class="android" href="#android!">DISPONIBLE EN <span>Android Market</span></a></li>
            </ul>
          </div>
        </div>
      </section>
    <% end %>
    <footer><%= render 'shared/footer' %></footer>
  </div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&region=ES&language=<%= I18n.locale %>" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <%= javascript_include_tag 'rails', 'libs/soundmanager2', 'libs/spin.min', 'helpers', 'temp', 'widgets', 'mylibs/politician_publish', 'mylibs/user_publish', 'mylibs/question', 'mylibs/proposal', 'mylibs/login',  'map', 'libs/jquery-ui-1.8.16.custom.min', 'plugins', 'libs/jquery.dropkick-1.0.0', 'application' %>

    <script type="text/javascript">
      soundManager.url = '/swf/';
      soundManager.debugMode = false;
    </script>

    <%= yield :js_data %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
