<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= page_title %></title>
    <meta name="viewport" content="width=1024">

    <%= stylesheet_link_tag "datamapper" %>
    <script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>

    <%= csrf_meta_tag %>
  </head>
  <body class="<%= 'home' if homepage? %>">

    <div id="container">
      <header>
      <nav>
      </nav>
      </header>

      <div id="main" class="<%= controller_name %> <%= action_name %>">
        <div class="content">
          <%= yield %>
        </div>
      </div>

      <footer></footer>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&region=ES&language=<%= I18n.locale %>" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
      <%= javascript_include_tag 'libs/soundmanager2' %>
      <script type="text/javascript">soundManager.url = '/swf/'; soundManager.debugMode = false; </script>
      <%= javascript_include_tag 'rails', 'libs/spin.min', 'helpers', 'temp', 'widgets', 'mylibs/remove_account', 'mylibs/politician_publish', 'mylibs/user_publish', 'mylibs/question', 'mylibs/proposal', 'mylibs/login',  'map', 'libs/jquery-ui-1.8.16.custom.min', 'plugins', 'libs/jquery.dropkick-1.0.0', 'application' %>
      <%= yield :js_data %>
    </body>
  </html>
