<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= page_title %></title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/datalogger_appicon@2x.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/datalogger_appicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/icons/datalogger_appicon.png">
    <link rel="shortcut icon" href="/images/icons/datalogger_appicon.png">
    <%= stylesheet_link_tag "datalogger" %>
    <script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>

    <%= csrf_meta_tag %>
  </head>
  <body class="<%= controller.controller_name %>-<%= controller.action_name %>">

    <div id="container">
      <%= yield :header %>
      <%= yield %>
      <footer></footer>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&region=ES&language=<%= I18n.locale %>" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
      <%= javascript_include_tag 'rails', 'libs/spin.min', 'helpers', 'datalogger' %>
      <%= yield :js_data %>
    </body>
  </html>
